<footer class="govuk-footer " role="contentinfo" style="background-color: #434142; padding-bottom: 200px;">
  <div class="govuk-width-container ">

  <div class="govuk-grid-row" id="footer">
    <div class="govuk-grid-column-two-thirds">
		<h4 class="govuk-heading-s">Something wrong or missing?</h4>
		<p class="govuk-body">This Manual is maintained by the VCS Emergencies Partnership Product Team at British Red Cross.
		<p>The team can be contacted on <span class="govuk-!-font-weight-bold">{% include "includes/contact-email-address.html" %}</span></p>
		<ul class="govuk-list">
	        <li id="footer-link"><a class="govuk-link" href="https://forms.office.com/Pages/ResponsePage.aspx?id=ujzc_l7KiEOoN7Rcfw1xt4p2iO6lNB9HqiDK9QBqA69UNk1RSFdHQjk4VlVFWjE5Q0hEREhKSFI0My4u" target="_blank">Give feedback about the manual</a></li>
    	</ul>
    </div>
    <div class="govuk-grid-column-one-third">
    	<h4 class="govuk-heading-s">Content and licensing</h4>
    	<p class="govuk-body" id="footer-link"><a class="govuk-link" href="https://github.com/HarryTrimble/support-line-operator-manual">View content and code for the manual on GitHub.</a></p>
	    <p class="govuk-body" id="footer-link">All content is licenced under <a class="govuk-footer__link" href="https://creativecommons.org/licenses/by/4.0/" rel="license">Creative Commons Attribution 4.0 International</a>.
	    </p>
    </div>
  </div>
</footer>
