<header id="brc-header" class="govuk-header " role="banner" data-module="govuk-header">
	<div class="govuk-header__container govuk-width-container" style="border-bottom: 0px;">

		<div class="govuk-grid-row">
		    <div class="govuk-grid-column-two-thirds">
				<div style="float: left; padding-top: 19px;">
					<img src="/public/images/vcsep-logo-1.png" alt="vcsep-logo" height="42" width="42">
					<h1 class="govuk-heading-l govuk-!-font-weight-regular" id="header-link" style="margin-bottom: 20px;">
						<a href="/" id="header-link">
						{% include "includes/website-name.html" %}</a>
					</h1>
				</div>
		    </div>
		    <!---<div class="govuk-grid-column-one-third" id="hide-on-mobile">
				<div style="float: right; padding-top: 27px;">
					<span class="govuk-caption-m govuk-!-font-size-14" style="color: #ffffff; text-align: right;">Call the free support line</span>
					<h1 class="govuk-heading-m" style="margin-bottom: 15px; text-align: right;">
						{% include "includes/phone-number.html" %}
					</h1>
				</div>
		    </div>--->
		</div>

 	</div>
</header>
