<header id="brc-header" class="govuk-header " role="banner" data-module="govuk-header">
	<div class="govuk-header__container govuk-width-container" style="border-bottom: 0px;">

		<div class="govuk-grid-row">
		    <div class="govuk-grid-column-two-thirds">
				<div style="float: left; padding-top: 19px;">
					<img src="//img1.wsimg.com/isteam/ip/3a793028-c4be-4bb1-ac4a-38157c70e533/VCSEP%20logo.jpg/:/cr=t:6.44%25,l:6.44%25,w:87.12%25,h:87.12%25/rs=w:400,cg:true,m" srcset="//img1.wsimg.com/isteam/ip/3a793028-c4be-4bb1-ac4a-38157c70e533/VCSEP%20logo.jpg/:/cr=t:6.44%25,l:6.44%25,w:87.12%25,h:87.12%25/rs=w:400,cg:true,m,
//img1.wsimg.com/isteam/ip/3a793028-c4be-4bb1-ac4a-38157c70e533/VCSEP%20logo.jpg/:/cr=t:6.44%25,l:6.44%25,w:87.12%25,h:87.12%25/rs=w:600,cg:true,m 1.5x,
//img1.wsimg.com/isteam/ip/3a793028-c4be-4bb1-ac4a-38157c70e533/VCSEP%20logo.jpg/:/cr=t:6.44%25,l:6.44%25,w:87.12%25,h:87.12%25/rs=w:800,cg:true,m 2x,
//img1.wsimg.com/isteam/ip/3a793028-c4be-4bb1-ac4a-38157c70e533/VCSEP%20logo.jpg/:/cr=t:6.44%25,l:6.44%25,w:87.12%25,h:87.12%25/rs=w:1200,cg:true,m 3x" alt="image15" data-ux="Image" data-aid="CONTENT_IMAGE1_RENDERED" class="x-el x-el-img c1-1 c1-2 c1-u c1-4 c1-q c1-r c1-17 c1-4n c1-3r c1-1r c1-b c1-c c1-d c1-1j c1-e c1-f c1-g x-d-ux x-d-aid">
					<h1 class="govuk-heading-l govuk-!-font-weight-regular" id="header-link" style="margin-bottom: 20px;">
						<a href="/" id="header-link">
						{% include "includes/website-name.html" %}</a>
					</h1>
				</div>
		    </div>
		    <!---<div class="govuk-grid-column-one-third" id="hide-on-mobile">
				<div style="float: right; padding-top: 27px;">
					<span class="govuk-caption-m govuk-!-font-size-14" style="color: #ffffff; text-align: right;">Call the free support line</span>
					<h1 class="govuk-heading-m" style="margin-bottom: 15px; text-align: right;">
						{% include "includes/phone-number.html" %}
					</h1>
				</div>
		    </div>--->
		</div>

 	</div>
</header>
