<header id="brc-header" class="govuk-header " role="banner" data-module="govuk-header">
	<div class="govuk-header__container govuk-width-container" style="border-bottom: 0px;">

		<div class="govuk-grid-row">
		    <div class="govuk-grid-column-full">
				<div>
					<img id="header-image" src="/public/images/vcsep-logo-1.png" alt="vcsep-logo" style="float: left; padding-right: 10px;">
					<span class="govuk-caption-m" style="color: #434142; font-size: 16px;">Request support as a local organisation</span>
					<h2 class="govuk-heading-l" style="color: #434142; margin-bottom: 15px;">Service Manual</h2>
				</div>
		    </div>
		</div>

 	</div>
</header>
