	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="@vcsep">
	<meta name="twitter:creator" content="@vcsep">
	<meta name="twitter:title" content="VCS EP Service Manual">
	<meta name="twitter:description" content="Managing voluntary and community organisation support requests
For liaison leads and information managers, VCS Emergencies Partnership 'Request support as a voluntary or community organisation' service.">
	<meta name="twitter:image" content="https://support-manual-vcsep.herokuapp.com/public/images/twitter-card.png">
