
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  NESL Operating Manual
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/call-handler">Call handler</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Principles</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Practical principles for answering calls</h1>

      <p class="govuk-body">The aim of the support line is:</p>

      <div class="govuk-panel govuk-panel--confirmation copy-box">
        <div class="govuk-panel__body">
          Make it easier for people in emergencies to talk to someone and access what they need
        </div>
      </div>

      <p class="govuk-body">We do this by following these practical principles for handling calls:</p>

      <ol class="govuk-list govuk-list--number">
        <li>Take your time</li>
        <li>Understand the situation</li> 
        <li>Don’t avoid hard subjects</li>
        <li>Feelings before forms</li>
        <li>Checklists not scripts</li>
        <li>Confirm next steps</li>
        <li>Under promise, over deliver</li>
        <li>People can call again</li>
        <li>Take breaks</li>
        <li>Look after your team</li> 
      </ol>

      <p style="margin-top: 10px;"><a href="/public/images/principles-poster.pdf" download>Download principles poster</a></p>

      {% include "includes/related-content.html" %}
      <ul class="govuk-list">
        <li id="homepage-link-list">
           {% include "nav-links/call-handler/start-calls.html" %}
        </li>
        <li id="homepage-link-list">
          {% include "nav-links/signposting.html" %}
        </li>
        <li id="homepage-link-list">
          {% include "nav-links/call-handler/finish-calls.html" %}
        </li>
        <li id="homepage-link-list">
          {% include "nav-links/call-handler/after-call.html" %}
        </li>       
      </ul>

    </div>
</div>

{% endblock %}
