// The unbranded stylesheet is used if you need to create pages in your
// prototype without the GOV.UK branding.
//
// See localhost:3000/docs/templates/blank-unbranded

// Import settings first so we can override them before importing all of GOV.UK Frontend
// If you need to enable compatibility mode or the legacy palette, do that *before* this import.
@import "node_modules/govuk-frontend/govuk/settings/all";

// Override the govuk-frontend font stack
$govuk-font-family: 'Roboto', sans-serif;

// Override the canvas background colour, which is normally grey to blend with the GOV.UK footer.
$govuk-canvas-background-colour: $govuk-body-background-colour;

@import "application";

@import "node_modules/govuk-frontend/govuk/all";

#brc-header {
  background-color: #ffffff;
  border-bottom: solid 2px #434142;
  padding-bottom: 10px;
}

#brc-header h1 {
  color: #434142;
}

#header-link a {
  text-decoration: none;
  color: #434142;
  font-weight: 700;
}

#header-link a:hover {
  text-decoration: underline;
  color: #434142;
}

#footer h4 {
  color: #ffffff;
}

#footer p {
  color: #ffffff;
}

#phase-tag {
  color: #ffffff;
  background-color: transparent;
  border: solid 1px #ffffff;
}

#phase-banner {
  color: #ffffff;
}

#phase-banner a {
  color: #ffffff;
}

#home-banner {
  background-color: #2184c1;
  border-bottom: 0px solid #b1b4b6;
  color: #ffffff;
}

#home-banner h1 {
  color: #ffffff;
}

#home-banner p {
  color: #ffffff;
}

#home-banner a {
  color: #ffffff;
}

#home-nav-link {
  margin-top: 0px;
  margin-bottom: 10px;
}

#status-banner {
  background: #f3f2f1;
  padding-bottom: 10px;
  border: solid 0px #fff;
}

#banner-container {
  border: solid 0px #fff;
  margin-bottom: 0px;
}

#status-banner p {
  margin-bottom: 0px;
}

#footer-link a {
  color: #ffffff;
}

#footer-link a:hover {
  text-decoration: none;
  color: #ffffff;
}

#related-links li {
  padding-bottom: 5px;
}

.govuk-footer {
  border-top: 0px;
}

#side-nav-signposting li {
  margin-bottom: 15px;
}

@media (max-width: 700px) {
    #hide-on-mobile {
        display: none;
    }
}

@media (min-width: 601px) {
    #header-image {
      height: 60px;
      width: 60px;
    }
}

@media (max-width: 600px) {
    #header-image {
      height: 42px;
      width: 42px;
    }
}

.make-invisible {
  display: none;
}

.copy-box {
  background-color: #ffffff;
  border: 2px solid #0b0c0c;
  text-align: left;
  color: #0b0c0c;
  font-size: 27px;
}

.copy-box div {
  font-size: 19px;
}

.align-centre {
  text-align: centre;
}

.black-button {
  background-color: #0b0c0c;
  color: #ffffff;
}

.black-button:hover {
  border: solid 3px #ffdd00;
  color: #0b0c0c;
  background-color: #fff;
}

.yellow-button-clicked {
  background-color: #ffdd00;
  color: #0b0c0c;
  box-shadow: 0 2px 0 #0b0c0c;
}

.yellow-button-clicked:hover {
  border: solid 3px #ffdd00;
  color: #0b0c0c;
}

.placeholder {
  background: #ffbf47;
  border: solid 1px #0b0c0c;
}

.cat-heading {
  font-size: 24px;
}

.search-tags {
  display: none;
}

.resp-container {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
}

.resp-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}
