
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Sharepoint for information managers | VCS EP service manual
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/using-sharepoint">Using SharePoint</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">SharePoint for information managers</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">SharePoint for new starters</h1>

      <p class="govuk-body">To get started on SharePoint, complete the information governance training provided by the British Red Cross on the International Federation of Red Cross and Red Crescent Societies (IFRC) e-learning platform.</p>
      <p>When you have completed the training, you will be sent log in details for SharePoint by the VCSEP 'Request support as a local organisation' information management team.</p>
      <p><a href="/data-sharing/information-governance-training">Access information governance training instructions</a></p>

      <hr class="govuk-section-break govuk-section-break--visible">
      <br>
      <h3 class="govuk-heading-m">Related content</h3>

      <ul class="govuk-list">
        <li>
          <a href="/using-sharepoint/glossary-of-terms">Definitions of request statuses in SharePoint</a>
        </li>
        <li>
          <a href="/using-sharepoint/reviewing-requests">Reviewing requests marked '2. Review'</a>
        </li>
      </ul>

    </div>
</div>

{% endblock %}
