
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Glossary | Service Manual
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/using-sharepoint">Using SharePoint</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Glossary of Terms for SharePoint</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Glossary of terms</h1>
      <h2 class="govuk-heading-l">New request</h1>
      <p class="govuk-body">Request has been submitted through the ‘Request support as a voluntary or community organisation’ service online, but has not yet been picked up by the Liaison Lead or Information Manager.</p>
      <h2 class="govuk-heading-l">Review</h1>
      <p class="govuk-body">Request has been picked up by Information Manager and assigned to an area and Liaison Lead for local follow up and details checking.</p>
       <h2 class="govuk-heading-l">Escalated to Tactical Cell</h1>
      <p class="govuk-body">Request has been checked by Liaison Lead and needs to be brokered at the Regional Tactical Cell meeting.</p>
       <h2 class="govuk-heading-l">Broker found</h1>
      <p class="govuk-body">Request has had a broker assigned at the Regional Tactical Cell meeting, who now is actioning the request.</p>
       <h2 class="govuk-heading-l">Closed</h1>
      <p class="govuk-body">Request has been brokered and sufficient support provided to local organisation to fulfil it.</p>
       <h2 class="govuk-heading-l">Resolved locally</h1>
      <p class="govuk-body">Support for this request can be met locally.</p>

    <hr class="govuk-section-break govuk-section-break--visible">
    <br>
    <h3 class="govuk-heading-m">Related content</h3>

    <ul class="govuk-list">
      <li>
        <a href="/using-sharepoint/sharepoint-for-information-managers">SharePoint for information managers</a>
      </li>
      <li>
        <a href="/using-sharepoint/sharepoint-for-liaison-leads">SharePoint for liaison leads</a>
      </li>
      <li>
        <a href="/using-sharepoint/glossary-of-terms">Glossary of terms</a>
      </li>
      <li>
        <a href="/using-sharepoint/reviewing-requests">Reviewing requests marked 'Review'</a>
      </li>
    </ul>

      </div>
</div>

{% endblock %}
