
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Glossary | VCS EP service manual
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/using-sharepoint">Using SharePoint</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Definitions of request statuses in SharePoint</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Definitions of request statuses in SharePoint</h1>

      <h2 class="govuk-heading-l">1. New request</h1>
        <p class="govuk-body">A new request has been submitted to an information manager through the ‘Request support as a voluntary or community organisation’ online service. It needs to be passed on to a liaison lead for triage.</p>

      <h2 class="govuk-heading-l">2. Review</h1>
        <p>A liaison Lead needs to check locally before further action is taken on the request.</p>

      <h2 class="govuk-heading-l">3. Exploring local</h1>
        <p>The request is being handled locally.</p>

      <h2 class="govuk-heading-l">4. Escalated to MAC</h1>
        <p>The request cannot be met locally and needs brokering at next Multiagency Cell (MAC) meeting.</p>

        <h2 class="govuk-heading-l">5. More information</h1>
          <p>The request requires more information from the requesting organisation before a broker can be assigned.</p>

      <h2 class="govuk-heading-l">6. Broker found</h1>
        <p>A broker has been assigned to the request at the Multiagency Cell meeting. The information manager should transfer the request to that broker.</p>

 <h2 class="govuk-heading-l">7. Escalate to SCG</h1>
        <p>No broker was able to supply support. The request should be pushed to a national level, through the Strategic Coordination Group (SCG).</p>

      <h2 class="govuk-heading-l">8. SCG response</h1>
        <p>The SCG has reported back on the request. The action they have taken is in the SCG response comment box.</p>

      <h2 class="govuk-heading-l">9. Closed</h1>
        <p>Request is finished, no further action will be taken on it.</p>

    <hr class="govuk-section-break govuk-section-break--visible">
    <br>
    <h3 class="govuk-heading-m">Related content</h3>

    <ul class="govuk-list">
      <li>
        <a href="/using-sharepoint/sharepoint-for-information-managers">SharePoint for information managers</a>
      </li>
      <li>
        <a href="/using-sharepoint/sharepoint-for-liaison-leads">SharePoint for liaison leads</a>
      </li>
      <li>
        <a href="/using-sharepoint/reviewing-requests">Reviewing requests marked 'Review'</a>
      </li>
    </ul>

      </div>
</div>

{% endblock %}
