{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Using SharePoint | VCS EP service manual
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Using SharePoint</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Using SharePoint</h1>
      <p class="govuk-body">SharePoint is the database used to store all information on requests for support from the service.</p>


      <ul class="govuk-list">
        <li>
          <a href="/using-sharepoint/sharepoint-for-information-managers">SharePoint for information managers</a>
        </li>
        <li>
          <a href="/using-sharepoint/sharepoint-for-liaison-leads">SharePoint for liaison leads</a>
        </li>
        <li>
          <a href="/using-sharepoint/glossary-of-terms">Definitions of request statuses in SharePoint</a>
        </li>
        <li>
          <a href="/using-sharepoint/reviewing-requests">Reviewing requests marked 'Review'</a>
        </li>
      </ul>

    </div>
</div>

{% endblock %}
