{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Using SharePoint | Service Manual
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Requests marked 'Review'</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Requests marked 'Review'</h1>
      <p class="govuk-body">During launch 2 of the service, liaison leads will be required to review requests assigned to them marked 'Review'. Instructions on how to view these in SharePoint to follow.</p>
     <hr class="govuk-section-break govuk-section-break--visible">
     <br>
     <h3 class="govuk-heading-m">Related content</h3>

     <ul class="govuk-list">
       <li>
         <a href="/using-sharepoint/sharepoint-for-information-managers">SharePoint for information managers</a>
       </li>
       <li>
         <a href="/using-sharepoint/sharepoint-for-liaison-leads">SharePoint for liaison leads</a>
       </li>
       <li>
         <a href="/using-sharepoint/glossary-of-terms">Glossary of terms</a>
       </li>
       <li>
         <a href="/using-sharepoint/reviewing-requests">Reviewing requests marked 'Review'</a>
       </li>
     </ul>

    </div>
</div>

{% endblock %}
