
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Intro video | BRC support line manual
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/using-sharepoint">Using SharePoint</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">SharePoint for information managers</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">SharePoint for information managers</h1>

      <p class="govuk-body">To get started on SharePoint, complete the information governance training provided by the British Red Cross on the International Federation of Red Cross and Red Crescent Societies e-learning platform.</p>
      <p>When you have completed the training, you will be sent log in details for SharePoint by the VCSEP 'Get support as a local organisation' service team.</p>
      <p><a href="/data-sharing/information-governance-training">Information governance training instructions</a></p>

      <ul class="govuk-list">
        <li>
          <a href="/using-sharepoint/sharepoint-for-information-managers">SharePoint for information managers</a>
        </li>
        <li>
          <a href="/using-sharepoint/glossary-of-terms">Glossary of terms</a>
        </li>
      </ul>

    </div>
</div>

{% endblock %}
