{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Liaison leads for COVID-19 response | VCS EP service manual
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/being-a-cell-lead">Being a liaison lead</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Liaison leads for COVID-19 response</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Cell leads for COVID-19 response</h1>

      <p class="govuk-body">Cell leads are responsible for coordinating multiagency cells in 5 regions across England: North, Midlands, South West, South East and London.</p>

      <p><a href="/useful-contacts/cell-leads">Find out how to access cell leads contact details and areas</a></p>
      <hr class="govuk-section-break govuk-section-break--visible">
      <br>
      <h3 class="govuk-heading-m">Related content</h3>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="/being-a-cell-lead/step-by-step-cell-leads">Step-by-step for cell leads</a>
        </li>
        <li>
          <a href="/being-a-cell-lead/what-is-a-cell-lead">What is a cell lead?</a>
        </li>
        <li>
          <a href="/being-a-cell-lead/how-cell-leads-work">How cell leads work</a>
        </li>
      </ul>

    </div>
</div>

{% endblock %}
