{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  How liaison leads work | VCS EP service manual
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/being-a-cell-lead">Being a liaison lead</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">How cell leads work</a>
      </li>
    </ol>
 </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">How cell leads work</h1>
          <p>Cell leads are responsible for chairing and convening multiagency cell (MAC) meetings in their region:</p>

          <p><strong>Reporting to:<strong>Strategic Coordination Group</p>
            <p><strong>Matrix reports (during a crisis):<strong>Broker, Information Manager, Community Engagement Mangers</p>


            <h3 class="govuk-heading-m">Cell leads:</h3>
      <ul class="govuk-list govuk-list--bullet">
        <li>ensure that the brokering meetings are efficient, and outcome focused</li>
        <li>ensure collaborative working across the sector within the tactical cell to meet unmet need.</li>
        <li>ensure that Multi-agency cells are representative of the communities they are representing and operating with and the cell has appropriate broker capability to meet requests.</li>
        <li>decide which organisation is best placed to fulfil the request, where consensus cannot be reached during brokering.</li>
        <li>ensure partner organisations that accept a brokered request, confirm it can be fulfilled, and where necessary re-broker in the cell.</li>
        <li>ensure risk, actions, issues and decisions logs are maintained.</li>
        <li>are responsible for ensuring the standing up/down procedures are managed promptly.</li>
        <li>are responsible for calling ad hoc urgent meetings when required.</li>
      </ul>
      <h3 class="govuk-heading-m">Monitoring responsibilities:</h3>
      <li>ensure that Stakeholder Engagement Managers are working closely with Liaison Leads and Local Resilience Forums to provide the best supporting network to the Multi-agency cell.</li>
      <li>escalate requests which cannot be met within the tactical cell to Strategic Coordination Group.</li>
      <li>ensure that all Multi-agency cell members are compliant with IG and training requirements when onboarded by the Stakeholder Engagement Managers.</li>
<br>
<br>

      <hr class="govuk-section-break govuk-section-break--visible">
      <br>
      <h3 class="govuk-heading-m">Related content</h3>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="/being-a-cell-lead/step-by-step-cell-leads">Step-by-step for cell leads</a>
        </li>
        <li>
          <a href="/being-a-cell-lead/what-is-a-cell-lead">What is a cell lead?</a>
        </li>
        <li>
          <a href="/being-a-cell-lead/cell-leads-covid-19">Cell leads for COVID-19 response</a>
        </li>
      </ul>

    </div>
</div>

{% endblock %}
