
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Liaison leads role: step by step | VCS EP service manual
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/being-a-liaison-lead">Being a liaison lead</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Liaison lead role: step by step</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Cell lead role: step by step</h1>
<hr>
<br>
<br>
      <h3 class="govuk-heading-m">Step 1. View service introduction slides</h3>
        <p><a href="https://docs.google.com/presentation/d/1CAKmqVsQ6uY3DYsjCSsEllePQleIdRDUKDfsl_WW1Hw/edit#slide=id.g8899daa8e9_0_519">Slides from the service introduction training.</a></p>
      <br>
      <br>
      <h3 class="govuk-heading-m">Step 2. Log into SharePoint</h3>
      <p class="govuk-body">When you have attended a service induction session, you will should have oversight of some of the working processes of the different MAC members and your role in the cell.</p>
      <p class="govuk-body">You have edit access to SharePoint.</p>

      <p><a href="/using-sharepoint/getting-started-sharepoint">Getting started on SharePoint.</a></p>
      <br>
      <br>
      <h3 class="govuk-heading-m">Step-by-step to be continued...</h3>
      <br>
      <br>
        <br>
        <br>


      <hr class="govuk-section-break govuk-section-break--visible">
      <br>
      <h3 class="govuk-heading-m">Related content</h3>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="/being-a-liaison-lead/what-is-a-liaison-lead">What is a liaison lead?</a>
        </li>
        <li>
          <a href="/being-a-liaison-lead/how-liaison-leads-work">How liaison leads work</a>
        </li>
        <li>
          <a href="/being-a-liaison-lead/liaison-leads-covid-19">Liaison leads for COVID-19 response</a>
        </li>
      </ul>


    </div>
</div>

{% endblock %}
