{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Equipment | BRC support line manual
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Support for operators</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Support for operators</h1>

      <p class="govuk-body">Whether you are a supervisor or an operator it is vital that you take personal responsibility for looking after yourself.</p>

      <p class="govuk-body">Work of this nature has the potential for being upsetting, especially when one considers the cumulative aspects. Its cumulative effects coupled with juggling the usual home and work commitments, can be stressful. All those in a helping capacity must be pro-active in caring for themselves.</p>

      <p class="govuk-body">It is especially important:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>take breaks</li>
        <li>get lots of rest</li>
        <li>talk through problems, concerns and feelings with others</li>
      </ul>

      <h3 class="govuk-heading-m">Available support and advice</h3>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="/support-for-operators/debriefing">Debriefing</a>
        </li>
        <li>
          <a href="/support-for-operators/support-line-for-operatiors">Support line for operators</a>
        </li>
        <li>
          <a href="/support-for-operators/stress-management">Tips for stress management</a>
        </li>
      </ul>

      <h3 class="govuk-heading-m">Supervisors</h3>   

      <p class="govuk-body">Supervisors may be tempted to forget their own well-being, but is equally important for them to look after themselves and seek support from other supervisors or their line manager.</p>

    </div>
</div>

{% endblock %}
