{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Stress management | BRC support line manual
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/support-for-operators">Support for opertors</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Stress management</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Tips for stress management</h1>

      <p class="govuk-body">The six ‘R’s of stress management</p>

      <h3 class="govuk-heading-m">1. Responsibility</h3>  

      <ol class="govuk-list govuk-list--bullet">
        <li>You are in control</li>
        <li>Establish priorities</li>
        <li>Say No</li>
        <li>Avoid ‘should’, ‘ought’ and ‘must’. Clarity is particularly important when supporting people in crisis, both for the wellbeing of the caller and the operator. </li>
      </ol>

      <h3 class="govuk-heading-m">2. Reflection</h3> 

      <ol class="govuk-list govuk-list--bullet">
        <li>Know your stress triggers</li>
        <li>Be aware of stress symptoms</li>
        <li>Check the balance in your life</li>
      </ol>

      <h3 class="govuk-heading-m">3. Relaxation</h3>

      <ol class="govuk-list govuk-list--bullet">
        <li>Do something good for you</li>
        <li>Schedule time out</li>
        <li>Sit down, do nothing, learn to relax</li>
      </ol>

      <h3 class="govuk-heading-m">4. Relationships</h3>

      <ol class="govuk-list govuk-list--bullet">
        <li>Maintain supportive relationships</li>
        <li>Manage your relationships</li>
        <li>Improve your relationship with yourself</li>
      </ol>

      <h3 class="govuk-heading-m">5. Refuelling</h3>

      <ol class="govuk-list govuk-list--bullet">
        <li>Eat a balanced diet with high fibre, low salt and low cholesterol</li>
        <li>Be aware of poisons: caffeine, fats, nicotine, excessive alcohol</li>
      </ol>

      <h3 class="govuk-heading-m">6. Recreation</h3>

      <ol class="govuk-list govuk-list--bullet">
        <li>Have hobbies and interests</li>
        <li>Laugh</li>
        <li>Have fun</li>
        <li>Enjoy life</li>
      </ol>

    </div>
</div>

{% endblock %}
