
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Briefing note | BRC support line manual
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/shifts-briefings">Shifts and briefings</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Briefings</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Briefings</h1>

      <p class="govuk-body">Before each shift you and other operators will have a briefing with your supervisor.</p> 

      <p class="govuk-body">Briefings include:</p> 

      <ol class="govuk-list govuk-list--bullet">
        <li>
          Daily updates about the support line
        </li>
        <li>
          Checks operators are ready to answer calls
        </li>
        <li>
          Opprtunity for operators to ask question before the shift starts
        </li>
      </ol>

      <h3 class="govuk-heading-m">Briefing times and video links</h3>

      <p class="govuk-body">Briefings take place 15 minutes before your shift.</p> 

      <ol class="govuk-list govuk-list--bullet">
        <li>
          09:45 - AM shift briefing
        </li>
        <li>
          13:45 - PM shift briefing
        </li>
      </ol>

      <p class="govuk-body">A <a href="/equipment/zoom-video-calls">Zoom video call</a> link to join briefings will be emailed to you along with other shift details.</p>

    </div>
</div>

{% endblock %}
