
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  De-briefings | BRC support line manual
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/shifts-briefings">Shifts and briefings</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">De-briefings</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">De-briefings after your shift</h1>

      <p class="govuk-body">After each shift you and other operators will have a de-briefing with your supervisor.</p> 

      <p class="govuk-body">De-briefings include:</p> 

      <ol class="govuk-list govuk-list--bullet">
        <li>Individual callers to follow up with</li>
        <li>Technical issues</li>
        <li>Types of calls received – brief discussions</li>
        <li>How are operators/supervisors?</li>
        <li>Seeking further support</li>
        <li>Any other feedback</li>
        <li>Thank you to everyone</li>
      </ol>

      <h3 class="govuk-heading-m">Briefing times and video links</h3>

      <p class="govuk-body">De-briefings take place for 15 minutes after your shift.</p> 

      <ol class="govuk-list govuk-list--bullet">
        <li>
          14:00 - AM shift debrief
        </li>
        <li>
          18:00 - PM shift debrief
        </li>
      </ol>

      <p class="govuk-body">A <a href="/equipment/zoom-video-calls">Zoom video call</a> link to join de-briefings will be emailed to you along with other shift details.</p>

    </div>
</div>

{% endblock %}
