
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Rota | BRC support line manual
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/shifts-briefings">Shifts and briefings</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Rota</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Shifts rota</h1>

      <p class="govuk-body">Sign up for and check times for upcoming shifts on the support line.</p> 

      <div style="width:100%; text-align:left;" ><iframe  src="https://www.eventbrite.co.uk/calendar-widget?eid=102281071438&showPrivate=1&sig=AGbIMNyJA2vqGZ6UuRnb7Z1VtqLqmAFn2Q" frameborder="0" height="396" width="195" marginheight="0" marginwidth="0" scrolling="no" allowtransparency="true"></iframe><div style="font-family:Helvetica, Arial; font-size:12px; padding:10px 0 5px; margin:2px; width:195px; text-align:center;" ></div></div>

    </div>
</div>

{% endblock %}
