{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  NESL Operating Manual
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/personal-information">Personal information</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Consent</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Consent to collect and share information</h1>

      <p>People giving consent to collect and share information has three steps:</p>

      <ul class="govuk-list govuk-list--number">
        <li>
          They've been told <a href="/personal-information/what-to-collect">what information is collected</a> 
        </li>
        <li>
          They've been told <a href="/personal-information/explaining-use">who information is shared with and why</a>
        </li>
        <li>
          Their consent has been <a href="/personal-information/forms">recorded in a safe place</a>
        </li>
      </ul>


      {% include "includes/related-content.html" %}
      <ul class="govuk-list">
        <li id="homepage-link-list">
          {% include "nav-links/personal-information/what-to-collect.html" %}
        </li>
        <li id="homepage-link-list">
          {% include "nav-links/personal-information/explaining-use.html" %}
        </li>
        <li id="homepage-link-list">
          {% include "nav-links/personal-information/forms.html" %}
        </li>         
      </ul>

    </div>
</div>

{% endblock %}
