
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  NESL Operating Manual
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/personal-information">Personal information</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Explaining use</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Explaining how information will be used</h1>

      <h3 class="govuk-heading-m">Fair processing notice</h3>
      <p>Include this information as part of your call.</p>
      <div class="govuk-panel govuk-panel--confirmation copy-box">
        <div class="govuk-panel__body CopyThisText">
          Our service is confidential and we will only share information about you without your consent if we’re worried about your safety or someone else’s safety, or if we are required to by law.
        </div>
      </div>
      
      {% include "includes/copy-button.html" %}

      <h3 class="govuk-heading-m">Get specific</h3>

      <p>Explain to callers when information will be shared with other organisations.</p>

      <p>For example if someone wants tempoary accommodation, explain that to try and get them this support personal information will be shared with the local council.</p>

      <p class="govuk-body">When explaining specific sharing make sure you:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Say which organisation provides the support</li>
        <li>Explain why information needs to be shared with them</li>
        <li>Check whether the caller is willing to share the information</li>
      </ul>

      {% include "includes/related-templates.html" %}

      <ul class="govuk-list">
        <li id="homepage-link-list">
          {% include "nav-links/personal-information/what-to-collect.html" %}
        </li>
        <li id="homepage-link-list">
          {% include "nav-links/personal-information/consent.html" %}
        </li>
        <li id="homepage-link-list">
          {% include "nav-links/personal-information/forms.html" %}
        </li>
      </ul>

    </div>


  </div>

{% endblock %}
