{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Forms | BRC support line manual
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/personal-information">Personal information</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Forms</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Record information from calls</h1>

      <p class="govuk-body">Fill out this form for each call you answer.</p>

      <p>Collecting information online will speed up how fast information can be used to help get people other support.</p>

      <a id="button" class="govuk-button black-button" href="https://forms.office.com/Pages/ResponsePage.aspx?id=ujzc_l7KiEOoN7Rcfw1xt0pZ5WuNlidPpisDzCMUR9VURDVPODFLRFQ5OU80Rlo4NEowVU1TTVJGViQlQCN0PWcu" target="_blank">Fill out online form</a></p>

      {% include "includes/related-content.html" %}
      <ul class="govuk-list">
        <li id="homepage-link-list">
          {% include "nav-links/personal-information/what-to-collect.html" %}
        </li>
        <li id="homepage-link-list">
          {% include "nav-links/personal-information/explaining-use.html" %}
        </li>
        <li id="homepage-link-list">
          {% include "nav-links/personal-information/consent.html" %}
        </li>      
      </ul>

    </div>
</div>

{% endblock %}
