{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Forms | BRC support line manual
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/personal-information">Personal information</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Forms</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Record information from calls</h1>

      <p class="govuk-body">Use this form to:</p>

      <ol class="govuk-list govuk-list--bullet">
        <li>Record useful from the call</li>
        <li>Refer someone for urgent practical supoort from our regional teams</li>
      </ol>      

      <p>Collecting information online will speed up how fast information can be used to help get people other support.</p>

      <a id="button" class="govuk-button black-button" href="https://forms.office.com/Pages/ResponsePage.aspx?id=ujzc_l7KiEOoN7Rcfw1xt5kGY0JVEcBGpeViRFdNpWNUOENYTjdZVlVQQ09FVlNWOEROTUxEMVlIMi4u" target="_blank">Fill out online form</a></p>

    </div>
</div>

{% endblock %}
