{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  NESL Operating Manual
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Personal information</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Collecting personal information</h1>

      <p class="govuk-body">Forms and guidance for collecting personal information:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="/personal-information/note-taking">Note taking</a>
        </li>
        <li>
          {% include "nav-links/personal-information/what-to-collect.html" %}
        </li>
        <li>
          {% include "nav-links/personal-information/explaining-use.html" %}
        </li>
        <li>
          {% include "nav-links/personal-information/consent.html" %}
        </li>
        <li>
          {% include "nav-links/personal-information/forms.html" %}
        </li>
      </ul>

    </div>
</div>

{% endblock %}
