{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  NESL Operating Manual
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/personal-information">Personal information</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">What to collect</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">What personal information to collect</h1>

      <p class="govuk-body">The National Emergencies Support Line only collects the minimum information needed to give people support.</p>

      <p>Personal information collected:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          Name of person calling
        </li>
        <li>
          Number of adults and children affected
        </li>
        <li>
          Whether people are vulnerable, for example pregnant or impaired mobility
        </li>
        <li>
          What support people immediately need. For example temporary accommodation or replacement medicine 
        </li>
        <li>
          Home address postcode to refer to local services
        </li>
        <li>
          Location that has been affected
        </li>
        <li>
          Location people are when they call
        </li>
        <li>
          Location people are staying that night
        </li>
        <li>
          Phone number
        </li>
        <li>
          Email address
        </li>
        <li>
          Contact preference. For example text message or phone call
        </li>
        <li>
          Can we leave a message to follow-up
        </li>
        <li>
          Consent to collect and share information
        </li>
      </ul>

      {% include "includes/related-content.html" %}
      <ul class="govuk-list">
        <li id="homepage-link-list">
          {% include "nav-links/personal-information/explaining-use.html" %}
        </li>
        <li id="homepage-link-list">
          {% include "nav-links/personal-information/forms.html" %}
        </li>
        <li id="homepage-link-list">
          {% include "nav-links/personal-information/consent.html" %}
        </li>      
      </ul>

    </div>
</div>

{% endblock %}
