
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Check what you need | BRC support line manual
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Check what you need</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Check what you need to be an operator</h1>

      <h3 class="govuk-heading-m">Training and checks you need</h3>

      <p class="govuk-body">Operators must have this training and these checks:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>Red Cross CALMER training</li>
        <li>DBS criminal check</li>
        <li>Support line training</li>
        <li>You’re a registered British Red Cross volunteer or staff</li>
      </ul>

      <h3 class="govuk-heading-m">Skills you need</h3>

      <p class="govuk-body">Operators must have these skills:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>You can actively listen to someone and not interrupt them</li>
        <li>You don’t want to give all the answers</li>
        <li>You understand you'll answer <a href="/training/difficult-calls">difficult calls</a></li>
        <li>You can stick to a process designed for people’s safety and wellbeing</li>
      </ul>

      <h3 class="govuk-heading-m">Equipment you need</h3>

      <p class="govuk-body">Operator will need this equipment to answer support line calls:</p>

      <ol class="govuk-list govuk-list--bullet">
        <li>A quiet, private space, you won't be interrupted in</li>
        <li>A landline phone or mobile phone with signal</li> 
        <li>A computer connected to The Internet</li>
        <li>Headphones, if you have some. Frees up your hand for <a href="/personal-information/note-taking">note taking</a>, <a href="/signposting">signposting to other services</a> and other tasks you might need to do on calls</li>
      </ol>

      {% include "includes/related-content.html" %}
      <ul id="related-links" class="govuk-list">
        <li>
          <a href="/step-by-step">Being an operator: step by step</a>
        </li>  
        <li>
          <a href="/register-volunteer">Register as a volunteer</a>
        </li>    
        <li>
          <a href="/equipment/setup-phone">Set up your phone ready to answer calls</a>
        </li>
        <li>
          <a href="/equipment/how-to-answer">How to answer calls with your phone</a>
        </li>
        <li>
          <a href="/equipment/stop-calls">Stop getting support line calls</a>
        </li>
      </ul>


    </div>
</div>

{% endblock %}
