
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Information managers for COVID-19 | VCS EP service manual
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/being-an-information-manager">Being an information manager</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Information managers for COVID-19 response</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Information managers for COVID-19 response</h1>
  <p class="govuk-body">Information managers operate across 5 regions in England: North, Midlands, South West, South East and London.</p>

      <p><a href="/useful-contacts/information-managers">Find out how to access information manager contact details and areas</a></p>
  <hr class="govuk-section-break govuk-section-break--visible">
<br>
<h3 class="govuk-heading-m">Related content</h3>
  <ul class="govuk-list">
    <li>
      <a href="/being-an-information-manager/information-managers-step-by-step">Step-by-step for information managers</a>
    </li>
  <li>
    <a href="/being-an-information-manager/what-is-an-information-manager">What is an information manager?</a>
  </li>
  <li>
    <a href="/being-an-information-manager/how-information-managers-work">How information managers work</a>
  </li>
</ul>

    </div>
</div>

{% endblock %}
