
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
   | VCS EP service manual
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/being-an-information-manager">Being an information manager</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Information manager role: step by step</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Information manager role: step by step</h1>
    <p class="govuk-body">We are launching this service in phases.</p>
    <p class="govuk-body"><strong>Phase 1:</strong> only liaison leads will be able to submit requests, on behalf of a local community or voluntary organisation.</p>
    <p><strong>Phase 2:</strong> local community or voluntary organisations to make requests for support themselves, directly.</p>
<hr>
<h3 class="govuk-heading-m">Step 1. Complete information governance training</h3>
        <p class="govuk-body">Complete the British Red Cross information governance training, on the International Federation of Red Cross and Red Crescent Societies (IFRC) e-learning platform.</p>
      <p><a href="/data-sharing/information-governance-training">Access information governance training instructions</a></p>
      <br>
      <br>
    <h3 class="govuk-heading-m">Step 2. Complete SharePoint training for information managers</h3>
    <p class="govuk-body">You will trained and provided with guidance by British Red Cross information managers.</p>
    <p><a href="/using-sharepoint/sharepoint-for-information-managers">Access SharePoint resources for information managers<a></p>
      <br>
      <br>
    <h3 class="govuk-heading-m">Step 3. Attend service introduction training</h3>
    <p><a href="https://docs.google.com/presentation/d/1861mTBtgZzOTkJhR-Po-uz3VuT3suPKYmWXZs0lVANQ/edit">Slides from the service introduction training.</a></p>
    <br>
    <br>
    <h3 class="govuk-heading-m">Step 4. Review new requests from liaison leads</h3>
    <p class="govuk-body">Log in to SharePoint to review new requests. Check there is enough information to move the request forward. If there is not enough information, use the email template to request it from the liaison lead.</p>
    <p><a href="/email-templates/more-information-via-liaison">Access email template for asking liaison lead to get more information</a></p>
    <br>
    <br>
    <h3 class="govuk-heading-m">Step 5. Escalate the request</h3>
    <p class="govuk-body">Escalate new requests from liaison leads to the Regional Tactical Cell, as the liaison leads as will know the needs cannot be met locally. Do this by changing the request status in SharePoint to 'Escalated to Tactical Cell'.</p>
    <br>
    <br>
    <h3 class="govuk-heading-m">Step 5a. Ask liaison lead to review a request – Phase 2 only</h3>
    <p class="govuk-body">In phase 2 of this service, local organisations will be invited to make requests for support directly. These requests will require the following actions:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>assign a liaison lead to the request</li>
      <li>select 'For Triage'</li>
      <li>email the liaison lead, asking them to review the request</li>
      </ul>

    <h3 class="govuk-heading-s">If a liaison lead notifies you that a local broker is found:</h3>
    <ul class="govuk-list govuk-list--bullet">
      <li>receive local broker details from liaison lead and add to SharePoint</li>
      <li>take email, mobile phone and name of broker</li>
      <li>email the broker the <a href="/data-sharing/information-governance-training">information governance training step by step guide with course link</li>
      <li>wait to recieve the information governance certificate from broker, which confirms they have completed it</li>
      <li>send confirmation to local organisation, liaison lead and broker</li>
      <li>close case by updating the request status to ‘met locally’</li>
      </ul>
      <br>

    <h3 class="govuk-heading-s">Escalate if:</h3>
      <ul class="govuk-list govuk-list--bullet">
        <li>liaison lead notifies you a local broker cannot be found</li>
        <li>the local broker does not complete their information governance training within 7 days</li> 
        </ul>
<br>
<br>
        <h3 class="govuk-heading-m">Step 6. Produce report of all requests for Regional Tactical Cell</h3>
        <p class="govuk-body">Your report should only include:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>location of request area – the Local Resilience Forum area</li>
          <li>name of organisation</li>
          <li>details of type and frequency of support</li>
          </ul>

        <p class="govuk-body">By only including the above, the report will not include any personally identifiable information.</p>

        <p class="govuk-body">The day before your Regional Tactical Cell meeting, make sure you get your report in by 3pm, otherwise it will be delayed until the next week’s meeting.</p>
<br>
<br>
      <h3 class="govuk-heading-m">Step 7. Email report to Regional Tactical Cell</h3>
      <p class="govuk-body">Share the report ahead of the meeting by email to the Regional Tactical Cell lead.</p>
<br>
<br>
      <h3 class="govuk-heading-m">Step 8. Attend Regional Tactical Cell meeting</h3>
      <p>Regional Tactical Cell Lead presents the report as part of the meeting.<p>
      <p>During the meeting, brokers consider whether they can respond to a request, based on whether they:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>already provide this service</li>
        <li>already work in the target areas</li>
        <li>have sufficient capacity in the target areas</li>
        <li>have expertise with this target audience</li>
        <li>can commit to the timescale of the request</li>
       </ul>

      <p class="govuk-body">If a broker needs more information follow steps 9 and 10.</p>
      <p class="govuk-body">If a broker does not require more information before agreeing to take on a request, go to step 11.</p>
<br>
<br>
      <h3 class="govuk-heading-m">Step 9. Broker asks for more information before committing</h3>
      <p>A broker might need more information to be able to decide if they can take forward a request. The information manager notes this on the SharePoint record.</p>
<br>
<br>
      <h3 class="govuk-heading-m">Step 10. Email liaison lead to get more information</h3>
      <p>After the meeting the information manager emails the liaison lead to ask them to approach the local organisation to get more information on the request. Include questions asked by the broker in the email.</p>
      <p><a href="/email-templates/templates-for-information-managers">Email template: Asking liaison lead to get more information from local organisation</a></p>
<br>
<br>
      <h3 class="govuk-heading-m">Step 10. Update the information section</h3>
      <p>When the liaison lead emails back the additional details, the information manager updates the SharePoint record with the new information.</p>
      <p>If a broker does not require more information before agreeing to take on a request, go to step 11.</p>
<br>
<br>
      <h3 class="govuk-heading-m">Step 11. Check if the broker has completed the information governance training</h3>
      <p>If the broker has completed the information governance training go to step 12.</p>
      <p>If the broker has not completed the information governance training:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>take email, mobile phone and name of broker</li>
        <li>email the broker the <a href="/data-sharing/information-governance-training">information governance training step by step guide with course link</li>
        <li>receive information governance certificate from the broker, confirming they have completed their training – if you do not receive this from the broker within 7 days, go back Step 6 (change the request status in SharePoint back to 'Escalated to Tactical Cell')</li>
        <li>add broker as a contact in SharePoint.</li>
        </ul>
<br>
<br>
      <h3 class="govuk-heading-m">Step 12. Assign broker to the request</h3>
      <p>Assign the broker to the request in SharePoint and take note of what the broker has said they can do to meet the request:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>how they can help</li>
        <li>when they can help</li>
        <li>who is going to be helping</li>
        </ul>
<br>
<br>
      <h3 class="govuk-heading-m">Step 13. Connect the broker with the local organisation</h3>
      <p>Email the broker and the local organisation using the email template, copying in the liaison lead in the CC field, detailing:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>how they can help</li>
        <li>when they can help</li>
        <li>who is going to be helping</li>
        </ul>

      <p>This is so that all involved know that the request for support has been met.</p>
      <p>If you have not heard from the broker within 7 days, let the VCSEP service team know.</p>
<br>
<br>
      <h3 class="govuk-heading-m">Step 14. Check with broker that request has been fulfilled</h3>
      <p>At the next Regional Tactical Cell regular meeting, check with the broker that the request has been fulfilled.</p>
      <p>If the broker has been unable to fulfill the request, present the request at the meeting again to find a new broker.</p>
<br>
<br>
      <h3 class="govuk-heading-m">Step 15. Close the request in SharePoint</h3>
      <p>Update the request status to “Closed”.</p>
     <hr class="govuk-section-break govuk-section-break--visible">
    <br>
    <br>
    <h3 class="govuk-heading-m">Related content</h3>
      <ul class="govuk-list">
        <li>
          <a href="/being-an-information-manager/what-is-an-information-manager">What is an information manager?</a>
        </li>
        <li>
          <a href="/being-an-information-manager/information-managers-for-covid-19">Information managers for COVID-19 response</a>
        </li>
        <li>
          <a href="/being-an-information-manager/how-information-managers-work">How information managers work</a>
        </li>
      </ul>


    </div>
</div>

{% endblock %}
