
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Working with liaison leads | VCS EP service manual
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/being-an-information-manager">Being an information manager</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Lines of reporting</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

          <h1 class="govuk-heading-xl">Lines of reporting</h1>
          <p>
          Who to contact for issues with how the service is working or issues related to your role as Information Manager:<p>
          <p>
            British Red Cross <a href="mailto:VCSEP_IM@RedCross.org.uk">VCSEP_IM@RedCross.org.uk</a></p>
          <p>

     <hr class="govuk-section-break govuk-section-break--visible">
    <br>
    <h3 class="govuk-heading-m">Related content</h3>
      <ul class="govuk-list">
        <li>
          <a href="/being-an-information-manager/information-managers-step-by-step">Step-by-step for information managers</a>
        </li>
        <li>
          <a href="/being-an-information-manager/what-is-an-information-manager">What is an information manager?</a>
        </li>
        <li>
          <a href="/being-an-information-manager/information-managers-for-covid-19">Information managers for COVID-19 response</a>
        </li>
        <li>
          <a href="/being-an-information-manager/how-information-managers-work">How information managers work</a>
        </li>
        <li>
          <a href="/being-an-information-manager/lines-of-reporting">Lines of reporting</a>
        </li>
      </ul>


    </div>
</div>

{% endblock %}
