
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  What is an information manager? | VCS EP service manual
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/being-an-information-manager">Being an information manager</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">What is an information manager?</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">What is an information manager?</h1>
        <p>Information managers are highly experienced in data management, visualisation, analysis and reporting.</p>
        <p>Their role in the ‘Get support as a local organisation service’ is to make sure information is captured, actioned and shared appropriately, to connect local organisations with the support they require, locally or regionally.</p>
<hr class="govuk-section-break govuk-section-break--visible">
<br>
<h3 class="govuk-heading-m">Related content</h3>
        <ul class="govuk-list">
          <li>
            <a href="/being-an-information-manager/information-managers-step-by-step">Step-by-step for information managers</a>
          </li>
          <li>
            <a href="/being-an-information-manager/what-is-an-information-manager">What is an information manager?</a>
          </li>
          <li>
            <a href="/being-an-information-manager/information-managers-for-covid-19">Information managers for COVID 19 response</a>
          </li>
          <li>
            <a href="/being-an-information-manager/how-information-managers-work">How information managers work</a>
          </li>
          <li>
            <a href="/being-an-information-manager/lines-of-reporting">Lines of reporting</a>
          </li>
        </ul>

    </div>
</div>

{% endblock %}
