
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Working with liaison leads | VCS EP service manual
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/being-an-information-manager">Being an information manager</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Working with liaison leads</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Working with liaison leads</h1>
      <h2 class="govuk-heading-l">Scenario: Liaison Leads making requests</h2>
        <h3 class="govuk-heading-m">Step 1. Complete information governance training</h3>
        <p class="govuk-body">To get started on SharePoint, complete the information governance training provided by the British Red Cross on the International Federation of Red Cross and Red Crescent Societies (IFRC) e-learning platform.</p>
      <a href="/data-sharing/information-governance-training">Access information governance training instructions</a>
      
      <h3 class="govuk-heading-l">Step 2. Log into SharePoint</h3>
      <p>When you have completed the training, you will be sent log in details for SharePoint by the VCSEP 'Request support as a local organisation' service team.</p>

      <h3 class="govuk-heading-l">Step 3. Review new requests from liaison leads</h3>
      <p>Check there is enough information to move the request forward. If there is not enough information, use the email template to request from the liaison lead.</p>
      
      <h3 class="govuk-heading-l">Step 4. Escalate the request</h3>
      <p>Escalate new requests from liaison leads to the Regional Tactical Cell, as the liaison leads as will know the needs cannot be met locally.</p>
      
      <h3 class="govuk-heading-l">Step 5. Produce report of all requests</h3>
      <p>Your report should only include:</p>
      <ul class="govuk-list">
        <li>Location of request area – the Local Resilience Forum area</li>
        <li>Details of organisation</li>
        <li>Details of type and frequency of support</li>
      </ul>

      <p>By only including the above, the report will not include any personally identifiable information.</p>
      <p>The day before your Tactical Cell meeting, make sure you get your report in by 3pm, otherwise it will be delayed until the next week’s meeting.</p>

      <h3 class="govuk-heading-l">Step 6. Email report to Regional Tactical Cell</h3>
      <p>Share the report ahead of the meeting via email to the Regional Tactical Cell lead.</p>

      <h3 class="govuk-heading-l">Step 7. Attend Regional Tactical Cell meeting</h3>
      <p>Tactical Cell Lead presents the report as part of the meeting.<p>
      <p>During the Tactical Cell meeting, brokers will determine whether they can respond to a request, based on whether they:</p>
      <ul class="govuk-list">
        <li>already provide this service</li>
        <li>already work in the target areas</li>
        <li>have sufficient capacity in the target areas</li>
        <li>have expertise with this target audience</li>
        <li>can commit to the timescale of the request</li>
       </ul>

      <p>If a broker needs more information follow steps 8, 9 and 10.</p>

      <h3 class="govuk-heading-l">Step 8. Broker asks for more information before committing</h3>
      <p>A broker might need more information to be able to decide if they can take forward a request. The Information Manager notes this on the SharePoint record.</p>

      <h3 class="govuk-heading-l">Step 9. Email liaison lead to get more information</h3>
      <p>After the meeting the Information Manager emails the liaison lead to ask them to approach the local organisation to get more information on the request (include questions asked by the broker in the email).</p>

      <h3 class="govuk-heading-l">Step 10. Update the information section</h3>
      <p>When the liaison lead emails back the additional details, the information manager updates the SharePoint record with the new information.</p>
      <p>If a broker does not require more information before agreeing to take on a request, go to step 11.</p>

      <h3 class="govuk-heading-l">Step 11. Broker agrees to take on a request</h3>
      <p>If a broker has agreed that they will take it on.</p>

      <h3 class="govuk-heading-l">Step 12. Check if the broker has completed the information governance training.</h3>
      <p>If the broker has completed the Information Governance training go to step 13.</p>
      <p>If the broker has not completed the Information Governance training:</p>
      <ul class="govuk-list">
        <li>take email, mobile phone and name of broker</li>
        <li>email the broker the Information Governance training link and step-by-step guide</li>
        <li>receive Information Governance certificate from the broker, confirming they have completed their training – if you do not receive this from the broker within 7 days, revert the request to Step 6 (status Escalated to Tactical Cell)</li>
        <li>add broker as a contact in SharePoint.</li>
        </ul>
      
      <h3 class="govuk-heading-l">Step 13. Assign broker to the request</h3>
      <p>Assign the broker to the request in Sharepoint and take note of how the broker has said they can do to meet the request:</p>
      <ul class="govuk-list">
        <li>How they can help</li>
        <li>When they can help</li>
        <li>Who is going to be helping</li>
        </ul>

      <h3 class="govuk-heading-l">Step 14. Connect the broker with the local organisation</h3>
      <p>Email the broker and the local organisation using the email template, cc.ing in the liaison lead, detailing:</p>
      <ul class="govuk-list">
        <li>How they can help</li>
        <li>When they can help</li>
        <li>Who is going to be helping</li>
        </ul>

      <p>So that all parties know that the request for support has been met.</p>
      <p>If you have not heard from the broker within 7 days, let the VCSEP service team know.</p>

      <h3 class="govuk-heading-l">Step 15. Check with broker that request has been fulfilled.</h3>
      <p>At the next Tactical Cell regular meeting, check with the broker that the request has been fulfilled.</p>
      <p>If the broker has been unable to fulfill the request, present the request again at the Tactical Cell meeting for rebrokering.</p>

      <h3 class="govuk-heading-l">Step 16. Closed the request in SharePoint</h3>
      <p>Update the request status as “Closed”.</p> 
     <hr class="govuk-section-break govuk-section-break--visible">
    <br>
    <h3 class="govuk-heading-m">Related content</h3>
      <ul class="govuk-list">
        <li>
          <a href="/being-an-information-manager/what-is-an-information-manager">What is an information manager?</a>
        </li>
        <li>
          <a href="/being-an-information-manager/information-managers-for-covid-19">Information managers for COVID-19 response</a>
        </li>
        <li>
          <a href="/being-an-information-manager/how-information-managers-work">How information managers work</a>
        </li>
        <li>
          <a href="/being-an-information-manager/working-with-liaison-leads">Working with liaison leads</a>
        </li>
      </ul>


    </div>
</div>

{% endblock %}
