{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Zoom video calls | BRC support line manual
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/equipment">Equipment</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Zoom video calls</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Zoom video calls</h1>

      <p class="govuk-body">Zoom is video calling service.</p>

      <p class="govuk-body">The support line uses Zoom video calls for:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>Training operators</li>
        <li>Briefing operators before shifts</li>
        <li>Debriefing operators after shifts</li>
      </ul>

      <h3 class="govuk-heading-m">How to join a Zoom meeting</h3>

      <p class="govuk-body">For any meeting using Zoom video calls, we will send you either:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>A link to a website</li>
        <li>A code to enter into your computer, either through the Zoom app or website. For example '342 423 098'
      </ul>

      <h3 class="govuk-heading-m">What device can I use Zoom on</h3>

      <p class="govuk-body">You can use Zoom on any device connected to The Internet:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>Desktop computer</li>
        <li>Laptop computer</li>
        <li>Tablet computer</li>
        <li>Smart phone</li>
      </ul>

      <h3 class="govuk-heading-m">How to download Zoom</h3>

      <p class="govuk-body">You don't have to download Zoom to use it.</p>

      <p class="govuk-body">Some people prefer to use the Zoom app, rather than the website.</p>

      <p class="govuk-body"><a href="https://zoom.us/download">Download the Zoom app for your device</a></p>

      <h3 class="govuk-heading-m">Do I need a Zoom account?</h3>

      <p class="govuk-body">You don't need Zoom account to join a support line video meeting.</p>

      {% include "includes/related-content.html" %}
      <ul id="related-links" class="govuk-list">
        <li>
          <a href="/step-by-step">Being an operator: step by step</a>
        </li>
        <li>
          <a href="/equipment/setup-phone">Set up your phone ready to answer calls</a>
        </li>
        <li>
          <a href="/equipment/stop-calls">Stop getting support line calls</a>
        </li>
      </ul>


    </div>
</div>

{% endblock %}
