{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  What data to collect | BRC support line manual
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/training">Training</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Anger and distress</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Anger and distress</h1>

      <p class="govuk-body">Clearly some people that call a support line may be very angry. This is very much part of the grieving process, but can feel a very threatening emotion on the phone, and it can also feel like it is personally directed at you, the operator.

      <p class="govuk-body">Others calling may be very distressed or, if not distressed at the outset of the call, may become so during the conversation. This, of course, is entirely understandable, but it may feel very uncomfortable to be the operator and dealing with such a call. 

      <p class="govuk-body">It may be very tempting to deflect these emotions of anger and distress by telling the caller to “cheer up” or “calm down”, however, this will not work and it is more effective to remember to following rule: 

      <ul class="govuk-list govuk-list--bullet">
        <li>Acknowledge the anger/distress</li>
        <li>Allow them to talk about it</li>
      </ul>

      <p class="govuk-body">This listening, acknowledging and allowing the expression of emotion is more likely to defuse the situation.</p>

      <p class="govuk-body">If, however, you feel unable to deal with the call, or after hearing more details from the caller, you feel it would be better to pass them on to a more experienced operator then transfer that call to another operator or supervisor. You will need to explain to the caller that you are transferring them to a colleague who is better able to assist them.</p>

      <p class="govuk-body">It may of course, be appropriate to <a href="/signposting">signpost to other specialist support</a>.</p>.


    </div>
</div>

{% endblock %}
