{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Code of Practice | BRC support line manual
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/training">Training</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Code of Practice</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Code of Practice on Privacy, Anonymity & Confidentiality</h1>

      <p class="govuk-body">This code has been developed by <a href="https://www.disasteraction.org.uk/">Disaster Action</a> with a view to protecting the rights and interests of those affected by disaster, specifically survivors and the bereaved. It is designed to govern the attitudes and behaviour of all those who may work directly or indirectly with all those affected by disaster. It includes, but is not limited to, local authorities, coroners and all those involved in identification processes, members of the emergency services and investigation teams, National Health trusts and voluntary agencies. </p>

      <h3 class="govuk-heading-m">General Principles</h3>

      <p class="govuk-body">It is incumbent upon responders to be aware of the possible consequences - direct and indirect - of their work with people affected by disaster. Wherever possible they should attempt to <span class="govuk-!-font-weight-bold">anticipate, and to guard against, consequences that</span> can be predicted to be harmful.</p>

      <p class="govuk-body">All responders should be aware that <span class="govuk-!-font-weight-bold">legislation such as the Data Protection Act, the Human Rights Act, copyright and libel law</span> may affect the rights of callers and thus should positively influence responders conduct, inquiries, data dissemination, relations with the media and storage and publication of information.</p>

      <p class="govuk-body">It is important that responders strike a balance between enabling access and preventing intrusion in working with people affected by disaster. This is particularly relevant when considering issues such as the sharing of information and the seeking and obtaining consent.</p>

      <h3 class="govuk-heading-m">Confidentiality</h3>

      <h4 class="govuk-heading-s">Personal information</h4>
      
      <p class="govuk-body">All personal information about callers should be treated as confidential and used only for the purposes for which it was given, unless essential to their welfare and/or an investigation. In some cases it may be necessary for a responder to decide whether it is proper or appropriate even to record certain kinds of sensitive information.</p>

      <p class="govuk-body">Personal or identifying data should be rendered anonymous before information is given for the purposes of research, teaching, audits or administration. Responders should respect the anonymity of callers at all times.</p>


      <h4 class="govuk-heading-s">Sharing information within a team</h4>
      
      <p class="govuk-body">If sharing information with other team members about the identity, welfare, status and decisions affecting particular callers, responders should respect confidentiality as far as possible. Callers should, however, be made aware that information about them may be shared within the team unless they object.</p>
      
      <p class="govuk-body">Responders must ensure that anyone with whom information is shared understands that it is given to them in confidence, which they must respect.</p>

      <h4 class="govuk-heading-s">Disclosing information to third parties</h4>

      <p class="govuk-body">Sensitive information regarding the personal circumstances of callers should not be divulged to third parties unless essential to their welfare and/or an investigation, or unless consent has been obtained. This is particularly pertinent in multi-agency responses, meetings and discussions (both formal and informal).</p>
      
      <p class="govuk-body">Disclosure of information to other callers should be made only when specific consent to do so has been obtained.</p>

      <h4 class="govuk-heading-s">Disclosing information to an individual’s family or friends</h4>

      <p class="govuk-body">The wishes of a caller should also be established and followed regarding the sharing of any information with their family or others known to them.</p>

      <h4 class="govuk-heading-s">Legal Privilege</h4>
      <p class="govuk-body">Information given in confidence does not enjoy legal privilege; that is, it may be liable to subpoena by a court, and callers should be informed of this.</p>

      <h4 class="govuk-heading-s">Unintentional disclosures</h4>

      <p class="govuk-body">Responders should avoid making unintentional disclosures by not discussing individuals’ details where they can be overheard. Written records should not be left where they can be seen by third parties.</p>

      <h4 class="govuk-heading-s">Consent</h4>
      <p class="govuk-body">Consent must be obtained from callers where it is considered desirable to disclose information to third parties. Such disclosure may be desirable in particular where callers  could benefit from contacting each other. In this case, only basic information should be disclosed. Responding agencies may also wish to ensure that they have consent for basic information to be disclosed to other agencies providing potentially appropriate services. Consent should be sought specifically for the purpose for which it is required, and the implications of giving consent explained fully.</p>
      
      <p class="govuk-body">In some situations access to individuals is gained via a 'gatekeeper' or ‘intermediary’. In these situations responders should adhere to the principle of obtaining informed consent directly from those to whom access is required, while at the same time taking account of the gatekeepers' interests.</p>
      
      <p class="govuk-body">Special care should be taken where callers are particularly vulnerable by virtue of factors such as age, disability, and their physical or mental health. Responders will need to take into account the legal and ethical complexities involved in those circumstances where there are particular difficulties in eliciting fully informed consent. Specialist advice and expertise should be sought where relevant.</p>

      <h4 class="govuk-heading-s">Anonymity</h4>

      <p class="govuk-body">Responders should not, unless it is necessary to their welfare and/or an investigation, permit communication of personal or identifying details of individuals to audiences other than those to which callers have agreed.</p>

      <p class="govuk-body">Personal or identifying data should be rendered anonymous before information is given for the purposes of research, teaching, audits or administration. Responders should respect the anonymity of callers at all times.</p>

      <h4 class="govuk-heading-s">Data Protection</h4>

      <p class="govuk-body">Responders should take appropriate measures to store data on callers in a secure manner, including upholding the confidentiality of caller data from members of their own household. Responders should have regard to their obligations under the Data Protection Acts. They should also take care to prevent data being published or released in a form which would permit the actual or potential identification of individuals without their prior written consent.</p>

      <p class="govuk-body">Guarantees of confidentiality and anonymity given to callers must be honoured, unless there are clear and overriding reasons to do otherwise, for example in relation to the abuse of children. Other people, such as colleagues, researchers or others, given access to data must also be made aware of their obligations in this respect.</p>

    </div>
</div>

{% endblock %}
