{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  What data to collect | BRC support line manual
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/training">Training</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Responding to disclosure</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">How to respond to a disclosure</h1>

      <p class="govuk-body">There are many good practice responses for responding to a disclosure and the following points should be taken into account:</p>

      <h4 class="govuk-heading-s">How to respond</h4>

      <ul class="govuk-list govuk-list--bullet">
        <li>Listen to what is being said</li>
        <li>Believe what is being said</li>
        <li>Emphasise that the individual is right to make the disclosure</li>
        <li>For children, it is good to tell them that ‘what has happened to you is wrong’</li>
        <li>Maintain professional boundaries we will discuss this in more depth later today</li>
        <li>Ask the person what they would like to happen next</li>
        <li>If an adult is making a disclosure, ask what the person would like to happen. For a child it isn’t appropriate to allow them to decide what will happen next as we will be taking the matter forward even if this is against their wishes. However, unless it will expose the child to greater risk it is good practice to explain to them the action you are going to take to keep them safe.</li>
        <li>Explain about confidentiality and what will happen next (see guidance on consent, capacity and confidentiality)</li>
        <li>Seek clarification from the person</li>
        <li>Share information on a ‘need to know’ basis</li>
      </ul>

      <h4 class="govuk-heading-s">How not to respond</h4>
      
      <ul class="govuk-list govuk-list--bullet">
        <li>Do not jump to conclusions or make assumptions</li>
        <li>Do not make light of the disclosure by underestimating or ‘playing down’ the situation</li>
        <li>Do not change the subject for fear of dealing with the issue</li>
        <li>Do not promise anything that you may not be able to deliver</li>
        <li>Do not intervene in the situation or speak to the perpetrator</li>
        <li>Do not investigate</li>
        <li>Do not promise to keep secrets: ‘No Secrets’</li>

      </li>

    </div>
</div>

{% endblock %}
