{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Safeguarding procedure | BRC support line manual
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/training">Training</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Safeguarding procedure</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Safeguarding procedure</h1>

      <p class="govuk-body">The people we support have the right to live in safety, free from abuse or harm. Responding to safeguarding concerns is everyone's responsibility and we're here to support you with it.</p>

      <p class="govuk-body">We have team of specialist Safeguarding Assurance Advisers available to advise volunteers with any safeguarding concern regarding both adults and children.</p>

      <p class="govuk-body">Contact the safeguarding advice team:</p>
 
      <div class="govuk-panel govuk-panel--confirmation" style="background-color: #ffffff; border: 2px solid #0b0c0c">
        <div class="govuk-panel__body" style="color: #0b0c0c">
          Call safeguarding advice team:<br><strong class="CopyThisText">0300 004 0377</strong>
        </div>
        <br>
        <div class="govuk-panel__body" style="color: #0b0c0c">
          24 hours a day<br>Seven days a week
        </div>
      </div>

      <button id="button" class="js-emailcopybtn govuk-button copy-button black-button CopyPhoneNumber">Copy phone number</button>

      <h3 class="govuk-heading-m">Non-urgent queries</h3> 

      <p class="govuk-body">You can contact us about non-urgent queries by emailing:</p>

      <p class="govuk-body">
        <span class="govuk-!-font-weight-bold">safeguarding@redcross.org.uk</span><br>
      </p>

      <p class="govuk-body">(monitored Monday – Friday 9am - 5pm)</p>

      <p class="govuk-body">If you have any questions please do contact the team and let us know. We look forward to working together to support all our people to ensure the British Red Cross continues to operate safely as we focus on those in crisis.</p>


      <h3 class="govuk-heading-m">If you can't get hold of us</h3> 

      <p class="govuk-body">If for any reason you can’t get hold of us there is still a list of your directorate's Safeguarding Adults Officers (SAOs) and Safeguarding Children Officers (SCOs) available on this RedRoom page who will be able to help with any concerns.</p>

      <p class="govuk-body">Although the team will be operating 24 hours, we would ask services to bear in mind that if there’s an emergency out of hours then you should be contacting the emergency services or duty social care team and reporting it internally the next working day, if it’s not an emergency and can wait till the next working day then again it should be reported internally within office hours. The out of hours line will exist for cases where people either aren’t sure or where it won’t be possible for them to report it the next working day (due to leave or infrequent volunteering etc.)</p>

      <h3 class="govuk-heading-m">Loggin cases</h3> 

      <p class="govuk-body">Once reported all cases must be logged as soon as possible on the British Red Cross’ <a href="https://britishredcross.datixsolutions.co.uk/live/index.php.">incident management system Datix</a>.</p>

    </div>
</div>

{% endblock %}
