{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  What data to collect | BRC support line manual
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/training">Training</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Distressed calles</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Supporting distressed callers</h1>

      <p class="govuk-body">Operators should be comfortable with how they begin a conversation with a caller over the telephone. A suggested answer to calls could be:</p> 

      <p class="govuk-body">“Red Cross Coronavirus support line, how can I help you?”</p>

      <p class="govuk-body">Operators should listen to the caller and allow the conversation to develop to determine how best to provide support.</p>

      <p class="govuk-body">Details of the action to be taken or the advice to be given should be made available to operators in the form of a questions and answers document in a telephone operator’s information binder.</p>

      <p class="govuk-body">Operators, having received the call and assessed the callers’ needs should provide emotional support, advice and information and/or give them necessary help to access a relevant specialist service.</p>

      <p class="govuk-body">If the operator is not able to provide the information which is needed or is not able to refer the caller to an appropriate agency, details should be taken and the caller advised that they will receive a return call. The support line supervisor must be informed, as soon as possible.</p>

      <p class="govuk-body">Operators should ensure they record the time and date on the message form for each call, and if possible obtain a name and telephone number (caller’s do not have to give their details).</p>


    </div>
</div>

{% endblock %}
