
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Intro video | BRC support line manual
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/email-templates">Email templates</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/templates-for-information-managers">For Information managers</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Acknowledgment that support has been found for a local organisation</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Create an email acknowledging that support has been found for a local organisation</h1>

      <p class="govuk-body">This email is to let a local organisation know that support has been found for their request. We recommend you set up and save this example response as a draft email, and copy it from there each time you need to acknowledge a new request. Brokers and liaison leads should be cc.ed into this email.</p>
      <h2 class="govuk-heading-l">Steps</h2>
      <h3 class="govuk-heading-m">1. Add subject line</h3>
      <p>We have found an organisation who is able to support you.</p>
      <h3 class="govuk-heading-m">2. Add salutation, for example Dear, plus name of organisation at top of email.</h3>
      <h3 class="govuk-heading-m">3. Copy and paste the text below into your email, replacing the example copy in square brackets with the real information. Add the broker details including brief information on how they can support and how long for.</h3>
      <p>I am writing to update you on the request made by or on behalf of [Organisation name] on [dd/mm/yy].</p>
       <p>We have now found an organisation who will be taking forward the request for support.</p>
       <p>Here are details about the organisation providing the support.</p>
       <p>Name:</p>
       <p>Address:</p>
       <p>Email:</p>
       <p>Phone number:</p>
       <p>They have said they can support your organisation by [what they can do to support, for example supplying DBS checked volunteers]</p>
       <p>From:</p>
       <p>To:</p>
       <p>We will leave you to contact each other to make the necessary arrangements. The organisation has your contact details.</p>
      <p>Many thanks,</p>
      <p>Request support as a voluntary or community organisation service</p>

      <hr class="govuk-section-break govuk-section-break--visible">
      <br>
      <br

</div>
</div>
    </div>
</div>

{% endblock %}
