
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Acknowledging support requests – email template | VCS EP Service Manual
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/email-templates">Email templates</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/templates-for-information-managers">For Information managers</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Acknowledging support requests</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Acknowledging support requests</h1>

      <p class="govuk-body">Email for a liaison lead or local organisation to receive within 24 hours of submitting a request for support.</p>
      <h2 class="govuk-heading-l">Steps</h2>
      <h3 class="govuk-heading-m">1. Add subject line:</h3>
      <p>Confirmation of your request from the Request support for a voluntary or community organisation service</p>
      <h3 class="govuk-heading-m">2. Add salutation, for example Dear, plus name of organisation at top of email:</h3>
      <p>Dear [Organisation's name]</p>
      <h3 class="govuk-heading-m">3. Add date of request. Find this date by looking at when the request arrived in the system.</h3>
      <p>Date your request was received: [dd/mm/yy].</p>
      <h3 class="govuk-heading-m">4. Copy and paste the text below into your email.</h3>
      <p class="govuk-body">Thank you for submitting a request through the VCS EP Request support as a voluntary or community organisation service. Your request will now be reviewed. Please allow 10 working days for actions to be assigned to this request. We will contact you again with information about what will happen next.</p>
      <p>Below are the details of the request.</p>
       <h3 class="govuk-heading-m">5. Copy and paste report output into the email.</h3>
       <h3 class="govuk-heading-m">6. Sign off</h3>
      <p>Many thanks,</p>
      <p>Request support as a voluntary or community organisation service</p>

      <hr class="govuk-section-break govuk-section-break--visible">
      <br>
      <br>
</div>
</div>
    </div>
</div>

{% endblock %}
