
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Acknowledging support requests – email template | VCS EP Service Manual
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/email-templates">Email templates</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/templates-for-information-managers">For Information managers</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Acknowledging support requests</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Acknowledging support requests</h1>

      <p class="govuk-body">This is what a liaison lead or local organisation receives within 24 hours when they have submitted a request for support.</p>
      <h2 class="govuk-heading-l">Steps</h2>
      <p>1. Add "Dear [name of organisation]" to top of email.</p>
      <p>2. Add "Date received [dd/mm/yy]". This is the date the request arrived in the system.</p>
      <p>2. Copy and paste example text below into the email.</p>
      <p>3. Copy and paste report output into the email.</p>

      <hr class="govuk-section-break govuk-section-break--visible">
      <br>
      <br>
      <p class="govuk-body">Re: Confirmation of your request from the Request support for a voluntary or community organisation service</p>
      <p class="govuk-body">Thank you for submitting a request through the VCS EP Request support as a voluntary or community organisation service. Your request will now be reviewed. Please allow 10 working days for actions to be assigned to this request.</p>
      <p>Below are the details of the request.</p>
      <p>Many thanks,</p>
      <p class="govuk-body">Request support as a voluntary or community organisation service</p>

</div>
</div>
    </div>
</div>

{% endblock %}
