
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Intro video | BRC support line manual
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/email-templates">Email templates</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/templates-for-information-managers">For Information managers</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Acknowledgment that support has been found for a local organisation</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Acknowledgment that support has been found for a local organisation</h1>

      <p class="govuk-body">Use to update local organisations that support has been found for their request. Brokers and liaison leads should also be cc.ed into this email.</p>
      <hr class="govuk-section-break govuk-section-break--visible">
      <br>
      <br>



  <p class="govuk-body">Dear Organisation name,</p>

  <p class="govuk-body">Re: We have found an organisation [broker] who is able to support you</p>


  <p class="govuk-body">I am writing to update you on the request made by Organisation name 1 on the 1 May 2020.</p>

  <p class="govuk-body">We have now found an organisation [name of broker] who will be taking forward your request for support.</p>

  <p class="govuk-body">Broker contact details</p>
  <p class="govuk-body">Name:</p>
  <p class="govuk-body">Address:</p>
  <p class="govuk-body">Email:</p>
  <p class="govuk-body">Phone number:</p>

  <p class="govuk-body">How they can help</p>
  <p class="govuk-body">As discussed with the [name of broker], they told us that they are able to support you in the following ways:[details of how broker can support]</p>


  <p class="govuk-body">For how long</p>
  <p class="govuk-body">From:</p>
  <p class="govuk-body">To:</p>

  <p class="govuk-body">We will now leave you to contact each other to make the necessary arrangements.</p>

<p class="govuk-body">Many thanks,</p>

<p class="govuk-body">Information Manager</p>


</div>
</div>
    </div>
</div>

{% endblock %}
