
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Briefings | BRC support line manual
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/email-templates">Email Templates</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/templates-for-information-managers">For Information managers</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Acknowledgement of request for support from local organisations</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Acknowledgement of request for support from local organisations</h1>

      <p class="govuk-body">This is what a local organisation receives within 24 hours when they have submitted a request for support.</p>

      <hr class="govuk-section-break govuk-section-break--visible">
      <br>
      <br>

      <p class="govuk-body">Dear [name of organisation]</p>

      <p class="govuk-body">Re: Confirmation of your request from the Request support for a local organisation service</p>

      <p class="govuk-body">Thank you for submitting a request via the Request support for a local organisation service.</p>
      <p class="govuk-body">Below are the details of the request you submitted.</p>

      <p class="govuk-body">[PASTE REPORT OUTPUT HERE]</p>


      <p class="govuk-body">We will be in touch with you in the next 10 working days with an update on the actions we will be taking to fulfill your request.</p>

      <p class="govuk-body">In the meanwhile, if your request becomes urgent, or you notice a mistake with what you have submitted or you have further queries, please do not hesitate to be in touch with your local liaison lead [link to liaison lead contact details], who is reviewing your request.</p>

    <p class="govuk-body">Many thanks,</p>

      <p class="govuk-body">Request support as a local organisation service</p>


</div>
</div>


      </div>
</div>

{% endblock %}
