
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Intro video | BRC support line manual
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/email-templates">Email Templates</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">For Information managers</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Acknowledgement of request for support from liaison leads</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Acknowledgement of request for support from liaison leads</h1>

      <p class="govuk-body">This is what a local organisation receives within 24 hours when they have submitted a request for support.</p>

      <hr class="govuk-section-break govuk-section-break--visible">
      <br>
      <br>

      <p class="govuk-body">Dear [name of organisation]</p>

      <p class="govuk-body">Re: Confirmation of your request from the Get support for a local organisation service</p>

      <p class="govuk-body">Thank you for submitting a request via the Get support for a local organisation service.</p>
      <p class="govuk-body">Below are the details of the request you submitted.</p>

      <p class="govuk-body">[PASTE REPORT OUTPUT HERE]</p>


      <p class="govuk-body">This request will now be escalated to regional level. Please allow 10 working days for any actions to be assigned to this request.</p>

      <p class="govuk-body">If the request becomes urgent, alert the Duty Manager for your region [insert list of Duty Manager contacts here].</p>


    <p class="govuk-body">Many thanks,</p>

      <p class="govuk-body">Get support as a local organisation service</p>




</div>
</div>
    </div>
</div>

{% endblock %}
