
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Sending information governance training instructions to brokers | VCS EP Service manual
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/email-templates">Email templates</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/email-templates/for-information-managers">For information managers</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Sending information governance training to brokers</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Sending information governance training instructions to brokers</h1>

      <p class="govuk-body">Send this email to brokers who need to complete our information governance training. We recommend you set up and save this example response as a draft email, and copy it from there each time you need to acknowledge a new request.</p>
      <h2 class="govuk-heading-l">Checklist</h2>
      <p>1. Copy and paste example text below into the email.</p>

      <hr class="govuk-section-break govuk-section-break--visible">
      <br>
      <br>
      <p>Dear Broker</p>
      <p>Re: Information governance training for the 'Request support as a voluntary or community organisation' service</p>
      <p>To be sure that personally identifiable information is handled appropriately in accordance with GDPR, we require all brokers to complete a 30 minute information governance training session online.</p>
      <p><a href="/data-sharing/information-governance-training">Access step-by-step instructions for completing the information governance training.</a></p>
      <p>When you complete the training, save the certificate and email it to VCSEP_IM@redcross.org.uk. Without this we cannot go forward with your support offer.</p>
      <p>After we recieve your information governance training certificate, we will send you the local organisation’s contact details. You will then be able to make contact and start providing the support you have kindly offered.</p>

      <p>Many thanks,</p>
      <p>Information Manager</p>
      <p>'Request support as a voluntary or community organisation' service</p>
</div>
</div>

    </div>
</div>

{% endblock %}
