
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Intro video | BRC support line manual
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/email-templates">Email Templates</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/templates-for-information-managers">For Information managers</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Information Governance training for brokers</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Information Governance training for brokers</h1>

      <p class="govuk-body">Use to send brokers instructions on how to complete IG training</p>
      <hr class="govuk-section-break govuk-section-break--visible">
      <br>
      <br>

      <p class="govuk-body">Dear Broker,</p>

      <p class="govuk-body">Re: Information governance training for the Request support as a local organisation service</p>

      <p class="govuk-body">As you know, we take the handling of personal information very seriously at the VCS EP. To be sure that sensitive information is handled appropriately we require all brokers to complete a short 30 minute online training session on information governance.</p>

      <p class="govuk-body">To progress your offer of support we need you to complete this training.</p>

      <p class="govuk-body">Access step-by-step instructions to complete the IG training here. [INSERT LINK]</p>


      <p class="govuk-body">When you have completed the training, you will be sent a certificate. Please can you email this to us - without it we cannot proceed.</p>


      <p class="govuk-body">After we have been notified that you have completed the training, we will be in touch with the local organisation’s contact details and you will be able to make contact and start putting into place the support you have kindly offered.</p>

      <p class="govuk-body">Many thanks for your cooperation,</p>

      <p class="govuk-body">Information Manager</p>


</div>
</div>

    </div>
</div>

{% endblock %}
