
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Cannot broker locally | VCS EP Service manual
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/email-templates">Email templates</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/email-templates/for-liaison-leads">For liaison leads</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Letting information manager know a request cannot be brokered locally</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Letting the information manager know a request cannot be brokered locally</h1>

      <p class="govuk-body">Send this email to the Information Manager to let them know you have not been able to find a local broker to meet a request.</p>
      <h2 class="govuk-heading-l">Checklist</h2>
      <p>1. Copy and paste example text below into the email.</p>
      <p>2. Replace any text in square brackets with real information.</p>

      <hr class="govuk-section-break govuk-section-break--visible">
      <br>
      <br>
      <p>">Dear Information Manager</p>
      <p>Re: For escalation – [name of organisation] [referral date dd/mm/yy]/p>
      <p>To update you on the request made by:</p>
      <p>[Name of organisation]</p>
      <p>[Referral date: dd/mm/yy]</p>
      <p>I have not been able to find a local broker who is able to take forward this request for support.</p>
      <p>Pleasenescalate this request to the Regional Tactical Cell.</p>
      <p>Many thanks,</p>
      <p class="govuk-body">Liaison Lead </p>
      <p>'Request support as a voluntary or community organisation' servivce</p>

    </div>
    </div>
        </div>
    </div>

{% endblock %}
