
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Intro video | BRC support line manual
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/email-templates">Email templates</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/email-templates/templates-for-liaison-leads">For Liaison leads</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">A request cannot be brokered locally</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">A request cannot be brokered locally</h1>

      <p class="govuk-body">This is to be used to let the information manager know you have not been able to find a local broker to meet a request.</p>

      <hr class="govuk-section-break govuk-section-break--visible">
      <br>
      <br>

    <p class="govuk-body">Dear Information Manager,</p>

      <p class="govuk-body">Re: For escalation – name of organisation and date of referral in header</p>

      <p class="govuk-body">I am writing to update you on the request made by:</p>

      <p class="govuk-body">Name of organisation: Organisation name 1</p>
      <p class="govuk-body">Date of referral: 1 May 2020</p>

      <p class="govuk-body">I have not been able to find a local broker who is able to take forward the request for support.</p>

    <p class="govuk-body">  Please can you escalate this request to the Regional Tactical Cell?</p>


      <p class="govuk-body">Many thanks,</p>

      <p class="govuk-body">Liaison Lead </p>



</div>
</div>
    </div>
</div>

{% endblock %}
