
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Intro video | BRC support line manual
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/email-templates">Email templates</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">For Liaison leads</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Contacting a local organisation to request more information</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Contacting a local organisation to request more information</h1>

      <p class="govuk-body">This email is to be used by Liaison Lead to request more information from a local organisation.</p>

      <hr class="govuk-section-break govuk-section-break--visible">
      <br>
      <br>

    <p class="govuk-body">Dear [name of local organisation]</p>

      <p class="govuk-body">You recently submitted a request for support through the Request support as a local organisation service.</p>

      <p class="govuk-body">We are currently reviewing your request, and require the following information in order to process it:</p>

    <p class="govuk-body">  [Enter questions below]</p>
      <p class="govuk-body">Question 1:</p>
      <p class="govuk-body">Question 2:</p>
      <p class="govuk-body">Question 3:</p>

      <p class="govuk-body">As soon as we have received your answers we will be able to continue processing your request.</p>

    <p class="govuk-body">  Many thanks,</p>

      <p class="govuk-body">Liaison Lead</p>


</div>
</div>
    </div>
</div>

{% endblock %}
