{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Email templates | VCS EP service manual
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/email-templates">Email templates</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Email templates</h1>

      <p>Use these templates to collect and pass on all the information needed to take forward requests for support.</p>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h3 class="govuk-heading-m">For information managers</h3>

          <ul class="govuk-list">
            <li>
              <a href="/email-templates/acknowledge-support-request">Acknowledging support requests</a>
            </li>
            <li>
              <a href="/email-templates/requests-for-review">Asking liaison lead to review request</a>
            </li>
            <li>
              <a href="/email-templates/requests-for-mac-review">Asking multiagency cell to review request</a>
            </li>
            <li>
              <a href="/email-templates/acknowledge-support-found">Acknowledging support found</a>
            </li>
            <li>
              <a href="/email-templates/service-feedback">Asking for feedback on the service</a>
            </li>
          </ul>
</div>
</div>

{% endblock %}
