{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Support for operators | BRC support line manual
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Email Templates</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Email Templates</h1>

      <ul class="govuk-list">
        <li>
          <a href="/email-templates/brokers-ig-training">Email for brokers to complete IG Training</a>
        </li>
        <li>
          <a href="/using-sharepoint/glossary-of-terms">Glossary of terms</a>
        </li>
      </ul>

    </div>
</div>

{% endblock %}
