{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Email templates | VCS EP service manual
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Email templates</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Email templates</h1>
      
      <p>Use these templates to make sure you collect and pass on all the information needed to take forward requests for support.</p>

      <h3 class="govuk-heading-m">For liaison leads</h3>

      <ul class="govuk-list">
        <li>
          <a href="/email-templates/reply-after-review">Reply following a review of requests</a>
        </li>
        <li>
          <a href="/email-templates/local-broker-contact-details">Sharing local brokers contact details with information managers</a>
        </li>
        <li>
          <a href="/email-templates/cannot-broker-locally">A request cannot be brokered locally</a>
        </li>
        <li>
          <a href="/email-templates/contact-a-local-org-request-info">Contacting a local organisation to request more information</a>
        </li>
      </ul>
    </div>
</div>

<br>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h3 class="govuk-heading-m">For information managers</h3>

          <ul class="govuk-list">
            <li>
              <a href="/email-templates/acknowledge-request-from-local-org">Acknowledgement of request for support from local organisations</a>
            </li>
            <li>
              <a href="/email-templates/acknowledge-request-from-liaison-lead">Acknowledgement of request for support from liaison leads</a>
            </li>
            <li>
              <a href="/email-templates/requests-for-review">Requests for liaison leads to review</a>
            </li>
            <li>
              <a href="/email-templates/more-information-via-liaison">Request for more information from a local organisation (via liaison lead)</a>
            </li>
            <li>
              <a href="/email-templates/brokers-ig-training">Information Governance training for brokers</a>
            </li>
            <li>
              <a href="/email-templates/acknowledge-support-found">Acknowledgment that support has been found for a local organisation</a>
            </li>
          </ul>
</div>
</div>

{% endblock %}
