{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Email templates | VCS EP service manual
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Email templates</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Email templates</h1>

      <p>These templates are for liaison leads and information managers to collect and pass on all the information needed to take forward requests for support.</p>

      <ul class="govuk-list">
        <li>
          <a href="/email-templates/for-liaison-leads">Email templates for liaison leads</a>
        </li>
        <li>
          <a href="/email-templates/for-information-managers">Email templates for information managers</a>
        </li>
        <li>
          <a href="/email-templates/for-community-engagement-managers">Email templates for community engagement managers</a>
        </li>
        <li>

</div>
</div>

{% endblock %}
