
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Intro video | BRC support line manual
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/email-templates">Email Templates</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">For Liaison leads</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Sharing local brokers contact details with information managers</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Sharing local brokers contact details with information managers</h1>

      <p class="govuk-body">This template is to be used by liaison leads to notifty an information manager a local broker has been found who requires IG training. The broker must also be cc.ed into this email.</p>

<hr class="govuk-section-break govuk-section-break--visible">
<br>
<br>

<p class="govuk-body">Dear Information Manager,</p>

<p class="govuk-body">Re: A local broker has been found</p>

<p class="govuk-body">I am writing to update you on the request made by [name of organisation] on [full date].</p>

<p class="govuk-body">I have now found a local broker who will be taking forward the request for support.</p>

<ul class="govuk-list">
  <li>Broker contact details</li>
<li>Name:</li>
<li>Address:</li>
<li>Email:</li>
<li>Mobile phone number: (for text message reminders)</li>

<br>

<li>How they can help</li>
<li>[Name of broker] told us that they would be able to support by [please enter brief statement of how broker has said they can support with the request]

<br></br>

<li>For how long</li>
<li>From:</li>
<li>To:</li>

<br>

<li>Your actions</li>
<li>Please:</li>

<li>1. Add the broker to our contact list</li>
<li>2. Send them the Information Governance training link</li>

<br>

<li>They will then be  able to access the personally identifiable information they need and make contact with the local organisation to broker support for them.</li>
<br>
<li>Many thanks,</li>
<br>
<li>Liaison Lead</li>
</p>



</div>
</div>

    </div>
</div>

{% endblock %}
