
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Sharing local broker contact details | VCS EP Service manual
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/email-templates">Email templates</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/email-templates/for-liaison-leads">For liaison leads</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Sharing local broker contact details with information managers</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Sharing local broker contact details with information managers</h1>

      <p class="govuk-body">Send this email to the Information Manager to notify them you have found local provision for a support request. We recommend you set up and save this example response as a draft email, and copy it from there each time you need to use it.</p>
      <h2 class="govuk-heading-l">Checklist</h2>
      <p>1. Copy and paste example text below into the email.</p>
      <p>2. Replace any text in square brackets with real information.</p>

      <hr class="govuk-section-break govuk-section-break--visible">
      <br>
      <br>

      <p class="govuk-body">Dear Information Manager,</p>
      <p class="govuk-body">Re: A local broker has been found to provide the support</p>

      <p class="govuk-body">To update you on request made by [name of organisation] on [dd/mm/yy].</p>

      <p class="govuk-body">I have found a local broker who take forward the support request. Here are their details:</p>
      <p>Name:</p>
      <p>Address:</p>
      <p>Email:</p>
      <p>Mobile phone number:</p>
      <h3 class="govuk-heading-m">How they can help</h3>
      <p>They told us that they would be able to support by [brief details of they have said they can provide support]<p>
      <p>From: [dd/mm/yy]</p>
      <p>To: [dd/mm/yy]</p>
      <h3 class="govuk-heading-m">Your actions</h3>
      <ol class="govuk-list govuk-list--number">
      <li>Add the broker to our contact list.</li>
      <li>Update the status to 'Met locally'.</li>
        </ol>
      <p>Many thanks,</p>
      <p>Liaison Lead</p>
      <p>'Request support as a voluntary or community organisation' service</p>

      </div>
      </div>

    </div>
</div>

{% endblock %}
