
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Asking liaison lead to get more information | VCS EP support manual
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/email-templates">Email templates</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/email-templates/for-information-managers">For information managers</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Asking liaison lead to get more information</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Asking liaison lead to get more information</h1>

      <p class="govuk-body">Send this email to a liaison lead to ask for more information about a local organisation support request.</p>
      <h2 class="govuk-heading-l">Checklist</h2>
      <p>1. Copy and paste example text below into the email.</p>
      <p>2. Replace any text in square brackets with real information.</p>
      <p>3. Copy and paste the request report into the email.</p>

      <hr class="govuk-section-break govuk-section-break--visible">
      <br>
      <br>
      <p>Dear Liaison Lead</p>
      <p>An organisation in your area recently submitted a request for support through the 'Request support as a local organisation service'.</p>
      <p>We are reviewing the request, and need the following information to be able to process it further:</p>

      <p>[Add question]</p>
      <p>[Add question]</p>
      <p>[Add question]</p>

      <p>Please follow up with the organisation and share the information they give you with us.</p>

      <p>Many thanks,</p>
      <p>Information Manager</p>
      <p>'Request support as a voluntary or community organisation' service</p>
     <hr class="govuk-section-break govuk-section-break--visible">
      <br>
      <br>
      <p>We recommend you set up and save this example response as a draft email, and copy it from there each time you need to use it.</p>
</div>
</div>

    </div>
</div>

{% endblock %}
