
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Asking liaison lead to get more information from local organisation | VCS EP support manual
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/email-templates">Email Templates</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">For Information managers</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Asking liaison lead to get more information from a local organisation</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Asking liaison lead to get more information from a local organisation</h1>

      <p class="govuk-body">Use to ask liaison leads to request more information from a local organisation.</p>
      <hr class="govuk-section-break govuk-section-break--visible">
      <br>
      <br>


<p class="govuk-body">Dear (Liaison Lead)</p>

<p class="govuk-body">An organisation in your area recently submitted a request for support through the 'Request support as a local organisation service'.</p>

<p class="govuk-body">We are currently reviewing the request, and require the following information in order to process it:</p>

<p class="govuk-body">[Enter questions below]</p>
<p class="govuk-body">Question 1:</p>
<p class="govuk-body">Question 2:</p>
<p class="govuk-body">Question 3:</p>

<p class="govuk-body">Please can you follow up with the organisation and update us with the information required.</p>

<p class="govuk-body">Many thanks,</p>

<p class="govuk-body">IM</p>


</div>
</div>

    </div>
</div>

{% endblock %}
