
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Replying after reviewing requests | VSC EP support manual
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/email-templates">Email templates</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/email-templates/templates-for-liaison-leads">For Liaison leads</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Replying after reviewing requests</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Replying after reviewing requests</h1>

        <p class="govuk-body">Used by liaison leads after they have completed a review of the requests sent to them by information managers.</p>

        <hr class="govuk-section-break govuk-section-break--visible">
        <br>
        <br>
     <p class="govuk-body">Subject: Review of requests</p>

    <p class="govuk-body">Hi Information Manager,</p>

    <p class="govuk-body">I've reviewed the requests you sent me.</p>

      <p class="govuk-body"><strong>Cases I will be taking to broker locally:</strong></p>

      <ul class="govuk-list">
        <li>[Name of organisation, date of referral]</li>
        <li>[Name of organisation, date of referral]</li>

        <br>

        <p class="govuk-body"><strong>Cases I recommend for escalation:</strong></p>

    <li>[Name of organisation, date of referral]</li>
    <li>[Name of organisation, date of referral]</li>

    <br>

    <p class="govuk-body">Many thanks,

 <br>
      Liaison Lead</p>

</div>
</div>

    </div>
</div>

{% endblock %}
