
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Intro video | BRC support line manual
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/email-templates">Email Templates</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">For Liaison leads</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Reply following a review of requests</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Reply following a review of requests</h1>

        <p class="govuk-body">This is to be used by liaison leads after they have completed a review of the requests sent to them by the information managers.</p>

        <hr class="govuk-section-break govuk-section-break--visible">
        <br>
        <br>

    <p class="govuk-body">Hi Information Manager,</p>

      <p class="govuk-body">RE: Review of requests completed</p>

    <p class="govuk-body">This is to confirm:</p>

      <p class="govuk-body">The cases I will be taking to broker locally:</p>

      <ul class="govuk-list">
        <li>Name of organisation and date of referral</li>
        <li>Name of organisation and date of referral</li>

        <br>

    <p class="govuk-body">The cases I recommend for escalation:</p>

    <li>Name of organisation and date of referral</li>
    <li>Name of organisation and date of referral</li>

    <br>

    <p class="govuk-body">Many thanks,

 <br>
      Liaison Lead</p>

</div>
</div>

    </div>
</div>

{% endblock %}
