
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Replying after reviewing requests | VCS EP service manual
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/email-templates">Email templates</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/email-templates/for-liaison-leads">For liaison leads</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Replying after reviewing requests</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Replying after reviewing requests</h1>

      <p class="govuk-body">Send this email to the Information Manager after you have reviewed the support requests in your local area that they sent you.</p>
      <h2 class="govuk-heading-l">Checklist</h2>
      <p>1. Copy and paste example text below into the email.</p>
      <p>2. Replace any text in square brackets with real information.</p>

      <hr class="govuk-section-break govuk-section-break--visible">
      <br>
      <br>
      <p>Dear Information Manager</p>
      <p>Re: Local review of support requests</p>
      <p>I've reviewed the support requests you sent me from a local organisation in my area.</p>

      <p><strong>Can take forward locally:</strong></p>

      <ul class="govuk-list">
        <li>[Name of organisation, referral date dd/mm/yy]</li>
      </ul>

      <p>Many thanks,</p>
      <p>Liaison Lead</p>
      <hr class="govuk-section-break govuk-section-break--visible">
      <br>
      <br>
      <p>We recommend you set up and save this example response as a draft email, and copy it from there each time you need to use it.</p>
</div>
</div>

    </div>
</div>

{% endblock %}
