
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Asking liaison lead to review request | VCS EP Service manual
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/email-templates">Email templates</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/email-templates/for-information-managers">For Information managers</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Requests for liaison leads to review</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Asking liaison lead to review support requests</h1>
      <p class="govuk-body">Send this email to a liaison lead to share support requests from local organisations ready for their review.</p>
      <h2 class="govuk-heading-l">Checklist</h2>
      <p>1. To: Liaison lead.</p>
      <p>2. Bcc: VCSEP_IM@redcross.org.uk.</p>

      <hr class="govuk-section-break govuk-section-break--visible">
      <br>
      <br>
      <p>Dear Liaison Lead</p>
      <p>Re: Requests ready for local review</p>
      <p>Please review the following requests for support made by local organisations in your local area.</p>
      <p>Request ID: [ ]</p>
      <p>Request link: [ ]</p>
      <p><strong>1. Check there is no information missing</strong></p>
      <p>If information is missing, for example no details on what type of support required, contact the local organisation directly to find out more.</p>
      <p>When you have received  the missing information, add it into the relevant columns.</p>
      <p><strong>2. Consider if the request can be met locally</strong></p>
      <p>Yes: select 'Exploring local' in the SharePoint status column.</p>
      <p>No: select 'Escalate to MAC' in the SharePoint status column.</p>
      <p><strong>If the request becomes urgent, notify the multiagency cell lead.</strong></p>
      <p><strong>3. Select a priority status</strong></p>
      <p>If you believe the request to be urgent, select 'Urgent'. Otherwise, keep it at 'Normal' priority.</p>

      <p>Many thanks,</p>
      <p>Information Manager</p>
      <p>VCS EP Request Support Service</p>
      
 <hr class="govuk-section-break govuk-section-break--visible">
      <br>
      <br>
</div>
</div>

    </div>
</div>

{% endblock %}
