
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Intro video | BRC support line manual
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/email-templates">Email Templates</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/templates-for-information-managers">For Information managers</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Requests for liaison leads to review</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Requests for liaison leads to review</h1>

      <p class="govuk-body">Use to send liaison leads summaries of the requests from local organisations for their review.</p>
      <hr class="govuk-section-break govuk-section-break--visible">
      <br>
      <br>

    <p class="govuk-body">Hi Liaison Lead,</p>

      <p class="govuk-body">Re: For review from the Request support as a local organisation service</p>

    <p class="govuk-body">We received the following request(s) for support from an organisation in your area today. Please review the following request(s).</p>


      <p class="govuk-body">[PASTE IN REPORTS HERE FOR LIAISON LEAD TO REVIEW]</p>

      <p class="govuk-body">If you believe the request cannot be met locally, alert me by email as soon as possible so that it can be escalated.</p>

      <p class="govuk-body">If you believe that it is possible to broker the request locally, let me know please can you alert me via by email within the next 24 hours that you intend to do this as a first step within the next 24 hours.</p>

      <p class="govuk-body">If the request becomes urgent, alert the Duty Manager for your Regional Tactical Cell [insert list of Duty Manager contacts here].</p>

      <p class="govuk-body">Many thanks,</p>

      <p class="govuk-body">Request support as a local organisation service team</p>


</div>
</div>

    </div>
</div>

{% endblock %}
