
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Asking liaison lead to review request | VCS EP Service manual
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/email-templates">Email templates</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/email-templates/for-information-managers">For Information managers</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Requests for liaison leads to review</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Asking liaison lead to review support requests</h1>
      <p class="govuk-body">Send this email to a liaison lead to share support requests from local organisations ready for their review.</p>
      <h2 class="govuk-heading-l">Checklist</h2>
      <p>1. Copy and paste example text below into the email.</p>
      <p>2. Copy and paste the request reports into the email.</p>
      <p>3. Add the Duty Managers contact list.</p>

      <hr class="govuk-section-break govuk-section-break--visible">
      <br>
      <br>
      <p>Dear Liaison Lead</p>
      <p>Re: Requests ready for local review</p>
      <p>Please review the following requests for support made by local organisations in your local area.</p>
      <p><strong>If the request cannot</strong> be met locally, notify me by email immediately so that it can be escalated.</p>
      <p><strong>If you believe the request can</strong> be answered locally, notify me within the next 24 hours that you are exploring local options.</p>
      <p>If the request becomes urgent, alert the Duty Manager for your Regional Tactical Cell.</p>
      <p>Many thanks,</p>
      <p>Information Manager</p>
      <p>'Request support as a voluntary or community organisation' service</p>
 <hr class="govuk-section-break govuk-section-break--visible">
      <br>
      <br>
      <p>We recommend you set up and save this example response as a draft email, and copy it from there each time you need to use it.</p>
</div>
</div>

    </div>
</div>

{% endblock %}
