
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Acknowledging support found | VCS EP Service manual
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/email-templates">Email templates</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/email-templates/for-information-managers">For Information managers</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Acknowledging support has been found for a local organisation</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Acknowledging support has been found for a local organisation</h1>

      <p class="govuk-body">Send this email to a local organisation to let them know that support has been found for their request. Brokers and liaison leads should be cc.ed into this email.</p>
      <h2 class="govuk-heading-l">Checklist</h2>
      <p>1. Copy and paste example text below into the email.</p>
      <p>2. Replace any text in square brackets with real information.</p>
      <p>3. Copy and paste the request report into the email.</p>

      <hr class="govuk-section-break govuk-section-break--visible">
      <br>
      <br>
      <p>Dear [organisation name]</p>
      <p>Re: Service feedback for VCS EP Support Service</p>
      <p>I am writing to ask you for some feedback on a request made by or on behalf of [Organisation name] on [dd/mm/yy].</p>
      <p>We would like to know how we handled the request for support.</p>
      <p><a href="https://forms.office.com/Pages/ResponsePage.aspx?id=ujzc_l7KiEOoN7Rcfw1xty9Ww9_pcyJDpKgQaIDmJLpUM1JTMkFYMjVQT0YyRDRVMUI3OTBNOTJWMSQlQCN0PWcu">Complete this short feedback form.<a> It should take no longer than 5 minutes.</p>
      <p>You answers will help us know which areas of the service are working well and which need development.</p>
      <p>Many thanks,</p>
      <p>Information Manager</p>
      <p>'Request support as a voluntary or community organisation' service</p>

      <hr class="govuk-section-break govuk-section-break--visible">
      <br>
      <br
 <hr class="govuk-section-break govuk-section-break--visible">
      <br>
      <br>
      <p>We recommend you set up and save this example response as a draft email, and copy it from there each time you need to use it.</p>
</div>
</div>
    </div>
</div>

{% endblock %}
