{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Email templates | VCS EP service manual
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Email templates</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Email templates</h1>

      <p>Use these templates to collect and pass on all the information needed to take forward requests for support.</p>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h3 class="govuk-heading-m">For information managers</h3>

          <ul class="govuk-list">
            <li>
              <a href="/email-templates/acknowledge-request-from-local-org">Acknowledging request from local organisations</a>
            </li>
            <li>
              <a href="/email-templates/acknowledge-request-from-liaison-lead">Acknowledging request from liaison leads</a>
            </li>
            <li>
              <a href="/email-templates/requests-for-review">Asking liaison lead to review request</a>
            </li>
            <li>
              <a href="/email-templates/more-information-via-liaison">Asking liaison lead to get more information from local organisation</a>
            </li>
            <li>
              <a href="/email-templates/brokers-ig-training">Sending information governance training link to brokers</a>
            </li>
            <li>
              <a href="/email-templates/acknowledge-support-found">Confirming support has been found for local organisation</a>
            </li>
          </ul>
</div>
</div>

{% endblock %}
