
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  VCSEP Service Manual
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/liaison-lead-comms">Liaison lead comms</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Automated voice template</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Automated voice message template</h1>

      <p class="govuk-body">Use this text to promote the VCSEP 'Request support as a voluntary or community organisation'  with automated voice messages.</p>

      <div class="govuk-panel govuk-panel--confirmation copy-box">
        <div class="govuk-panel__body CopyThisText">
           Know a local group who need extra support providing #COVID19 relief? You can now request support from the Voluntary and Community Sector Emergencies Partnership.
           <br><br>
          Just complete the webform with details of the support you need https://www.redcross.org.uk/vcsep-support
        </div>
      </div>

      {% include "includes/copy-button.html" %}

      {% include "includes/related-templates.html" %}

      <ul class="govuk-list">
        <li id="homepage-link-list">
          <a href="/liaison-lead-comms/facebook">Facebook</a>
        </li>
        <li id="homepage-link-list">
          <a href="/liaison-lead-comms/text-message">Text message</a>
        </li>
        <li id="homepage-link-list">
          <a href="/liaison-lead-comms/twitter">Twitter</a>
        </li>
        <li id="homepage-link-list">
        <a href="/liaison-lead-comms/web-page">Web page</a>
        </li>
      </ul>

    </div>


  </div>

{% endblock %}
