{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  VCSEP Service Manual
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Comms guidance for liaison leads</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Comms guidance for liaison leads</h1>

      <h3 class="govuk-heading-m">Comms for LLs to use during Phase 1 and Phase 2 of the launch of ‘Request support as a local voluntary and community organisation’</h3>


      <p class="govuk-body">We are taking a phased approach to launching the service, in order to ensure that the service team are able to manage any system challenges with the service as it goes live.</p>
      <p class="govuk-body">Part of the phased approach means communicating about the service in a measured way, in order to ensure that it is only liaison leads submitting requests during Phase 1.</p>

      <h4 class="govuk-heading-m">Phase 1 | Liaison leads only submitting requests</h4>
      <p class="govuk-body">During Phase 1 of the launch of the ‘Request support...’ service, we are asking that only liaison leads submit requests for support, on behalf of local organisations, <a href=https://www.redcross.org.uk/vcsep-support>using the online form.<a></p>

      <p class="govuk-body">During our service induction training, we were asked whether liaison leads could talk about the service before it is launched to local organisations.</p>
      <p class="govuk-body">We agreed that you could describe the service via word of mouth including information on:</p>

      <h4 class="govuk-heading-s">What the service is</h4>
      <div class="govuk-grid-row">
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="https://docs.google.com/document/d/1GFXJVznhnQLXB5YfukqwEpyIHYC0B0QVbgGOvxkoWtQ/edit">Information on what the service is<a></li>
      </ul>

      <ul class="govuk-list govuk-list--bullet">
      <h4 class="govuk-heading-s">When it will be launched to local organisations:</h4>
              <li>First week of June in the North</li>
              <li>Second week of June in South East, South West and Midlands</li>
              <li>Third week of June in London</li>
      </ul>

    <ul class="govuk-list govuk-list--bullet">
    <h4 class="govuk-heading-s">What kind of support the service offers:</h4>
      <li>Transportation or delivery including medicine</li>
      <li>Personal protective equipment</li>
      <li>Funding advice</li>
      <li>Specialist training</li>
      <li>Guidance</li>
      <li>Mental health support and wellbeing</li>
      <li>Volunteers</li>
</ul>

      <p class="govuk-body">If what a local organisation needs is not on the list, you can still submit a request for support.<p class="govuk-body">

      <p class="govuk-body">We ask that you do not share the link for either the website, or the online form with local organisations until we are ready to go live to them, in early June.</p>


      <h4 class="govuk-heading-m">Phase 2 | Local organisations and liaison leads submitting requests</h4>
      <p class="govuk-body">During Phase 2, local organisations will also be able to submit requests for support.</p>

      <p class="govuk-body">The service will be introduced to local organisations via social media and through trusted local networks.</p>

      <p class="govuk-body">These networks will include, local resilience forums, local authority hubs and local infrastructure bodies (via yourselves, as liaison leads).</p>

      <p class="govuk-body">At this point, you will be able to freely share the link to the website we have made and the online form.</p>

    </div>
  </div>

{% endblock %}
