{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  VCSEP Service Manual
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Comms guidance for liaison leads</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Comms guidance for liaison leads for phases 1 and 2</h1>

      <p class="govuk-body">We are launching the ‘Request support as a local voluntary and community organisation’ service in 2 phases, to make sure the service team is able to manage request volumes. The service is going live as we want it to start being used and useful as soon as possible, however the system is still being enhanced to cope with expected demand.</p>
      <p class="govuk-body">Because of these limitations, during Phase 1 we aim to keep communication minimal, to encourage only liaison leads to submit requests.</p>

      <h2 class="govuk-heading-l">Phase 1: Only liaison leads should submit requests</h2>
      <p class="govuk-body">We ask that you do not share the link to the website or online form with local organisations until we go live to them in early June. Only liason leads should submit requests before then.</p>
      <p>To submit a request for an organisation on behalf of a local organisation liaison leads should <a href=https://www.redcross.org.uk/vcsep-support>complete the online VCS EP support request form.<a> Tick the box at the end of the form to indicate that you are a liaison lead.</p>

      <p class="govuk-body">During our service induction training, we were asked whether liaison leads could start talking widely about the service before it is launched to local organisations. We agreed that you could communicate through word of mouth about:</p>

      <h3 class="govuk-heading-m">1. What the service is</h3>
      <div class="govuk-grid-row">
     <p><a href="https://docs.google.com/document/d/1GFXJVznhnQLXB5YfukqwEpyIHYC0B0QVbgGOvxkoWtQ/edit">Information on what the service is<a></p>
      <h3 class="govuk-heading-m">When it will be launched to local organisations:</h3>
         <ul class="govuk-list govuk-list--bullet">
              <li>First week of June in the North</li>
              <li>Second week of June in South East, South West and Midlands</li>
              <li>Third week of June in London</li>
      </ul>

    <h3 class="govuk-heading-m">What kind of support the service offers:</h3>
     <ul class="govuk-list govuk-list--bullet">
      <li>Transportation or delivery including medicine</li>
      <li>Personal protective equipment</li>
      <li>Funding advice</li>
      <li>Specialist training</li>
      <li>Guidance</li>
      <li>Mental health support and wellbeing</li>
      <li>Volunteers</li>
</ul>

      <p>If what a local organisation needs is not listed, you can still submit a request for support, just clearly describe what it is in the details section.</p>
      <h2 class="govuk-heading-l">Phase 2: Local organisations and liaison leads submitting requests</h4>
      <p>During Phase 2, local organisations will also be able to submit requests for support.</p>
      <p>The service will be introduced to them through social media and trusted local networks.</p>
       <p>These networks will include:</p> 
       <ul class="govuk-list govuk-list--bullet">
         <li>local resilience forums</li> 
         <li>local authority hubs</li>
         <li>local infrastructure bodies – via yourselves</li>
       </ul>
      <h3 class="govuk-heading-m">The timeframe for the launch to local organisations is:</h3>
         <ul class="govuk-list govuk-list--bullet">
              <li>First week of June in the North</li>
              <li>Second week of June in South East, South West and Midlands</li>
              <li>Third week of June in London</li>
      </ul>
       <p><strong>Until these staggered launch dates, only liaison leads in each region should be submitting requests.</strong>
      <p class="govuk-body">After the service has launched to local organisations in your area to use directly, you will be able and encouraged to freely share the VCS EP support website and the online request form.</p>

    </div>
  </div>

{% endblock %}
