
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  NESL Operating Manual
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Templates</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Templates to promote the support line</h1>

      <p class="govuk-body">Templates you can use for promoting the National Emergencies Support Line:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          {% include "nav-links/templates/facebook.html" %}
        </li>
        <li>
          {% include "nav-links/templates/twitter.html" %}
        </li>
        <li>
          {% include "nav-links/templates/website-banner.html" %}
        </li>
        <li>
          {% include "nav-links/templates/web-page.html" %}
        </li>
        <li>
          {% include "nav-links/templates/text-message.html" %}
        </li>
        <li>
          {% include "nav-links/templates/automated-voice.html" %}
        </li>
      </ul>

      {% include "includes/related-content.html" %}
      <ul class="govuk-list">
        <li id="homepage-link-list">
          {% include "nav-links/when-to-promote.html" %}
        </li>
        <li id="homepage-link-list">
          {% include "nav-links/transfer-calls/index.html" %}
        </li>  
      </ul>

    </div>


  </div>

{% endblock %}
