
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  VCSEP Service Manual
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/templates">Templates</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Twitter</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Twitter template</h1>

      <p class="govuk-body">Use this text and image to promote the 'Request support as a voluntary or community organisation' service on Twitter:</p>

      <h3 class="govuk-heading-m">Text template</h3>
      <div class="govuk-panel govuk-panel--confirmation copy-box">
        <div class="govuk-panel__body CopyThisText">
          Volunteer at, work at or represent a local group who need extra support providing #COVID19UK relief? Use the new VCSEP service, 'Request support as a voluntary or community organisation'.
          <br><br>
          Just complete the webform with details of the needed support. https://www.redcross.org.uk/vcsep-support
        </div>
      </div>
      
      {% include "includes/copy-button.html" %}

      <h3 class="govuk-heading-m">Image</h3>
      <p>Image size: 440 x 220 pixels</p>
      <img src="/public/images/National-Emergencies-Support-Line-share-Twitter.jpg" style="width: 100%;" alt="A smiling woman wearing a phone headset">

      <p style="margin-top: 10px;"><a href="/public/images/National-Emergencies-Support-Line-share-Twitter.jpg" download>Download image</a></p>

      {% include "includes/related-templates.html" %}

      <ul class="govuk-list">
        <li id="homepage-link-list">
          {% include "nav-links/liaison-lead-comms/facebook.html" %}
        </li>
        <li id="homepage-link-list">
          {% include "nav-links/liaison-lead-comms/website-banner.html" %}
        </li>
        <li id="homepage-link-list">
          {% include "nav-links/liaison-lead-comms/web-page.html" %}
        </li>
        <li id="homepage-link-list">
          {% include "nav-links/liaison-lead-comms/text-message.html" %}
        </li>
        <li id="homepage-link-list">
          {% include "nav-links/liaison-lead-comms/automated-voice.html" %}
        </li>
      </ul>

    </div>


  </div>

{% endblock %}
