
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  VCSEP Service Manual
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/templates">Templates</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Web page</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Web page template</h1>

      <p class="govuk-body">Use this text for a web page about the VCSEP 'Request support as a voluntary or community organisation' service on your organisation's website.</p>

      <div class="govuk-panel govuk-panel--confirmation copy-box">
        <div class="govuk-panel__body CopyThisText">
          <strong>{% include "includes/service-name.html" %}</strong>  
          <br><br>
            Volunteer at, work at or represent a local group who need extra support providing #COVID19UK relief? Use the new VCSEP service, 'Request support as a voluntary or community organisation'.
          <br><br>
          Just complete a webform with details of the needed support.
          <br><br>
          Types of support available:
          <br><br>
          <ul class="govuk-list govuk-list--bullet">
            <li>Transportation or delivery including medicine</li>
            <li>Personal protective equipment</li>
            <li>Financial support and advice</li>
            <li>Specialist training</li>
            <li>Guidance</li>
            <li>Mental health support and wellbeing</li>
            <li>Volunteers</li>
          </ul>
          <p><a href="url">Go to VCSEP.support, the Voluntary and Community Sector Emergencies Partnership website</a>
          </p>
        </div>
      </div>
      
      {% include "includes/copy-button.html" %}

      {% include "includes/related-templates.html" %}

      <ul class="govuk-list">
        <li id="homepage-link-list">
          {% include "nav-links/liaison-lead-comms/facebook.html" %}
        </li>        
        <li id="homepage-link-list">
          {% include "nav-links/liaison-lead-comms/twitter.html" %}
        </li>
        <li id="homepage-link-list">
          {% include "nav-links/liaison-lead-comms/website-banner.html" %}
        </li>
        <li id="homepage-link-list">
          {% include "nav-links/liaison-lead-comms/text-message.html" %}
        </li>
        <li id="homepage-link-list">
          {% include "nav-links/liaison-lead-comms/automated-voice.html" %}
        </li>
      </ul>

    </div>


  </div>

{% endblock %}
