{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Managing requests| VCS EP service manual
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/staying-local-or-escalating">Staying local or escalating</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Brokering local support</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Brokering local support</h1>

      <p class="govuk-body">If as a liaison lead you think you can find a local broker for a support request, follow these steps:</p>
      <ol class="govuk-list govuk-list--number">
        <li>Ask in your networks whether a local broker can provide support. If no broker is available, <a href="/staying-local-or-escalating/escalating-a-request">follow steps for escalating a request.</a>
        <li>If you find a local broker, you can then signpost the local organisation requiring support to the local broker. You cannot connect the broker, to the local organisation.</li>
        <li>When a local broker has been found and has agreed to support the local organisation, <a href="/email-templates/local-broker-contact-details"> use the email template to report the broker's details and how they can help </a>, to the information manager so they can update the SharePoint record.</li>
      </ol>

<hr class="govuk-section-break govuk-section-break--visible">
<br>
<h3 class="govuk-heading-m">Related content</h3>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="/staying-local-or-escalating/brokering-local-support">Brokering local support</a>
        </li>
        <li>
          <a href="/staying-local-or-escalating/escalating-a-request">Escalating a request</a>
        </li>
    </div>
</div>

{% endblock %}
