{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Managing requests| VCS EP service manual
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Staying local or escalating</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Brokering local support</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Brokering local support</h1>

      <p class="govuk-body">If as a liaison lead you eithe think you can find or have been able to find a local broker for a support request, follow these steps:</p>
      <ol class="govuk-list govuk-list--number">
        <li>Use the email template to report the broker's details to the information manager.</li>
        <li>The information manager will then email your broker the information governance training link.</li>
      </ol>
      <p>When the local broker has completed the information governance training, the information manager can share with them the local organisation’s information, including contact details.</p>

<hr class="govuk-section-break govuk-section-break--visible">
<br>
<h3 class="govuk-heading-m">Related content</h3>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="/managing-requests/brokering-local-support">Brokering local support</a>
        </li>
        <li>
          <a href="/managing-requests/escalating-a-request">Escalating a request</a>
        </li>
    </div>
</div>

{% endblock %}
