{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Managing requests | Escalating a request
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Staying local or escalating</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Escalating a request</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Escalating a request</h1>


      <h1 class="govuk-heading-l">Making a request on behalf of a local organisation</h1>

      <p class="govuk-body">Liaison leads can request regional support arrangements for an organisation by completing the ‘Get support as a local organisation’ service online form.
      </p>
      <p>You will need to enter the contact details – name and phone number – of the person at the organisation who will be the main contact.
      </p>


      <h1 class="govuk-heading-l">Escalate after trying to find local support</h1>

      <p class="govuk-body">If as a liaison lead you have tried to broker support locally, and not been able to do so, request an escalation to the regional tactical cell from the information manager, using the escalation email template.
</p>
<hr class="govuk-section-break govuk-section-break--visible">
<br>
<h3 class="govuk-heading-m">Related content</h3>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="/managing-requests/brokering-local-support">Brokering local support</a>
        </li>
        <li>
          <a href="/managing-requests/escalating-a-request">Escalating a request</a>
        </li>
    </div>
</div>

{% endblock %}
