
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Check what you need | BRC support line manual
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Check what you need</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Check what you need to be an operator</h1>

      <h3 class="govuk-heading-m">Training and checks</h3>

      <p class="govuk-body">Operators must have this training and these checks:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>Red Cross CALMER training</li>
        <li>DBS criminal check</li>
        <li>Support line training</li>
        <li>You’re a registered British Red Cross volunteer or staff</li>
      </ul>

      <h3 class="govuk-heading-m">Skills you have</h3>

      <p class="govuk-body">Operators must have these skills:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>You can actively listen to someone and not interrupt them</li>
        <li>You don’t want to give all the answers</li>
        <li>You understand you'll answer difficult calls</li>
        <li>You can stick to a process designed for people’s safety and wellbeing</li>
      </ul>

      <h3 class="govuk-heading-m">Equipment you have</h3>

      <p class="govuk-body">Operator will need this equipemt to answer support line calls:</p>

      <ol class="govuk-list govuk-list--bullet">
        <li>A quiet, private space, you won't be interupted in</li>
        <li>A landline phone or mobile phone with signal</li> 
        <li>A computer connected to The Internet</li>
        <li>Headphones, if you have some. Frees up your hand</li>
      </ol>

    </div>
</div>

{% endblock %}
