
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Hide your phone number | BRC support line manual
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/equipment">Equipment</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Hide your phone number</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Hide your phone number</h1>

      <p class="govuk-body">Instructions for hiding your number:</p>

      <ol class="govuk-list">
        <li><a href="https://www.macworld.co.uk/how-to/iphone/hide-caller-id-iphone-3681782/" target="_blank">iPhone</a></li>
        <li><a href="https://support.google.com/voice/answer/9259883?co=GENIE.Platform%3DAndroid&hl=en" target="_blank">Android / Google phones</a></li>
      </ol>

      <p class="govuk-body"></p>

    </div>
</div>

{% endblock %}
