
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Equipment | BRC support line manual
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/equipment">Equipment</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">How to answer</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">How to answer calls with your phone</h1>

      <p class="govuk-body">You are ready to take support line calls, once you have <a href="/equipment/setup-phone">setup your phone</a>.

      <p class="govuk-body">You phone will ring as it normal does when someone calls it. Answer and hang up as you normally would with your phone.</p>

      <h3 class="govuk-heading-m">Leaving your phone unattended</h3>

      <p class="govuk-body">If you leave your telephone unattended for any length of time, you must <a href="/equipment/stop-calls">log out your phone</a> from the support line.</p>

      <p class="govuk-body">Unanswered calls will go to another operator and you will be automatically logged out. You will have to <a href="/equipment/setup-phone">setup your phone</a> again.</p>

      <h3 class="govuk-heading-m">Answering personal calls</h3>

      <p class="govuk-body">Personal calls will still come through to your phone when you're logged into the support line. If you can, tell people you know not to call when your doing a shift.</p>

    </div>
</div>

{% endblock %}
