{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Equipment | BRC support line manual
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Equipment</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Setting and using your equipment to answer calls</h1>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="/equipment/check-what-you-need">Check what you need to answer calls</a>
        </li>
        <li>
          <a href="/equipment/setup-phone">Setup your phone ready to answer calls</a>
        </li>
        <li>
          <a href="/equipment/how-to-answer">How to answer calls with your phone</a>
        </li>
        <li>
          <a href="/equipment/transfer-calls">Transfer calls</a>
        </li>
        <li>
          <a href="/equipment/stop-calls">Stop getting support line calls</a>
        </li>
      </ul>

    </div>
</div>

{% endblock %}
