{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Equipment | BRC support line manual
{% endblock %}

{% block pageScripts %}
  <script src="/public/javascripts/step-by-step-nav.js"></script>
  <script type="text/javascript">
    var $element = $('#step-by-step-navigation')
    var stepByStepNavigation = new GOVUK.Modules.AppStepNav()
    stepByStepNavigation.start($element)
  </script>
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/equipment">Equipment</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Stop calls</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      Stop getting support line calls
    </h1>

    <p class="govuk-body">
      Check what you need to do to stop getting support line calls
    </p>

    <p class="govuk-body">
      Steps for stopping calls is similar to <a href="/equipment/setup-phone"> setting up ready to anaswer calls</a>
    </p>

    <div id="step-by-step-navigation" class="app-step-nav app-step-nav--large app-step-nav--active" data-show-text="Show" data-hide-text="Hide" data-show-all-text="Show all" data-hide-all-text="Hide all">
      <ol class="app-step-nav__steps">


        <li class="app-step-nav__step js-step" id="get-a-provisional-licence" >
          <div class="app-step-nav__header js-toggle-panel" data-position="2">
            <h2 class="app-step-nav__title">
              <span class="app-step-nav__circle app-step-nav__circle--number">
                <span class="app-step-nav__circle-inner">
                  <span class="app-step-nav__circle-background">
                    <span class="govuk-visually-hidden">Step</span> 1
                  </span>
                </span>
              </span>

              <span class="js-step-title">
                Call the setup phone number
              </span>
            </h2>
          </div>

          <div class="app-step-nav__panel js-panel js-hidden" id="step-panel-get-a-provisional-licence-2">
            <p class="app-step-nav__paragraph">With the phone you've given us the number for, call this number:</p>
            <p class="app-step-nav__paragraph"><span class="govuk-!-font-weight-bold">0844 770 7081</span></p>
          </div>

        </li>

        <li class="app-step-nav__step js-step" id="driving-lessons-and-practice" >
          <div class="app-step-nav__header js-toggle-panel" data-position="3">
            <h2 class="app-step-nav__title">
              <span class="app-step-nav__circle app-step-nav__circle--number">
                <span class="app-step-nav__circle-inner">
                  <span class="app-step-nav__circle-background">
                    <span class="govuk-visually-hidden">Step</span> 2
                  </span>
                </span>
              </span>

              <span class="js-step-title">
                Enter your agent code 
              </span>
            </h2>
          </div>

          <div class="app-step-nav__panel js-panel js-hidden" id="step-panel-driving-lessons-and-practice-3">
            <p class="app-step-nav__paragraph">A recorded message will ask you to enter your 'agent code'.</p>

            <p class="app-step-nav__paragraph">We will text your 'agent code' before your shift.</p>

            <p class="app-step-nav__paragraph">Your agent code is four digits long followed by star. For example, ‘8521*’.</p>
          </div>

        </li>

        <li class="app-step-nav__step js-step" id="book-and-manage-your-theory-test" >
          <div class="app-step-nav__header js-toggle-panel" data-position="5">
            <h2 class="app-step-nav__title">
              <span class="app-step-nav__circle app-step-nav__circle--number">
                <span class="app-step-nav__circle-inner">
                  <span class="app-step-nav__circle-background">
                    <span class="govuk-visually-hidden">Step</span> 3
                  </span>
                </span>
              </span>

              <span class="js-step-title">
                Enter the agent pin
              </span>
            </h2>
          </div>

          <div class="app-step-nav__panel js-panel js-hidden" id="step-panel-book-and-manage-your-theory-test-5">
            <p class="app-step-nav__paragraph">Next you will be asked to enter 'agent pin':</p>

            <p class="app-step-nav__paragraph"><span class="govuk-!-font-weight-bold">1234*</span></p>

            <p class="app-step-nav__paragraph">This number is always the same.</p>
          </div>

        </li>

        <li class="app-step-nav__step js-step" id="book-and-manage-your-driving-test" >
          <div class="app-step-nav__header js-toggle-panel" data-position="6">
            <h2 class="app-step-nav__title">
              <span class="app-step-nav__circle app-step-nav__circle--number">
                <span class="app-step-nav__circle-inner">
                  <span class="app-step-nav__circle-background">
                    <span class="govuk-visually-hidden">Step</span> 4
                  </span>
                </span>
              </span>

              <span class="js-step-title">
                Update your status to logged out
              </span>
            </h2>
          </div>

          <div class="app-step-nav__panel js-panel js-hidden" id="step-panel-book-and-manage-your-driving-test-6">
            <p class="app-step-nav__paragraph">Next you'll be asked to change your status, which means being available or not to answer calls.</p>

            <p class="app-step-nav__paragraph">Change your status to logged out by:</p>

            <ol class="app-step-nav__list govuk-list--number" data-length="5">
              <li class="app-step-nav__list-item js-list-item ">
                1. Press 1 on your phone
              </li>
              <li class="app-step-nav__list-item js-list-item ">
                2. You'll hear 'Your current status is logged out.  To log in press 1'
              </li>
              <li class="app-step-nav__list-item js-list-item ">
                3. Press 1 again to login, which changes your status to available
              </li>
              <li class="app-step-nav__list-item js-list-item ">
                4. You'll then hear ‘Your status has been updated.’
              </li>
              <li class="app-step-nav__list-item js-list-item ">
                5. Finish by pressing 2 or hanging up
              </li>
            </ol>

          </div>

        </li>

        <li class="app-step-nav__step js-step" id="when-you-pass" >
          <div class="app-step-nav__header js-toggle-panel" data-position="7">
            <h2 class="app-step-nav__title">
              <span class="app-step-nav__circle app-step-nav__circle--number">
                <span class="app-step-nav__circle-inner">
                  <span class="app-step-nav__circle-background">
                    <span class="govuk-visually-hidden">Step</span> 5
                  </span>
                </span>
              </span>

              <span class="js-step-title">
                You have stopped getting support line calls
              </span>
            </h2>
          </div>

          <div class="app-step-nav__panel js-panel js-hidden" id="step-panel-when-you-pass-7">
            <p class="app-step-nav__paragraph">Now you have entered the right information in the right order, you won't get any more support line.</p>

            <ol class="app-step-nav__list " data-length="2">
              <li class="app-step-nav__list-item js-list-item ">
                <a data-position="7.1" class="app-step-nav__link js-link" href="/equipment/setup-phone">Setup your phone ready to answer calls</a>

              </li>
            </ol>
          </div>
          
        </li>
      </ol>
    </div>

  </div>
</div>

{% endblock %}
