
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Transfer calls | BRC support line manual
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/equipment">Equipment</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Transfer calls</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Transfer calls</h1>

      <p class="govuk-body">Some calls you might need to transfer to someone else in your team or another organisation.</p>

      <h3 class="govuk-heading-m">Transfer calls to a different service</h3>

      <ol class="govuk-list govuk-list--number">
        <li>Press the number ‘1’ on your phone</li>
        <li>You will hear: ‘Please enter the target number’.</li> 
        <li>Enter the <a href="/signposting">phone number</a> for the service you need to transfer the call to</li></li>
      </ol>

      <h3 class="govuk-heading-m">Transfer calls to another BRC operator</h3>

      <ol class="govuk-list govuk-list--number">
        <li>Press the number ‘1’ on your phone</li>
        <li>You will hear: ‘Please enter the target number’.</li> 
        <li>Enter the 4 digit agent code for the operator you need to transfer the call to</li></li>
      </ol>

      {% include "includes/related-content.html" %}
      <ul id="related-links" class="govuk-list">
        <li>
          <a href="/equipment/setup-phone">Set up your phone ready to answer calls</a>
        </li>
        <li>
          <a href="/equipment/turn-off-voicemail">Turn off your voicemail</a>
        </li>
        <li>
          <a href="/equipment/hide-phone-number">Hide your phone number</a>
        </li>
        <li>
          <a href="/equipment/how-to-answer">How to answer calls with your phone</a>
        </li>
        <li>
          <a href="/equipment/stop-calls">Stop getting support line calls</a>
        </li>
      </ul>


    </div>
</div>

{% endblock %}
