
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Equipment | BRC support line manual
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/equipment">Equipment</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Turn off your voicemail</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Turn off your voicemail</h1>

      <p class="govuk-body">Instructions for turning off your voicemail, depending what mobile network you're on:</p>

      <ol class="govuk-list">
        <li><a href="https://www.bt.com/help/mobile/getting-set-up/setting-up-a-phone-and-features/bt-mobile---how-do-i-set-up-voicemail-" target="_blank">BT Mobile</a></li>
        <li><a href="https://ee.co.uk/help/help-new/getting-started-and-upgrading/using-your-phone-features/how-do-i-use-voicemail" target="_blank">EE</a></li>
        <li><a href="https://support.vodafone.co.uk/Using-our-network/Voicemail/897614252/How-do-I-set-up-and-manage-my-voicemail.html" target="_blank">Vodafone</a></li>
        <li><a href="http://service.o2.co.uk/IQ/SRVS/CGI-BIN/WEBCGI.EXE/,/?New,Kb=Companion,question=ref(User):str(Business),CASE=31040" target="_blank">02</a></li>
        <li><a href="http://support.three.co.uk/SRVS/CGI-BIN/WEBISAPI.DLL?Command=New,Kb=Mobile,Ts=Mobile,T=Article,varset_cat=callsemails,varset_subcat=3794,Case=obj(3353)" target="_blank">Three</a></li>
        <li><a href="https://www.tescomobile.com/help-and-support/device-help/voicemail" target="_blank">Tesco Mobile</a></li>
        <li><a href="https://www.giffgaff.com/help/articles/how-do-i-turn-voicemail-on-or-off" target="_blank">Giffgaff</a></li>
      </ol>

      <p class="govuk-body"></p>

    </div>
</div>

{% endblock %}
