{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Refer or not | BRC support line manual
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/training">Training</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Refer or not</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="/refer/able-to-leave" method="post" class="form">

        <h1 class="govuk-heading-xl">
          Decide to refer someone for urgent practical support
        </h1>

        <p>
          Use this tool to decide to refer someone to local BRC area teams for urgent practical support.  
        </p>

        <p>
          It usually takes about 2 minutes. 
        </p>

        <button class="govuk-button black-button" data-module="govuk-button">Start now</button>

      </form>

    </div>
  </div>
{% endblock %}
