{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Refer or not | BRC support line manual
{% endblock %}

{% block beforeContent %}
  <a href="/refer/family-friends" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="/refer/urgent" method="post" class="form">

        <h1 class="govuk-heading-l">
          Is there support available yet in the person's area?
        </h1>

        <p class="govuk-body"> <a href="https://www.theyhelpyou.co.uk/" target="_blank">Search for Community Hubs</a>: food, medication and other support coordinated by local councils</li>
          <!--<li><a href="https://covidmutualaid.org/" target="_blank">Search for Covid-19 Mutual Aid</a>: local volunteer groups to support the most vulnerable in communities</li>-->
        </p>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
          <div class="govuk-radios govuk-radios--inline">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="local_organisations-yes" name="local_organisations" type="radio" value="yes">
              <label class="govuk-label govuk-radios__label" for="over-18-yes">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="local_organisations-no" name="local_organisations" type="radio" value="no">
              <label class="govuk-label govuk-radios__label" for="over-18-no">
                No
              </label>
            </div>
          </div>
          </fieldset>
        </div>

        <button class="govuk-button black-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>
{% endblock %}
