{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Managing requests| VCS EP service manual
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Managing requests</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Brokering local support</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Brokering local support</h1>

      <p class="govuk-body">If as a liaison lead you decide you can find a local broker, follow these steps:</p>
      <ol class="govuk-list govuk-list--bullet">
        <li>Use the email template to report the broker's details to the Information Manager.</li>
        <li>The Information Manager will then email your broker the Information Governance training link.</li>
      </ol>
      <p>When the broker has completed the Information Governance training, the Information Manager can share with them the local organisation’s information, including contact details.</p>

      <ul class="govuk-list govuk-list--number">
        <li>
          <a href="/managing-requests/triaging-as-a-liaison-lead">Triaging as a liaison lead</a>
        </li>
        <li>
          <a href="/managing-requests/brokering-local-support">Brokering local support</a>
        </li>
        <li>
          <a href="/managing-requests/escalating-a-request">Escalating a request</a>
        </li>
        <li>
          <a href="/managing-requests/making-request-on-behalf-of-organisation">Making a request on behalf of an organisation</a>
        </li>
        <li>
          <a href="/managing-requests/decision-tree">Decision tree</a>
        </li>
        <li>
          <a href="/managing-requests/email-templates">Email templates</a>
        </li>
      </ul>

    </div>
</div>

{% endblock %}
