{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Managing requests | Escalating a request
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Managing requests</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Escalating a request</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Escalating a request</h1>

      <p class="govuk-body">If as a liaison lead you have tried to broker support locally, and not been able to do so, request an escalation to the regional tactical cell from the information manager, using the escalation email template.
</p>
<hr class="govuk-section-break govuk-section-break--visible">
<br>
<h3 class="govuk-heading-m">Related content</h3>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="/managing-requests/triaging-as-a-liaison-lead">Triaging as a liaison lead</a>
        </li>
        <li>
          <a href="/managing-requests/brokering-local-support">Brokering local support</a>
        </li>
        <li>
          <a href="/managing-requests/escalating-a-request">Escalating a request</a>
        </li>
        <li>
          <a href="/managing-requests/making-request-on-behalf-of-organisation">Making a request on behalf of an organisation</a>
        </li>
        <li>
          <a href="/managing-requests/decision-tree">Decision tree</a>
        </li>
        <li>
          <a href="/managing-requests/email-templates">Email templates</a>
        </li>
      </ul>

    </div>
</div>

{% endblock %}
