{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  About| BRC support line manual
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Managing requests</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Triaging as a liaison lead</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Triaging as a liaison lead</h1>
      <p class="govuk-body">As a liaison lead you have 2 options for progressing new requests for support.</p>
        <h2 class="govuk-heading-l">1. Assess and recommend local support.</h2>
          <p>You identify that support needs can be met locally.</p>
      <h2 class="govuk-heading-l">2. Escalate request to the Regional Tactical Cell.</h2>
          <p>You either:
            <ul class="govuk-list govuk-list--bullet">
              <li>have tried getting a request met locally but not been able to</li>
              <li>know straight away that a request cannot be met locally</li>
            </ul>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="/managing-requests/triaging-as-a-liaison-lead">Triaging as a liaison lead</a>
        </li>
        <li>
          <a href="/managing-requests/brokering-local-support">Brokering local support</a>
        </li>
        <li>
          <a href="/managing-requests/escalating-a-request">Escalating a request</a>
        </li>
        <li>
          <a href="/managing-requests/making-request-on-behalf-of-organisation">Making a request on behalf of an organisation</a>
        </li>
        <li>
          <a href="/managing-requests/decision-tree">Decision tree</a>
        </li>
        <li>
          <a href="/managing-requests/email-templates">Email templates</a>
        </li>
      </ul>

    </div>
</div>

{% endblock %}
