
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Brokers for COVID-19 | VCS EP service manual
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/being-a-broker">Being a broker</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Brokers for COVID-19 response</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Brokers for COVID-19 response</h1>
  <p class="govuk-body">Brokers operate across 5 regions in England: North, Midlands and East, South West and Channel Islands, South East and London. They support requests escalated to regional, multiagency cells</p>
    <p>To find the most up to date list of brokers for a region, go to the SharePoint list in the VCSEP MS Teams site. Click on the 3 line menu in the top left corner. Select ‘Brokers’ from the panel on the left. You will see all the brokers in the multiagency cells.<p>
    <p>Currently each multiagency cell region includes these brokering organisations:</p>
      <ul class="govuk-list govuk-list--bullet">
      <li>British Red Cross</li>
      <li>Re:ACT</li>
      <li>St John Ambulance</li>
      <li>Salvation Army</li>
      <li>Victim Support</li>
      <li>Business in the Community</li>
      </ul>
  <hr class="govuk-section-break govuk-section-break--visible">
<br>
<h3 class="govuk-heading-m">Related content</h3>
  <ul class="govuk-list">
    <li>
      <a href="/being-a-broker/brokers-step-by-step">Step-by-step for brokers</a>
    </li>
  <li>
    <a href="/being-a-broker/what-is-a-broker">What is a broker?</a>
  </li>
  <li>
    <a href="/being-a-broker/how-brokers-work">How brokers work</a>
  </li>
</ul>

    </div>
</div>

{% endblock %}
