
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Brokers step by step | VCS EP service manual
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/being-a-broker">Being a broker</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Broker role: step by step</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Broker role: step by step</h1>
<h3 class="govuk-heading-m">Step 1. Complete information governance training</h3>
      <p class="govuk-body">You will receive an email from the Multiagency Cell Lead with information governance training instructions and your honorary contract.</p>
      <p>Complete the British Red Cross information governance training, on the International Federation of Red Cross and Red Crescent Societies (IFRC) e-learning platform.</p>
      <p><a href="/data-sharing/information-governance-training">Access information governance training instructions</a></p>
      <br>
      <br>
    <h3 class="govuk-heading-m">Step 2. Sign and return your honorary contract</h3>
    <p>Sign your honorary contract and email a copy to <a href="mailto:VCSEP_IM@redcross.org.uk">VCSEP_IM@redcross.org.uk</a>.</p>
      <br>
      <br>
    <h3 class="govuk-heading-m">Step 3. Log in to MS Teams and access SharePoint</h3>
    <p>When you have completed your information governance training and signed your honorary contract, you will be sent log in details for MS Teams and SharePoint by the VCS EP 'Request support as a voluntary or community organisation' service team.</p>
    <br>
    <br>
    <h3 class="govuk-heading-m">Step 4. Complete your broker bio</h3>
    <p>In the MS Teams site VCS EP - Requests, complete your broker bio. To find the template for this:</p>
    <ol class="govuk-list govuk-list--number">
      <li>Go to the top toolbar.</li>
      <li>Select the multiagency cell you are in, on the left.</li>
      <li>Click on ‘Files’ in the top toolbar.</li>
      <li>Select the ‘Broker Bios’ folder.</li>
      <li>Download the Word template, complete it with your details, rename the file with your organisation and division name and upload to the ‘Broker Bio’ folder.</li>
    </ol>
    <br>
    <br>
    <h3 class="govuk-heading-m">Step 5. Learn the SharePoint request status definitions and look for ‘Escalated to MAC’</h3>
    <p>Access SharePoint by clicking on ‘Requests’ in the top toolbar in MS Teams. This takes you to the SharePoint home page, where you can see all requests.</p>
    <p>As a broker, you only need to look at requests marked ‘Escalated to MAC’.</p>
    <p>Requests marked as ‘Review’ or ‘Exploring local’ are the responsibility of local liaison leads, who will first be searching for local support.</p>
    <br>
    <br>
        <h3 class="govuk-heading-m">Step 6. Notifications for requests escalated to MAC</h3>
        <p>You will get an email notification and an MS Teams notification when a request is escalated to MAC. The notification will include a link to the request in SharePoint.</p>
<br>
<br>
      <h3 class="govuk-heading-m">Step 7. Discussing support you can provide as a broker</h3>
      <p>It’s OK to discuss support requests in the MS Teams between MAC meetings, however you must not mention or share any personally identifiable information.</p>
      <p>Involve the liaison lead assigned to the request in any brokering conversations. They will also be accessing MS Teams, and are likely to be able to provide local knowledge. The SharePoint entry for the request shows who the assigned liaison lead is.</p>
<br>
<br>
      <h3 class="govuk-heading-m">Step 8. Agreeing on a broker at the MAC meeting</h3>
      <p>Requests have 3 priority levels: Low, normal and urgent. Most requests will be processed as ‘normal’ priority. This means they will be brokered at a MAC meeting.</p>
      <p>At the MAC meetings, brokers are assigned to support with escalated requests. Brokers will be asked about the support they can provide. You or another broker might have mentioned in MS Teams or in the comments section of SharePoint that you are interested in providing support. This will be discussed at the MAC meeting.</p>
      <p>A broker is chosen based on whether they:</p>
       <ul class="govuk-list govuk-list--bullet">
         <li>already provide this service</li>
         <li>already work in the target areas</li>
         <li>have sufficient capacity in the target areas</li>
         <li>have expertise with this target audience</li>
         <li>can commit to the timescale of the request</li>
      </ul>
      <p>If the MAC meeting decides you are the right broker for a request, the SharePoint entry for that request will be updated to ‘Broker found’ and you will be sent information to take it forward. If you have not yet completed our information governance training, you will need to do so first.</p>
<br>
<br>
      <h3 class="govuk-heading-m">Step 9. If a request is urgent</h3>
      <p>Urgent requests are ones that cannotdefined as not being able to wait until the next MAC meeting.</p>
      <p>For example, a local outreach organisation needs a DBS-checked nurse to provide clinical support in the community straightaway, as the current nurse has become sick.</p>
      <p>With urgent requests, brokers:</p>
        <ul class="govuk-list govuk-list--bullet">
         <li>can discuss on MS Teams or Zoom, but must not share personally identifiable information (PII) on MS Teams</li>
         <li>must find out who the liaison is and include them in conversations: this gives accurate local context</li>
         <li>contact the local organisation that support has been requested for</li>
         <li>update the request’s SharePoint entry, describing how they will provide support under ‘Brokers actions’, and adding ‘Broker name’ and ‘Broker organisation’</li>
    </ul>
<br>
<br>
      <h3 class="govuk-heading-m">Step 10. Updating on actioned urgent requests at MAC meetings</h3>
      <p>When an urgent request is actioned between meetings, at the next MAC meeting the cell lead will ask the broker for:         </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>an update on actions taken</li>
        <li>any outstanding actions or support they might require to fulfill the request</li>
      </ul>
      <p>The information manager will then update the SharePoint request entry, including updating the status to ‘Broker Found’.</p
<br>
<br>
      <h3 class="govuk-heading-m">Step 11. Email confirming broker is assigned to a request</h3>
      <p>When a broker is found, an email is sent to the organisation that support has been requested for, detailing the type of support they can expect to receive. The broker and the liaison lead assigned to the request are also copied in on the email.</p>
      <p>This also applies for urgent requests: the confirmation email is sent even if the broker has already responded directly to the organisation. The email is a record of the support being arranged.</p>
<br>
<br>
      <h3 class="govuk-heading-m">Step 12. </h3>
      <p>If an organisation that support has been requested for is not satisfied with the response, they can contact their liaison lead, who can raise this for discussion in the next MAC meeting.</p>
      <p>A new broker may be needed. If so the process will return to Step 8. But if regional brokerage has not, and will not, be able to provide sufficient support the process moves on to Step 13 below.</p>
<br>
<br>
      <h3 class="govuk-heading-m">Step 13. Escalating to the Strategic Coordination Group</h3>
    <p>There may be times when a request for support cannot be met by MAC brokers.</p>
    <p>In these cases, the multiagency cell lead escalates the request for support to the national Strategic Coordination Group (SCG). When this happens the SharePoint request status is changed to ‘Escalated to SCG’.</p>
    <p>If the SCG decides to respond the information manager updates the request status to ‘SCG response’ and adds details about the response in the ‘Comments’ section.</p
<br>
<br>
      <h3 class="govuk-heading-m">Step 14. Request closed</h3>
      <p>After they have provided the requested support, brokers report back on it at the MAC meeting.</p>
      <p>If the request for support has been met, the information manager changes the request status to ‘Closed’.</p>
      <p>While requests are open, organisations can contact the MAC through their liaison lead to say they are not satisfied with the support they are receiving.</p>
      <p>If a request for support has been met, the information manager then updates the request to ‘Closed’ in SharePoint.</p>
      <p>If the request for support is being met by the SCG, the cell lead can request an update from that group and report back on the request status at the MAC meeting.</p>
<br>
<br>
      <h3 class="govuk-heading-m">Step 15. Feedback from requesting organisation</h3>
      <p>When a request has been closesd, the information manager sends the organisation that support was requested for a service satisfaction feedback form to complete and return.</p
<br>
<br>
    <hr class="govuk-section-break govuk-section-break--visible">
    <br>
    <h3 class="govuk-heading-m">Related content</h3>
      <ul class="govuk-list">
        <li>
          <a href="/being-a-broker/what-is-a-broker">What is a broker?</a>
        </li>
        <li>
          <a href="/being-a-broker/brokers-for-covid-19">Brokers for COVID-19 response</a>
        </li>
        <li>
          <a href="/being-a-broker/how-brokers-work">How brokers work</a>
        </li>
      </ul>


    </div>
</div>

{% endblock %}
