
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  How brokers work | VCS EP service manual
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/being-a-broker">Being a broker</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">How brokers work</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">How brokers work</h1>
        <p>Brokers are regional level organisations that  answer local organisation support requests that cannot be met locally. They are assigned to the multiagency cell for the region they operate in and take part in the regular MAC meetings.</p>
      <p>Brokers need to work closely with:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="/being-a-liaison-lead/what-is-a-liaison-lead">liaison leads</a> particularly on urgent requests</li>
        <li><a href="/being-an-information-manager/what-is-an-information-manager">information managers</a> to record broker actions accurately in SharePoint</li>
      </ul>
      <p>There are 4 different ways brokers may work: on a normal priority request, on an urgent priority request, together with another broker on a normal priority request or together with antoher broker on an urgent priority request.</p>
      <br>
      <hr class="govuk-section-break govuk-section-break--visible">
      <br>
      <h2 class="govuk-heading-l">Normal priority requests</h2>
        <p>When considering taking on a normal prority local support request, speak to the assigned liaison lead to understand the local context.</p>
       <p>Normal priority requests are assigned to a broker during a MAC meeting. The information manager will input the brokerage details on the SharePoint entry for the request  and ask the broker to check they are correct.</p>
        <p>The information manager will then send an email to the organisation support has been requested for to confirm that a broker has been found to provide the support.</p>
      
       <br>
       <hr class="govuk-section-break govuk-section-break--visible">
       <br>
      
      <h2 class="govuk-heading-l">Urgent priority requests</h2>
        <p>When considering taking on an urgent request, it is vital to include the liaison lead assigned to the request in your MS Teams chat. They are likely to have information that will help your decision making.</p>
        <p>Urgent requests may be picked up by a broker outside a MAC meeting. When this happens, the broker needs to add in the following information to the SharePoint request entry (if they are the only broker helping with the request they are the lead broker by default):</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>Lead broker name</li>
          <li>Lead broker organisation name</li>
          <li>Lead broker email</li>
          <li>Lead broker phone number</li>
          <li>Broker offer</li>
        </ul>
         <p>The broker also need to notify the information manager that they are taking on an urgent request, by sending a message in MS Teams. The information manager will review the SharePoint request entry for completeness and send an email to the organisation support has been requested for, to confirm a broker has been found to provide the support.</p>
       
       <br>
       <hr class="govuk-section-break govuk-section-break--visible">
       <br>

      <h2 class="govuk-heading-l">Joint response with another broker</h2>
        <p>2 or more brokers may  work together to respond to a request. One would be the ‘lead’ broker, the other the ‘supporting’ broker.</p>
      <h3 class="govuk-heading-m">Lead broker</h3>
        <p>The lead broker is the named point of contact for a local organisation on the email confirming support has been found that is sent to them by information managers.</p>
      <h3 class="govuk-heading-m">Supporting broker</h3>
        <p>The supporting broker works together with the lead broker to provide support to a local organisation.</p>
      <h3 class="govuk-heading-m">What to enter in SharePoint for joint broker responses</h3>
        <p>When 2 brokers work on a request, add these details to the request entry in SharePoint:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>Lead broker name</li>
            <li>Lead broker org</li>
            <li>Lead broker email</li>
            <li>Lead broker phone</li>
            <li>Supporting broker name</li>
            <li>Support broker organisation</li>
            <li>Support offered</li>
          </ul>
      <h4 class="govuk-heading-s">Adding details for support offered by 2 brokers</h4>
         <p>The brokers should agree what types of support they will each offer, and enter that information on the SharePoint request entry.</p>
         <p>For example:</p>
         <div class="govuk-inset-text">
          <p>British Red Cross will provide 5 drivers and 12 DBS checked volunteers for 3 weeks.</p>
          <p>St John Ambulance will provide 5 ambulances for 3 weeks.</p>
          </div>
        <br>
        <hr class="govuk-section-break govuk-section-break--visible">
        <br>
        <h3 class="govuk-heading-m">Related content</h3>
      <ul class="govuk-list">
        <li>
          <a href="/being-a-broker/brokers-step-by-step">Step-by-step for information managers</a>
        </li>
        <li>
          <a href="/being-a-broker/what-is-a-broker">What is an information manager?</a>
        </li>
        <li>
          <a href="/being-a-broker/brokers-for-covid-19">Information managers for COVID-19 response</a>
        </li>
      </ul>


    </div>
</div>

{% endblock %}
