
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  How brokers work | VCS EP service manual
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/being-a-broker">Being a broker</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">How brokers work</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">How brokers work</h1>
        <p>Brokers are regional level organisations that  answer local organisation support requests that cannot be met locally. They are assigned to the VCS EP multiagency cell for the region they operate in and take part in the regular MAC meetings.</p>
      <h2 class="govuk-heading-l">Brokers and liaison leads</h2>
        <p>Brokers should work closely with liaison leads particularly on urgent requests.</p>
      <h3 class="govuk-heading-m">Normal priority requests</h3>
        <p>When you consider brokering a local request, speak to the assigned liaison lead, to understand the local context.</p>
      <h3 class="govuk-heading-m">Urgent priority requests</h3>
        <p>When you consider supporting an urgent request, it is vital to include the liaison lead assigned to the request in your MS Teams chat. They are likely to have information that will help your decision making.</p>
      <h2 class="govuk-heading-l">Brokers and information managers</h2>
        <p>Brokers work with information managers to make sure broker actions are accurately recorded in SharePoint.</p>
      <h3 class="govuk-heading-m">Normal priority requests</h3>
        <p>These requests are assigned to a broker during a MAC meeting. The information manager will input the brokerage details on the SharePoint entry for the request  and ask the broker to check they are correct.</p>
        <p>The information manager will then send an email to the organisation support has been requested for to confirm that a broker has been found to provide the support.</p>
      <h3 class="govuk-heading-m">Urgent priority requests</h3>
        <p>These requests may be picked up by a broker outside a MAC meeting.When this happens, the broker needs to add in the following information to the SharePoint request entry (if they are the only broker helping with the request they are the lead broker by default):</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>Lead broker name</li>
          <li>Lead broker organisation name</li>
          <li>Lead broker email</li>
          <li>Lead broker phone number</li>
          <li>Broker offer</li>
        </ul>
         <p>The broker also need to notify the information manager that they are taking on an urgent request, by sending a message in MS Teams. The information manager will review the SharePoint request entry for completeness and send an email to the organisation support has been requested for, to confirm a broker has been found to provide the support.</p>
       <h2 class="govuk-heading-l">Brokers working together on a joint response</h2>
        <p>2 or more brokers may  work together to respond to a request. One would be the ‘lead’ broker, the other the ‘supporting’ broker.</p>
      <h3 class="govuk-heading-m">Lead broker</h3>
        <p>The lead broker is the named point of contact for a local organisation on the email confirming support has been found that is sent to them by information managers.</p>
      <h3 class="govuk-heading-m">Supporting broker</h3>
        <p>The supporting broker works together with the lead broker to provide support to a local organisation.</p>
      <h3 class="govuk-heading-m">What to enter in SharePoint for joint broker responses</h3>
        <p>When 2 brokers work on a request, add these details to the request entry in SharePoint:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>Lead broker name</li>
            <li>Lead broker org</li>
            <li>Lead broker email</li>
            <li>Lead broker phone</li>
            <li>Supporting broker name</li>
            <li>Support broker organisation</li>
            <li>Support offered</li>
          </ul>
         <p>The brokers should agree what types of support they will each offer on a request, and enter that information on the SharePoint: request entry.</p>
         <p>For example:</p>
         <p>British Red Cross will provide 5 drivers and 12 DBS checked volunteers for 3 weeks.</p>
         <p>St John Ambulance will provide 5 ambulances for 3 weeks.</p>

        <hr class="govuk-section-break govuk-section-break--visible">
        <br>
        <h3 class="govuk-heading-m">Related content</h3>
      <ul class="govuk-list">
        <li>
          <a href="/being-an-information-manager/information-managers-step-by-step">Step-by-step for information managers</a>
        </li>
        <li>
          <a href="/being-an-information-manager/what-is-an-information-manager">What is an information manager?</a>
        </li>
        <li>
          <a href="/being-an-information-manager/information-managers-for-covid-19">Information managers for COVID-19 response</a>
        </li>
      </ul>


    </div>
</div>

{% endblock %}
