{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Being a broker | VSCEP service manual
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Being a broker</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Being a broker</h1>
      <p>A multiagency cell (MAC) duty manager can invite any new organisation interested in becoming a VCS EP support service broker to a cell meeting. At the meeting they will  be able to experience the requests coming to the service, and so understand the types of support needed.</p>
      <p>If after attending the MAC meeting the organisation:</p>
        <ul class="govuk-list govuk-list--bullet">
        <li>fully understands the support the service intends to offer</li>
        <li>thinks that they can contribute something useful as a broker</li>
        <li>is are still interested in becoming a broker</li>
        </ul>
      <p>The cell lead or project manager will send them the welcome email, which includes the information guidance training link and their honorary contract.</p>
      <p></p>
      <hr class="govuk-section-break govuk-section-break--visible">
      <br>
      <h3 class="govuk-heading-m">Section content</h3>

      <ul class="govuk-list">
        <li>
          <a href="/being-a-broker/brokers-step-by-step">Step-by-step for brokers</a>
        </li>
        <li>
          <a href="/being-a-broker/what-is-a-broker">What is a broker?</a>
        </li>
        <li>
          <a href="/being-a-broker/brokers-for-covid-19">Brokers for COVID 19 response</a>
        </li>
        <li>
          <a href="/being-a-broker/how-brokers-work">How brokers work</a>
        </li>
      </ul>

    </div>
</div>

{% endblock %}
