
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  What is an information manager? | VCS EP service manual
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/being-a-broker">Being a broker</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">What is a broker?</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">What is a broker?</h1>
        <p>Brokers are organisations who can provide different types of support, either regionally or nationally.
The support offered will depend on the area of England you are in, as organisations have different capacity, and access to resources and other methods of support depending on region.</p>
        <p>VCS EP work with third party brokers locally, regionally and nationally to coordinate the resources local organisations need. These brokers are listed below. We expect new brokers to join as our ‘Request support as a voluntary or community organisation’ service gets going, and we will update this list as regularly as possible.</p>
        <p>Broker list:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>St John Ambulance</li>
            <li>Team Rubicon</li>
            <li>Salvation Army</li>
            <li>Victim Support</li>
            <li>Business in the Community</li>
          </ul>
    </p>
<hr class="govuk-section-break govuk-section-break--visible">
<br>
<h3 class="govuk-heading-m">Related content</h3>
        <ul class="govuk-list">
          <li>
            <a href="/being-a-broker/brokers-step-by-step">Step-by-step for brokers</a>
          </li>
          <li>
            <a href="/being-a-broker/brokers-for-covid-19">Brokers for COVID 19 response</a>
          </li>
          <li>
            <a href="/being-a-broker/how-brokers-work">How brokers work</a>
          </li>
        </ul>

    </div>
</div>

{% endblock %}
