{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Useful contacts | VCS EP service manual
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Useful Contacts</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Useful contacts</h1>

      <p>Community groups and local organisations should use existing local support routes before making a request on the 'Request support as a local organisation' service, like <a class="govuk-link" href="https://navca.org.uk/find-a-member-1">local councils for voluntary service</a> and <a class="govuk-link" href="https://docs.google.com/document/d/1pjQ745Ex2miS8H_QJtb0gcWYKv5RvNAfsKwC2VuydmM/edit?ts=5e9d7b9f">other local infrastructure bodies</a>.
      <p>To access contact details for further local support channels, or to find out how to access service contacts as a liaison lead, information manager or regional tactical cell duty manager, follow the links in this section.
      </p> 
      <hr class="govuk-section-break govuk-section-break--visible">
        <br>
        <h3 class="govuk-heading-m">Section content</h3>
        <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="/useful-contacts/liaison-leads">Liaison leads</a>
        </li>
        <li>
          <a href="/useful-contacts/information-managers">Information managers</a>
        </li>
       <li>
          <a href="/useful-contacts/regional-tactical-cell-duty-managers">Regional tactical cell duty managers</a>
        </li>
        <li>
          <a href="/useful-contacts/local-authority-hubs">Local Authority Hubs</a>
        </li>
        <li>
          <a href="/useful-contacts/local-resilience-fora">Local Resilience Forums</a>
        </li>
      </ul>

    </div>
</div>

{% endblock %}
