{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Liaison leads contacts | VCSEP support manual
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Useful Contacts</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Liaison Leads</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Liaison leads contacts</h1>

      <p class="govuk-body">As a liaison lead for the 'Get support as a local organisation' service you should have received a list of contacts by email after you completed your <a href="/data-sharing/information-governance-training">information governance training</a>.</p>
      <p>If you've completed the training and have not received the contact list, or if you have issues with how the service is working or with any processes related to the service, contact:<p>
      <p>
        British Red Cross <a href="mailto:VCSEP@RedCross.org.uk">VCSEP@RedCross.org.uk</a></p>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="/useful-contacts/liaison-leads">Liaison leads</a>
        </li>
        <li>
          <a href="/useful-contacts/information-managers">Information managers</a>
        </li>
        <li>
          <a href="/useful-contacts/local-authority-hubs">Local Authority Hubs</a>
        </li>
        <li>
          <a href="/useful-contacts/local-resilience-fora">Local Resilience Fora</a>
        </li>
        <li>
          <a href="/useful-contacts/regional-tactcial-cell-duty-managers">Regional Tactical Cell Duty Managers</a>
        </li>
      </ul>

    </div>
</div>

{% endblock %}
