{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Liaison leads contacts | VCSEP support manual
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/useful-contacts">Useful contacts</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">For liaison Leads</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Useful contacts for liaison leads</h1>

      <p class="govuk-body">As a liaison lead for the 'Request support as a local organisation' service you should have received a list of all the contact information you need by email after you completed your <a href="/data-sharing/information-governance-training">information governance training</a>.</p>
      <p class="govuk-body">Your list will include contact details for:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>liaison leads</li>
        <li>information managers</li>
        <li>tactical cell duty managers</li>
        <li>crisis response</li>
      </ul>

      <p>If you've completed the training and have not received the contact list, or if you have issues with how the service is working or with any processes related to the service, contact:<p>
      <p>
        British Red Cross <a href="mailto:VCSEPservice@RedCross.org.uk">VCSEPservice@RedCross.org.uk</a></p>
      <p>For issues with your role as a liaison lead, contact NAVCA.<p>

      <hr class="govuk-section-break govuk-section-break--visible">
      <br>
      <h3 class="govuk-heading-m">Related content</h3>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="/useful-contacts/information-managers">Information managers</a>
        </li>
        <li>
          <a href="/useful-contacts/local-authority-hubs">Local Authority Hubs</a>
        </li>
        <li>
          <a href="/useful-contacts/local-resilience-fora">Local Resilience Forums</a>
        </li>
        <li>
          <a href="/useful-contacts/local-infrastructure-bodies">Local infrastructure bodies</a>
        </li>
      </ul>

    </div>
</div>

{% endblock %}
