{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Local resilience forums | VCS EP service manual
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/useful-contacts">Useful Contacts</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Local Infrastructure Bodies</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Local infrastructure bodies</h1>

      <p class="govuk-body">Local infrastructure bodies are the voice of the local voluntary and community sector, providing their members with a range of services and development support.</p>
      <p>They work with local groups to provide access to information on, for example, training, funding and legal advice.</p>
      <p>They also work with new groups to address unmet needs as well as ensuring that existing groups are equipped to shape their services to the changing needs of the community.</p>
      <p><a class="govuk-link" href="https://docs.google.com/document/d/1pjQ745Ex2miS8H_QJtb0gcWYKv5RvNAfsKwC2VuydmM/edit?ts=5e9d7b9f">Find local infrastructure bodies in your region.</a></p>
<hr class="govuk-section-break govuk-section-break--visible">
<br>
<h3 class="govuk-heading-m">Related content</h3>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="/useful-contacts/liaison-leads">Liaison leads</a>
        </li>
        <li>
          <a href="/useful-contacts/information-managers">Information managers</a>
        </li>
        <li>
          <a href="/useful-contacts/local-authority-hubs">Local Authority Hubs</a>
        </li>
        <li>
          <a href="/useful-contacts/local-resilience-fora">Local Resilience Forums</a>
        </li>
      </ul>
    </div>
</div>

{% endblock %}
