{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Local authority hubs | VCS EP service manual
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/useful-contacts">Useful Contacts</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Local Authority Hubs</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Local authority hubs</h1>

      <p class="govuk-body">Local authority hubs are providing support to vulnerable and shielding citizens during the coronavirus (COVID-19) pandemic.</p>
      <p><a class="govuk-link" href="https://www.theyhelpyou.co.uk/">Find local authority hubs using the TheyHelpYou.co.uk search tool</a></p>
      <hr class="govuk-section-break govuk-section-break--visible">
      <br>
      <h3 class="govuk-heading-m">Related content</h3>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="/useful-contacts/liaison-leads">Liaison leads</a>
        </li>
        <li>
          <a href="/useful-contacts/information-managers">Information managers</a>
        </li>
        <li>
          <a href="/useful-contacts/local-authority-hubs">Local Authority Hubs</a>
        </li>
        <li>
          <a href="/useful-contacts/local-resilience-fora">Local Resilience Fora</a>
        </li>
        <li>
          <a href="/useful-contacts/regional-tactcial-cell-duty-managers">Regional Tactical Cell Duty Managers</a>
        </li>
      </ul>

    </div>
</div>

{% endblock %}
