{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Local resilience forums | VCS EP service manual
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/useful-contacts">Useful contacts</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Local Resilience Fora</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Local resilience forums</h1>

      <p class="govuk-body">Local resilience forums are multi-agency partnerships made up of representatives from local public services, including the emergency services, local authorities, the NHS, the Environment Agency and others.</p>
      <p>They work to identify potential risks and produce emergency plans to either prevent or mitigate the impact of any incident or catastrophic emergency on their local communities.</p>
      <p><a class="govuk-link" href="https://www.gov.uk/guidance/local-resilience-forums-contact-details">Find local resilience forums on GOV.UK</a></p>
<hr class="govuk-section-break govuk-section-break--visible">
<br>
<h3 class="govuk-heading-m">Related content</h3>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="/useful-contacts/liaison-leads">Liaison leads</a>
        </li>
        <li>
          <a href="/useful-contacts/information-managers">Information managers</a>
        </li>
        <li>
          <a href="/useful-contacts/local-authority-hubs">Local Authority Hubs</a>
        </li>
        <li>
          <a href="/useful-contacts/local-infrastructure-bodies">Local infrastructure bodies</a>
        </li>
      </ul>
    </div>
</div>

{% endblock %}
