
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Acknowledging support found | VCS EP Service manual
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/email-templates">Email templates</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/email-templates/for-information-managers">For Information managers</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Acknowledging support has been found for a local organisation</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Acknowledging support has been found for a local organisation</h1>

      <p class="govuk-body">Send this email to a local organisation to let them know that support has been found for their request.</p>
      <h2 class="govuk-heading-l">Checklist</h2>
      <p>1. To: requesting organisation</p>
      <p>2. Cc. liaison lead, lead broker and supporting broker.</p>
      <p>3. Bcc. VCSEP_IM@redcross.org.uk</p>

      <hr class="govuk-section-break govuk-section-break--visible">
      <br>
      <br>
      <p>Dear [organisation name]</p>
      <p>Re: We have found two organisations who are able to support you.</p>
      <p>I am writing to update you on the request made by or on behalf of [Organisation name] on [dd/mm/yy].</p>
      <p>We have now found two organisations who will be taking forward the request for support.</p>
      <p>Here are contact details for the organisations providing the support.</p>
      <p><strong>Broker organisation name:</strong></p> <p>[Lead broker organisation]</p>
      <p><strong>Name:<strong></p> <p>[Lead broker name]</p>
      <p><strong>Email:</strong></p> <p>[Lead broker email]</p>
      <p><strong>Phone number:</strong></p> <p>[Lead broker phone]</p>
      <p><strong>Supporting broker organisation name:</strong></p> <p>[Supporting broker organisation]</p>
      <p><strong>Supporting broker name:<strong></p> <p>[Support broker]</p>
      <p><strong>They have said they can support by:</strong></p> <p>[Broker offer]</p>
      <p>We will leave you to contact each other to make the necessary arrangements. The organisation has your contact details.</p>
      <p>If you have any difficulty making contact with the broker above, contact your VCS EP support service liaison lead [liaison lead email address] straight away to request an update.</p>
      <p>Many thanks,</p>
      <p>Information Manager</p>
      <p>VCS EP Request Support service</p>

      <hr class="govuk-section-break govuk-section-break--visible">
      <br>
      <br
 <hr class="govuk-section-break govuk-section-break--visible">
      <br>
      <br>
</div>
    </div>
</div>

{% endblock %}
