{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  About support line | BRC support line manual
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">About the support line</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">About the support line</h1>
      
      <p class="govuk-body">The support line gives emotional support to people having to self-isolate from Coronavirus (COVID-19). This includes people who are <a href="https://www.gov.uk/government/publications/guidance-on-shielding-and-protecting-extremely-vulnerable-persons-from-covid-19/guidance-on-shielding-and-protecting-extremely-vulnerable-persons-from-covid-19#what-do-we-mean-by-extremely-vulnerable">most medically vulnerable</a> and other needing to fully self-isolate for the expected period of 12 weeks.</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          {% include "nav-links/phone-number.html" %}
        </li>
        <li>
          {% include "nav-links/opening-times.html" %}
        </li>
        <li>
          {% include "nav-links/advice-support-available.html" %}
        </li>
      </ul>

    </div>
</div>

{% endblock %}
