{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  About the service | VCS EP service manual
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">About</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">About the service</h1>

      <p class="govuk-body">This service is for voluntary, community and other local organisations or groups to make a request        for support, after exploring all local options and not finding the required support.
      </p>
      <h2 class="govuk-heading-l">Service descriptors</h2>
        <p>Here are definitions of what we mean by the following terms, when we use them to describe this new service.</p>
      <h3 class="govuk-heading-m">Service</h3>
        <p>Request support as a voluntary or community organisation’ service. A new service offered by the VSC Emergencies Partnership. Its purpose is to fill any gaps in local capacity to meet the needs of local organisations, during times of emergency.
        </p>
      <h3 class="govuk-heading-m">Request</h3>
        <p>Details from a local organisation about support they need, communicated through the webform and emails following on from that.
        </p>
      <h3 class="govuk-heading-m">Local organisation</h3>
        <p>A small-scale, community, voluntary or grassroots organisation that exists to help provide resources or expertise to answer local need.
        </p>
      <h3 class="govuk-heading-m">Support</h3>
        <p>Resources, expert advice and guidance or information to meet a local need.
        </p>
      <h3 class="govuk-heading-m">Brokering</h3>
        <p>Assigning a third party organisation, found regionally, to provide or organise the support requested for a local need.
        </p>
      <h3 class="govuk-heading-m">Local need</h3>
        <p>Lack of resource, expertise or information at a local organisation. Examples: not enough DBS-checked volunteers, not knowing which funding schemes the organisation is eligible for.
        </p>
      <h3 class="govuk-heading-m">Unmet need</h3>
        <p>The ‘Request support as a voluntary or community organisation’ service has not been able to broker the need at a regional level and has escalated it to national level.
        </p>
      <h3 class="govuk-heading-m">Liaison lead</h3>
        <p>Local community and voluntary sector member, who also may be a local organisation leader, who has taken on a local need request and provision coordination role in our service.
        </p>
      <h3 class="govuk-heading-m">Information manager</h3>
        <p>Manages information relating to local organisation requests, regionally.
        </p>
      <h3 class="govuk-heading-m">Multiagency cell</h3>
        <p>A regional team of information managers including a duty manager, who meet regularly to assign regional brokers to support requests for local needs.
        </p>
      <h3 class="govuk-heading-m">National level</h3>
        <p>Where unmet needs are pushed after they are not met regionally. They are submitted to the Strategic Coordination Group (SCG).
        </p>
      <h2 class="govuk-heading-l">Acronyms explained</h2>
      <h3 class="govuk-heading-m">Organisations</h3>
        <p>VCS EP</p>
        <p>Voluntary and Community Sector Emergencies Partnership</p>
          <br>
        <p>NAVCA</p>		
        <p>National Association for Voluntary and Community Action</p>
          <br>
        <p>BRC</p>
        <p>British Red Cross</p>
          <br>
        <p>local CVS</p>
        <p>local council for voluntary service</p>
          <br>
        <p>VSC</p>
        <p>voluntary service council</p>
          <br>
        <p>LRF</p>
        <p>local resilience forum</p>
          <br>
      <h3 class="govuk-heading-m">Functions/levels</h3>
        <p>MAC</p>
        <p>Multiagency cell (regional)</p>
          <br>
        <p>SCG</p>
        <p>Strategic Coordination Group</p>
          <br>
      <h3 class="govuk-heading-m">Roles</h3>
        <p>LL</p>
        <p>Liaison lead</p>
          <br>
        <p>IM/IMO</p>
        <p>Information manager</p>
          <br>
        <p>ERV</p>
        <p>emergency response volunteers</p>
          <br>
      <h3 class="govuk-heading-m">Processes/concepts</h3>
        <p>IG</p>
        <p>information governance</p>
      
      <hr class="govuk-section-break govuk-section-break--visible">
      <br>
       <h3 class="govuk-heading-m">Section content</h3>
      <ul class="govuk-list">
        <li>
          {% include "nav-links/who-is-service-for.html" %}
        </li>
        <li>
          {% include "nav-links/what-support-it-offers.html" %}
        </li>
        <li>
          {% include "nav-links/how-it-works.html" %}
        </li>
        <li>
          {% include "nav-links/response-times.html" %}
        </li>
        <li>
          {% include "nav-links/vcsep-partners.html" %}
        </li>
      </ul>

    </div>
</div>

{% endblock %}
