
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Advice support available | BRC support line manual
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/about-support-line">About</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Advice and support available</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Advice and support available through the support line</h1>
      
      <p class="govuk-body">The support line offers primarily emotional support to people having to self-isolate from Coronavirus (COVID-19).</p>

      <p class="govuk-body">For some people calling we may need to give them other support we don't advertise, including:</p>

      <ul class="govuk-list govuk-list--bullet">
          <li>How to get supplies like food and medication</li>
          <li>Information to contact other services</li>
          <li>Support to get specialist services such as mental health, finance and supplies</li>
          <li>Support planning your next steps</li>
      </ul>

      {% include "includes/related-content.html" %}
      <ul class="govuk-list">
        <li id="homepage-link-list">
          {% include "nav-links/about-support-line.html" %}
        </li>
        <li id="homepage-link-list">
          {% include "nav-links/phone-number.html" %}
        </li>
        <li id="homepage-link-list">
          {% include "nav-links/opening-times.html" %}
        </li>
      </ul>

    </div>
</div>

{% endblock %}
