
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  After call | BRC support line manual
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/training">Training</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">After a call</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">What to do after a call</h1>

      <ol class="govuk-list govuk-list--number">
        <li><a href="/support-for-operators">Take a break</a> if it has been a difficult call 
        <li><a href="/personal-information/forms">Record information from the call</a></li>
        <li><a href="/support-for-operators/speak-to-supervisor">Speak to your supervisor</a> if you need to</li>
      </ol>

    </div>
</div>

{% endblock %}
