
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Ending calls | BRC support line manual
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/training">Training</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Ending calls</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Ending calls</h1>

      <p class="govuk-body">You might find it difficult to end calls. We feel we haven’t fixed the problem - sometimes it’s more about enabling the caller to think through their options than to be a fixer.</p>

      <p class="govuk-body">It may also be difficult as:</p>

      <ol class="govuk-list govuk-list--bullet">
        <li>The caller is still distressed</li>
        <li>We don’t feel assertive enough to end the call</li>
      </ol>

      <h3 class="govuk-heading-m">Check before you end the call</h3>

      <p class="govuk-body">Every call will be different. There is no one way to end the call.</p>

      <p class="govuk-body">Check before you finish the call that you’ve covered:</p>

      <ol class="govuk-list govuk-list--bullet">
        <li>Introduction</li>
        <li>Caller’s name</li>
        <li>Caller's postcode</li>
        <li>Caller's phone number</li>
        <li>Support they need</li>
        <li>Consent to call them back</li>
        <li>Summarise</li>  
        <li>Confirm any next steps</li>  
        <li>Say they can call again</li>
      </ol>

      <h3 class="govuk-heading-m">Printable checklist (optional)</h3>

      <p class="govuk-body"><a href="/public/images/call-checklist.pdf" download>Download printable checklist</a></p> 

      <p class="govuk-body">This printable version of the checklist is optional. Only print it if you find it useful to have a paper checklist when you answer calls.</p>

    </div>
</div>

{% endblock %}
