
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Finish calls | BRC support line manual
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/training">Training</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">How to finish calls</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">How to finish calls</h1>

      <p class="govuk-body">Every call will be different. There is no one way to finish the call.</p>

      <p class="govuk-body">Check before you finish the call that you’ve covered:</p>

      <ol class="govuk-list govuk-list--bullet">
        <li>Introduction</li>
        <li>Caller’s name</li>
        <li>Do they have a support network</li>
        <li>Vulnerabilities they might have</li> 
        <li>Support they need</li>
        <li>Consent to share information</li>  
        <li>Address</li>
        <li>Contact details</li>
        <li>Confirm their next steps</li>  
        <li>Say they can call again</li>
      </ol>


      <h3 class="govuk-heading-m">Printable checklist (optional)</h3>

      <p class="govuk-body"><a href="/public/images/call-checklist.pdf" download>Download printable checklist</a></p> 

      <p class="govuk-body">This printable version of the checklist is optional. Only print it if you find it useful to have a paper checklist when you answer calls.</p>

    </div>
</div>

{% endblock %}
