{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  About| BRC support line manual
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">About</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">How it works</h1>

      <p class="govuk-body">‘Get support as a local organisation' is an online service accessed at <a href="https://www.vcsep.support/">https://www.vcsep.support</a>. Organisations requesting support answer questions online. Their request is then sent for review. The request can be made by a Liaison Lead or by the organisation itself.</p>
      <p><strong>Example: A local community group needs to arrange food drop offs for households that are self-isolating and unable to leave the house to shop for food. These are potentially vulnerable people and the local groups want the assurance of having volunteers with up to date DBS checks but cannot find enough people.</strong></p>
      <p>Steps as a Liaison Lead using the service:</p>
      <ol class="govuk-list govuk-list--number">
        <li>Community group raises issue with their local infrastructure body, who send a help request to you.</li>
        <li>Contact local organisation to get relevant details.</li>
        <li>Try to solve this request through local networks like voluntary service council groups, local authority and local resilience forum.</li>
        <li>If unable to source help locally, use the ‘Get help as a local organisation’ online service to pass request up to a regional tactical cell.</li>
        <li>Request form is received by an Information Manager who works with you to triage and check they have the information they need to meet the request.</li>
        <li>Brokers identify and brief a small team of DBS checked volunteers who are sent out the next day to start the food drop offs.</li>
        <li>Information Manager notifies you to let you know the request has been actioned.</li>
        </ol>
      <p>Steps as a local organisation using the service:</p>
      <ol class="govuk-list govuk-list--number">
        <li>Ask around local network of community groups.</li>
        <li>Approach the local authority.</li>
        <li>If no or unsatisfactory response, continue these steps.</li>
        <li>Hear about the ‘Get help as a local organisation’ service, perhaps from a recommendation in a local Facebook group.</li>
        <li>Visit website and find a local Liaison Lead helping with requests in your area. Use the ‘Get help as a local organisation’ online service to request help.</li>
        <li>Request received by Information Manager who works with a Liaison Lead to triage and check they have the information they need to meet the request.</li>
        <li>Liaison Lead gets in touch with you. They try to solve your request locally through local networks like voluntary service council groups, local authority and local resilience forum.</li>
        <li>If they are unable to source help locally, Liaison Lead asks the Information Manager to pass the request up to a Regional Tactical Cell.</li>
        <li>Brokers identify and brief a small team of DBS checked volunteers, who are sent out the next day to start the food drop offs.</li>
        <li>Information Manager lets Liaison Lead know your request has been actioned.</li>
        </ol>
      <ul class="govuk-list">
        <li>
          {% include "nav-links/who-is-service-for.html" %}
        </li>
        <li>
          {% include "nav-links/what-support-it-offers.html" %}
        </li>
        <li>
          {% include "nav-links/how-it-works.html" %}
        </li>
        <li>
          {% include "nav-links/response-times.html" %}
        </li>
      </ul>

    </div>
</div>

{% endblock %}
