{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  About| BRC support line manual
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/about-the-service">About</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">How it works</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">How it works</h1>

      <p class="govuk-body">‘Request support as a voluntary and community organisation' is an online service accessed at <a href="https://www.vcsep.support/">www.vcsep.support</a>.</p>
      <p>Organisations requesting support answer questions online. The request can be made by a liaison lead representing the organisation or by the organisation itself. Requests made by local organisations are reviewed by liaison leads. Support will then be arranged locally or escalated to a regional level.</p>

      <h2 class="govuk-heading-l">Example</h2>
      <p>A local community group needs to arrange food drop offs for households that are self-isolating and unable to leave the house to shop for food. These are potentially vulnerable people and the local groups want the assurance of having volunteers with up to date DBS checks but cannot find enough people.</strong></p>
      <h3 class="govuk-heading-m">Steps as a liaison lead using the service</h3>
      <p>Consider whether you can find a local broker to provide the needed support.</p>
      <p>Able to find local support?<br>
        If yes, do not make a request.<br>
        If no, you use the ‘Request support as a voluntary and community organisation’ online service.</p>

      <ol class="govuk-list govuk-list--number">
        <li>The request you submitted is received by an information manager, who checks they have the information they need to escalate it.</li>
        <li>You receive an email in the next 24 hours confirming receipt of the request and the request details. The community group also receives a copy of this.</li>
        <li>Information manager notifies you to let you know that a broker has been found to take the request forward.</li>
        <li>The Information manager sends an email to the broker and the community group introducing them to each other and detailing how the broker has agreed to help them.</li>
        </ol>

    <h3 class="govuk-heading-m">Steps as a local group or organisation using the service</h3>
      <p>Try to solve the request through local networks like voluntary service council groups, local authority and local resilience forum.</p>
      <p>Able to find local support?<br>
        If yes, do not make a referral.<br>
        If no or unsatisfactory response, the group follows these steps.</p>

      <ol class="govuk-list govuk-list--number">
        <li>Hear about the ‘Request support as a voluntary and community organisation’ service, perhaps from a recommendation or a local Facebook group.
        </li>
        <li>Visit website and use the ‘Request support as a voluntary and community organisation’ online service to request help.
        </li>
        <li>Request is received by information manager.</li>
        <li>The group receives an email in the next 24 hours confirming receipt of the request and the details.
        </li>
        <li>The area liaison lead also receives a copy of the reuqest and they review it to check if the need can be met locally.         </li>
        </ol>
        <p>Able to find local support?<br>
        If yes, the liaison lead identifies a local broker:</p>
        <ul class="govuk-list govuk-list--bullet">
        <li>Liaison lead gets in touch with the community group. They try to solve the request locally through local networks like voluntary service council groups, local authority and local resilience forum.
          </li>
        <li>Liaison lead contacts the information manager with the local broker's details, to let them know that a local broker has been found.
          </li>
        <li>The information manager adds the local broker details to the record and assigns a 'resolved locally' status.
          </li>
          </ul>
        <p>If no, the liaison lead recommends escalation:</p>
          <ul class="govuk-list govuk-list--bullet">
        <li>If they are unable to source help locally, liaison lead asks the information manager to escalate the request up to the multiagency cell for brokering.</li>
            <li>Information manager notifies the liaison lead to let them know that a broker has been found and the request has been actioned.</li>
            <li>The information manager sends an email to the broker and the community group introducing them to each other and detailing how the broker has agreed to help them.</li>
        </ul>
      <hr class="govuk-section-break govuk-section-break--visible">
      <br>
      <h3 class="govuk-heading-m">Related content</h3>

      <ul class="govuk-list">
        <li>
          {% include "nav-links/who-is-service-for.html" %}
        </li>
        <li>
          {% include "nav-links/what-support-it-offers.html" %}
        </li>
        <li>
          {% include "nav-links/how-it-works.html" %}
        </li>
        <li>
          {% include "nav-links/response-times.html" %}
        </li>
        <li>
          {% include "nav-links/vcsep-partners.html" %}
        </li>
      </ul>

    </div>
</div>

{% endblock %}
