
{% extends "layout_homepage.html" %}

{% block pageTitle %}
  NESL Operating Manual
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-one-half">
      <h3 class="govuk-heading-m">Call operator guidance</h3>
      <ul class="govuk-list">
        <li id="homepage-link-list">
          {% include "nav-links/call-handler/principles.html" %}
        </li> 
        <li id="homepage-link-list">
          {% include "nav-links/signposting.html" %}
        </li> 
        <li id="homepage-link-list">
          {% include "nav-links/call-handler/finish-calls.html" %}
        </li> 
        <li id="homepage-link-list">
          {% include "nav-links/call-handler/after-call.html" %}
        </li> 
        <li id="homepage-link-list">
          {% include "nav-links/personal-information/index.html" %}
        </li>      
      </ul>
    </div>

    <div class="govuk-grid-column-one-half">
      <h3 class="govuk-heading-m">About the support line</h3>
      <ul class="govuk-list">
        <li id="homepage-link-list">
          {% include "nav-links/about-support-line.html" %}
        </li>
        <li id="homepage-link-list">
          {% include "nav-links/phone-number.html" %}
        </li>
        <li id="homepage-link-list">
          {% include "nav-links/advice-support-available.html" %}
        </li>
      </ul>
    </div>

</div>

 
{% endblock %}
