
{% extends "layout_homepage.html" %}

{% block pageTitle %}
  VCS EP Service Manual
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      <h4 class="govuk-heading-s">About the service</h4>

      <ul class="govuk-list">
        <li id="homepage-link-list">
          {% include "nav-links/who-is-service-for.html" %}
        </li>
        <li id="homepage-link-list">
          {% include "nav-links/what-support-it-offers.html" %}
        </li>
        <li id="homepage-link-list">
          {% include "nav-links/how-it-works.html" %}
        </li>
        <li id="homepage-link-list">
          {% include "nav-links/response-times.html" %}
        </li>
      </ul>
    </div>

    <div class="govuk-grid-column-one-third">
      <h4 class="govuk-heading-s">Being a liaison lead</h4>
        <ul class="govuk-list">
        <li id="homepage-link-list">
          {% include "nav-links/being-a-liaison-lead/step-by-step-liaison-leads.html" %}
        </li>
        <li id="homepage-link-list">
          {% include "nav-links/being-a-liaison-lead/what-is-a-liaison-lead.html" %}
        </li>
        <li id="homepage-link-list">
          {% include "nav-links/being-a-liaison-lead/how-liaison-leads-work.html" %}
        </li>
        <li id="homepage-link-list">
          {% include "nav-links/being-a-liaison-lead/liaison-leads-covid-19.html" %}
        </li>
      </ul>
    </div>

    <div class="govuk-grid-column-one-third">
      <h4 class="govuk-heading-s">Being an information manager</h4>
        <ul class="govuk-list">
        <li id="homepage-link-list">
          {% include "nav-links/being-an-information-manager/information-managers-step-by-step.html" %}
          </li>
        <li id="homepage-link-list">
          {% include "nav-links/being-an-information-manager/what-is-an-information-manager.html" %}
        </li>
        <li id="homepage-link-list">
          {% include "nav-links/being-an-information-manager/how-information-managers-work.html" %}
        </li>
        <li id="homepage-link-list">
          {% include "nav-links/being-an-information-manager/information-managers-for-covid-19.html" %}
        </li>
      </ul>
    </div>


    <div class="govuk-grid-column-one-third">
      <h4 class="govuk-heading-s">Using SharePoint</h4>
        <ul class="govuk-list">
        <li id="homepage-link-list">
          {% include "nav-links/using-sharepoint/sharepoint-for-information-managers.html" %}
        </li>
        <li id="homepage-link-list">
          {% include "nav-links/using-sharepoint/sharepoint-for-liaison-leads.html" %}
        </li>
        <li id="homepage-link-list">
          {% include "nav-links/using-sharepoint/glossary-of-terms.html" %}
        </li>
        <li id="homepage-link-list">
          {% include "nav-links/using-sharepoint/reviewing-requests.html" %}
        </li>
      </ul>
    </div>


    <div class="govuk-grid-column-one-third">
      <h4 class="govuk-heading-s">Staying local or escalating</h4>
        <ul class="govuk-list">
        <li id="homepage-link-list">
          {% include "nav-links/staying-local-or-escalating/index.html" %}
        </li>
        <li id="homepage-link-list">
          {% include "nav-links/staying-local-or-escalating/brokering-local-support.html" %}
        </li>
        <li id="homepage-link-list">
          {% include "nav-links/staying-local-or-escalating/escalating-a-request.html" %}
        </li>
    </div>


<div class="govuk-grid-column-one-third">
      <h4 class="govuk-heading-s">Data Sharing</h4>
        <ul class="govuk-list">
        <li id="homepage-link-list">
          {% include "nav-links/data-sharing/information-governance-training.html" %}
        </li>
        <li id="homepage-link-list">
          {% include "nav-links/data-sharing/what-to-collect.html" %}
        </li>
        <li id="homepage-link-list">
          {% include "nav-links/data-sharing/what-not-to-collect.html" %}
        </li>
        <li id="homepage-link-list">
          {% include "nav-links/data-sharing/what-share-when.html" %}
        </li>
        <li id="homepage-link-list">
          {% include "nav-links/data-sharing/how-using-information.html" %}
        </li>
      </ul>
    </div>



    <div class="govuk-grid-column-one-third">
      <h4 class="govuk-heading-s">Following up with organisations</h4>
        <ul class="govuk-list">
        <li id="homepage-link-list">
          {% include "nav-links/following-up-with-orgs/getting-information-for-request.html" %}
        </li>
        <li id="homepage-link-list">
          {% include "nav-links/following-up-with-orgs/update-organisation.html" %}
        </li>
        <li id="homepage-link-list">
          {% include "nav-links/following-up-with-orgs/close-request-sharepoint.html" %}
        </li>
    </div>


    <div class="govuk-grid-column-one-third">
      <h4 class="govuk-heading-s">Email templates</h4>
        <ul class="govuk-list">
        <li id="homepage-link-list">
          {% include "nav-links/email-templates/templates-for-liaison-leads.html" %}
        </li>
        <li id="homepage-link-list">
          {% include "nav-links/email-templates/templates-for-information-managers.html" %}
        </li>
    </div>

    <div class="govuk-grid-column-one-third">
      <h4 class="govuk-heading-s">Useful Contacts</h4>
        <ul class="govuk-list">
        <li id="homepage-link-list">
          {% include "nav-links/useful-contacts/information-managers.html" %}
        </li>
        <li id="homepage-link-list">
          {% include "nav-links/useful-contacts/liaison-leads.html" %}
        </li>
        <li id="homepage-link-list">
          {% include "nav-links/useful-contacts/local-authority-hubs.html" %}
        </li>
        <li id="homepage-link-list">
          {% include "nav-links/useful-contacts/local-resilience-fora.html" %}
        </li>
        <li id="homepage-link-list">
          {% include "nav-links/useful-contacts/regional-tactical-cell-duty-managers.html" %}
        </li>
    </div>

  </div>




{% endblock %}
