{#- We can't mount GOV.UK Frontend's assets at root as it's done automatically by the extensions framework. -#}
{%- set assetPath = '/govuk/assets' -%}

{% extends "govuk/template.njk" %}

{% block headIcons %}
  <link rel="shortcut icon" href="{{ asset_path }}images/unbranded.ico?0.18.3" type="image/x-icon" />
  <link rel="mask-icon" href="{{ asset_path }}images/gov.uk_logotype_crown.svg?0.18.3" color="#0b0c0c">
  <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{ asset_path }}images/apple-touch-icon-152x152.png?0.18.3">
  <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{ asset_path }}images/apple-touch-icon-120x120.png?0.18.3">
  <link rel="apple-touch-icon-precomposed" sizes="76x76" href="{{ asset_path }}images/apple-touch-icon-76x76.png?0.18.3">
  <link rel="apple-touch-icon-precomposed" href="{{ asset_path }}images/apple-touch-icon-60x60.png?0.18.3">
{% endblock %}

{% block head %}
  {% include "includes/meta-tags.html" %}
  <link href="/public/stylesheets/unbranded.css" media="all" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
{% endblock %}

{% block header %}
{% include "includes/header.html" %}
<!--<header id="brc-header" class="govuk-header " role="banner" data-module="govuk-header" style="background-color: #d0021b;">
  <div class="govuk-header__container govuk-width-container" style="border-bottom: 0px;">

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
        <div>
          <p id="phase-banner" class="govuk-phase-banner__content" style="margin-bottom: 10px;">
            <strong id="phase-tag" class="govuk-tag govuk-phase-banner__content__tag">
              beta
            </strong>
            <span class="govuk-phase-banner__text">
              This is a new manual – your <a class="govuk-link" href="https://forms.office.com/Pages/ResponsePage.aspx?id=ujzc_l7KiEOoN7Rcfw1xt8szqeWGpq5MoJTS9323z7VUOTU0SjJMWVYxR1hHOEJFQUtTSTNMMkQ4Vy4u" target="_blank">feedback</a> will help us to improve it.
            </span>
          </p>
        </div>
        </div>
    </div>

  </div>
</header>-->
<header id="brc-header" class="govuk-header " role="banner" data-module="govuk-header" style="background-color: #193351;">
  <div class="govuk-header__container govuk-width-container" style="border-bottom: 0px;">

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
        <div>
          <p id="phase-banner" class="govuk-phase-banner__content" style="margin-bottom: 10px;">
            <strong id="phase-tag" class="govuk-tag govuk-phase-banner__content__tag">
              new
            </strong>
            <span class="govuk-phase-banner__text">
              This is a new manual – your <a class="govuk-link" href="https://forms.office.com/Pages/ResponsePage.aspx?id=ujzc_l7KiEOoN7Rcfw1xt0pZ5WuNlidPpisDzCMUR9VUOTU0SjJMWVYxR1hHOEJFQUtTSTNMMkQ4VyQlQCN0PWcu" target="_blank">feedback</a> will help us to improve it.
            </span>
          </p>
        </div>
        </div>
    </div>

  </div>
</header>
<header id="home-banner" class="govuk-header " role="banner" data-module="govuk-header">
    <div class="govuk-header__container govuk-width-container" style="border-bottom: 0px; padding-bottom: 40px; padding-top: 25px;">
    	<div class="govuk-grid-row">
      	<div class="govuk-grid-column-two-thirds">

  	      <h1 class="govuk-heading-xl" style="margin-bottom: 20px;">
  	        Information and tools to answer calls to British Red Cross support line
  	      </h1>
          <p class="govuk-body" style="margin-bottom: 0px;"">The support line gives emotional support to people having to self-isolate from Coronavirus (COVID-19)</p>
  	    </div>
      </div>
  	</div>
</header>
{% endblock %}
{% block footer %}
  {% include "includes/footer.html" %}
{% endblock %}

{% block bodyEnd %}
  {% include "includes/scripts.html" %}
{% endblock %}
