
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Phone number | BRC support line manual
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Phone number</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Opening times</h1>

      <p class="govuk-body">The support line is open:</p>

      <div class="govuk-panel govuk-panel--confirmation" style="background-color: #ffffff; border: 2px solid #0b0c0c">
        <div class="govuk-panel__body" style="color: #0b0c0c">
          10am – 6pm<br>Seven days a week
        </div>
      </div>

      {% include "includes/related-content.html" %}
      <ul class="govuk-list">
        <li id="homepage-link-list">
          {% include "nav-links/about-support-line.html" %}
        </li>
        <li id="homepage-link-list">
          {% include "nav-links/phone-number.html" %}
        </li>
        <li id="homepage-link-list">
          {% include "nav-links/advice-support-available.html" %}
        </li>
      </ul>

    </div>
</div>

{% endblock %}
