
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Finish calls | BRC support line manual
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Page updates</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Pages updates</h1>

      <p class="govuk-body">Keep track of new and updated pages on the Operator Manual.</p>

      <h3 class="govuk-heading-m">Monday 6 April</h3>

      <ol class="govuk-list">
        <li>Added: <a href="/equipment/zoom-video-calls">Zoom video call</a></li>
      </ol>

      <h3 class="govuk-heading-m">Friday 3 April</h3>

      <ol class="govuk-list">
        <li>Updated: <a href="/training/safeguarding-procedure">Safeguarding procedure</a></li>
      </ol>

      <h3 class="govuk-heading-m">Thursday 2 April</h3>

      <ol class="govuk-list">
        <li>Added: <a href="/page-updates">Page updates</a> (this page)</li>
      </ol>

      <h3 class="govuk-heading-m">Wednesday 1 April</h3>

      <ol class="govuk-list">
        <li>Added: <a href="/equipment/turn-off-voicemail">Turn off your voicemail</a>
        </li>
        <li>Added: <a href="/equipment/hide-phone-number">Hide your phone number</a>
        </li>
        <li>Updated: 
          <a href="/equipment/setup-phone">Setup your phone ready to answer calls</a>
        </li>
        <li>Updated: <a href="/equipment/how-to-answer">How to answer calls with your phone</a>
        </li>
        <li>Updated: 
          <a href="/equipment/stop-calls">Stop getting support line calls</a>
        </li>
        <li>Added: 
          {% include "nav-links/personal-information/forms.html" %}
        </li>
        <li>Updated: {% include "nav-links/personal-information/what-to-collect.html" %}
        </li>
        <li>Updated: <a href="/finish-calls">How to finish calls</a></li>
        <li>Added: <a href="/phone-number">Phone number</a></li>
        <li>Added: <a href="/support-for-operators/speak-to-supervisor">Speak to your supervisor</a>
        </li>
        <li>Added: <a href="/personal-information/note-taking">Note taking</a>
        </li>
      </ol>

      <h3 class="govuk-heading-m">Monday 30 March</h3>

      <ol class="govuk-list">
        <li>Added: <a href="/training/calling-back">Calling people back</a></li>
        <li>Added: <a href="/equipment/transfer-calls">Transfer calls</a></li>
        <li>Updated: <a href="/equipment/check-what-you-need">Check what you need to answer calls</a></li>  
      </ol>  

      <h3 class="govuk-heading-m">Sunday 29 March</h3>

      <ol class="govuk-list">
        <li>Added: <a href="/equipment">Setting and using your equipment</a></li>      
      </ol>      

      <h3 class="govuk-heading-m">Friday 27 March</h3>

      <ol class="govuk-list">
        <li>Added: {% include "nav-links/personal-information/explaining-use.html" %}
        </li>
        <li>Added: {% include "nav-links/personal-information/consent.html" %}
        </li>
        <li>Added: {% include "nav-links/personal-information/index.html" %}
        </li>
        <li>Added: <a href="/support-for-operators/support-line-for-operatiors">Support line for operators</a>
        </li>
        <li>Added: <a href="/support-for-operators/stress-management">Tips for stress management</a>
        </li>
        <li>Added: <a href="/support-for-operators/">Support for operators</a>
        </li>
        <li>Added: <a href="/training/adult-abuse-indicators">Adult abuse indicators</a></li>
        <li>Added: <a href="/training/child-and-young-person-abuse-indicators">Child and young person abuse indicators</a></li>
        <li>Added: <a href="/training/responding-to-disclosure">How to respond to a disclosure</a>
        </li>
        <li>Added: <a href="/training/anger-and-distress">Angry and distressed callers</a></li>
        <li>Added: <a href="/training/silent-callers">Silent callers</a></li>
        <li>Added: <a href="/training/abusive-callers">Abusive callers</a></li>
        <li>Added: <a href="/training/boundaries-and-limitations">Boundaries and limitations</a></li>
        <li>Added: <a href="/training/supporting-distressed-callers">Supporting distressed callers</a>
        </li>
        <li>Added: <a href="/training/responses">How you could repond to callers</a></li>
        <li>Added: <a href="/training/calmer-framework">A framework for support line telephone operating</a></li>
        <li>Added: <a href="/training/code-of-practice">Code of Practice</a></li>
        <li>Added: <a href="/training">Training and advice for operators</a></li>
        <li>Added: <a href="/after-call">What to do after a call</a></li>
        <li>Added: <a href="/practical-tips">Practical tips for answering calls</a></li>
        <li>Added: <a href="/advice-support-available">Advice and support available through the support line</a></li>
        <li>Added: <a href="/opening-times">Opening times</a></li>
        <li>Added: <a href="/about-support-line">About the support line</a></li> 
        <li>Added: <a href="/">Homepage</a></li>
      </ol>

    </div>
</div>

{% endblock %}
