
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  NESL Operating Manual
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Phone number</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Phone number</h1>

      <p class="govuk-body">National Emergencies Support Line:</p>

      <div class="govuk-panel govuk-panel--confirmation" style="background-color: #ffffff; border: 2px solid #0b0c0c">
        <div class="govuk-panel__body" style="color: #0b0c0c">
          Call the free support line:<br><strong class="CopyThisText">{% include "includes/phone-number.html" %}</strong>
        </div>
        <br>
        <div class="govuk-panel__body" style="color: #0b0c0c">
          Available 24 hours a day,<br>every day of the year.
        </div>
      </div>
      
      <button id="button" class="js-emailcopybtn govuk-button copy-button black-button CopyPhoneNumber">Copy phone number</button>

      {% include "includes/related-content.html" %}
      <ul class="govuk-list">
        <li id="homepage-link-list">
          {% include "nav-links/what-is-nesl.html" %}
        </li>
        <li id="homepage-link-list">
          {% include "nav-links/advice-support-available.html" %}
        </li>
      </ul>

    </div>
</div>

{% endblock %}
