
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Principles | BRC support line manual
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/training">Training</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Practical tips</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Practical tips for answering calls</h1>

      <ol class="govuk-list govuk-list--number">
        <li>Take your time</li>
        <li>Understand the situation</li> 
        <li>Don’t avoid hard subjects</li>
        <li>Feelings before forms</li>
        <li>Checklists not scripts</li>
        <li>Confirm next steps</li>
        <li>Under promise, over deliver</li>
        <li>People can call again</li>
        <li>Take breaks</li>
        <li>Look after your team</li> 
      </ol>

      <p style="margin-top: 10px;"><a href="/public/images/tips-poster.pdf" download>Download tips poster</a></p>

    </div>
</div>

{% endblock %}
