{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Register as a volunteer | BRC support line manual
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Register as a volunteer</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Register as a support line volunteer</h1>

      <p class="govuk-body">Fill out this form if you are interested in being a support line volunteer.</p>

      <div class="govuk-inset-text">
        You must already be a British Red Cross volunteer or staff to register
      </div>

      <a id="button" class="govuk-button black-button" href="https://forms.office.com/Pages/ResponsePage.aspx?id=ujzc_l7KiEOoN7Rcfw1xtxxhZCF6R71Mt9l74yGzPExUMjhROUxOV1cwWEVKRVZRWVRNWktWUzNESyQlQCN0PWcu" target="_blank">Register now</a></p>

    </div>
</div>

{% endblock %}
