{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Response times | VCS EP service manual
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">About</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Response times</h1>
      <p> Information managers contact the organisation requesting support <strong>within 24 hours</strong> of having received their request through the ‘Get support as a local organisation’ service.</p>
      <p>
        If the request has been made by a liaison lead, they will also receive an email within 24 hours, detailing the request for support they have made for the local organisation.<p>
      <p>This does not mean arrangements for support are made in 24 hours. It is a first contact timeframe for information managers to acknowledge the request for support.</p>
      <h2 class="govuk-heading-l">Urgent requests</h1>
      <p>If a request is urgent, 5 regional teams each have a duty manager available 24 hours a day, 7 days a week.</p>
      <hr class="govuk-section-break govuk-section-break--visible">
      <br>
      <h3 class="govuk-heading-m">Related content</h3>

      <ul class="govuk-list">
        <li>
          {% include "nav-links/who-is-service-for.html" %}
        </li>
        <li>
          {% include "nav-links/what-support-it-offers.html" %}
        </li>
        <li>
          {% include "nav-links/how-it-works.html" %}
        </li>
        <li>
          {% include "nav-links/response-times.html" %}
        </li>
      </ul>

    </div>
</div>

{% endblock %}
