{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  About| BRC support line manual
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">About</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Response times</h1>
      <p> Liaison Leads will contact the organisation requesting support within 24 hours of having received a request for help through the ‘Get help as a local organisation’ service online form.</p> 
      <p>This does not mean that arrangements for support are made <strong>within 24 hours</strong>. It is a ‘first contact’ timeframe for Liaison Leads to speak with or respond by email to local organisations: to acknowledge their request for help and ask for further details.</p>
      <p>If the request is urgent, each of 5 regional tactical cells has a duty manager available 24 hours a day, 7 days a week.</p>
      <ul class="govuk-list">
        <li>
          {% include "nav-links/who-is-service-for.html" %}
        </li>
        <li>
          {% include "nav-links/what-support-it-offers.html" %}
        </li>
        <li>
          {% include "nav-links/how-it-works.html" %}
        </li>
        <li>
          {% include "nav-links/response-times.html" %}
        </li>
      </ul>

    </div>
</div>

{% endblock %}
