{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  What support it offers | VSC EP Service Manual
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/about-the-service">About</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">What support it offers</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">What support it offers</h1>

      <p class="govuk-body">The service can connect local organisations with:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li><strong>particular volunteers they need</strong> – for example, volunteers who are DBS checked</li>
          <li><strong>specialist skills or expertise</strong> – for example, mental health charities who can provide training in mental health support</li>
          <li><strong>relevant sources of information</strong> – for example, information on available grants for local organisations</li>
        </ul>
      <h2 class="govuk-heading-l">Brokers</p>
        <p>The request support service works with regional and national brokers: organisations who can provide different types of support.</p>
      <p>These include:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>St John Ambulance</li>
        <li>Team Rubicon</li>
        <li>Salvation Army</li>
        <li>Victim Support</li>
        <li>Business in the Community</li>
      </ul>
      <p>We regularly update our list of brokers on the <a href="vscep.support/types-of-support">VCSEP support website</a>.</p>
      <h2 class="govuk-heading-l">Regional Tactical Cells</p>
      <p>Brokers are coordinated and matched to requests by the the service's Regional Tactical Cells.</p>
      <p>These are in 5 areas of England: North, Midlands, South West, South East and London. The support offered will depend on the area you are in. Types of support offered include:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Personal protective equipment</li>
        <li>Funding advice</li>
        <li>Specialist training</li>
        <li>Guidance</li>
        <li>Mental health support and wellbeing</li>
        <li>Volunteers</li>
      </ul>

        <hr class="govuk-section-break govuk-section-break--visible">
        <br>
        <h3 class="govuk-heading-m">Related content</h3>
      <ul class="govuk-list">
        <li>
          {% include "nav-links/who-is-service-for.html" %}
        </li>
        <li>
          {% include "nav-links/how-it-works.html" %}
        </li>
        <li>
          {% include "nav-links/response-times.html" %}
        </li>
        <li>
          {% include "nav-links/vcsep-partners.html" %}
        </li>
      </ul>

    </div>
</div>

{% endblock %}
