{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  About| BRC support line manual
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">About</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">What support it offers</h1>

      <p class="govuk-body">The service can connect local organisations with:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li><strong>particular volunteers they need</strong> – for example, volunteers who are DBS checked</li>
          <li><strong>specialist skills or expertise</strong> – for example, mental health charities who can provide training in mental health support</li>
          <li><strong>relevant sources of information</strong> – for example, information on available grants for local organisations</li>
        </ul>
      </p>

      <ul class="govuk-list">
        <li>
          {% include "nav-links/who-is-service-for.html" %}
        </li>
        <li>
          {% include "nav-links/what-support-it-offers.html" %}
        </li>
        <li>
          {% include "nav-links/how-it-works.html" %}
        </li>
        <li>
          {% include "nav-links/response-times.html" %}
        </li>
      </ul>

    </div>
</div>

{% endblock %}
