{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Who the service is for | VCS EP manual
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/about-the-service">About</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Who the service is for</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Who the service is for</h1>

      <p class="govuk-body">This service is for grassroots, voluntary and community groups, and other local organisations in England.</p>
      <p>Many groups in the UK are already providing outstanding support to their communities, especially during COVID-19.  When local organisations need extra support they can also approach:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>
            <a class="govuk-link" href="https://navca.org.uk/find-a-member-1">local council for voluntary service</a>
          </li>
          <li>
            <a class="govuk-link" href="https://www.gov.uk/find-local-council">local authority</a>
          </li>
          <li>
            <a class="govuk-link" href="https://www.gov.uk/guidance/local-resilience-forums-contact-details">local resilience forum</a>
          </li>
          <li>
            <a class="govuk-link" href="https://docs.google.com/document/d/1pjQ745Ex2miS8H_QJtb0gcWYKv5RvNAfsKwC2VuydmM/edit?ts=5e9d7b9f">other local infrastructure bodies</a>
          </li>
        </ul>
      <h2 class="govuk-heading-l">When to use the VCS EP service</h2>

  <p>There are times when there is no local capacity to provide the support required. When that happens, local organisations can make a request for support from the new ‘Get support as a local organisation’ service.
  </p>
  <p>Requests are reviewed by local liaison leads, who find help locally or escalate to a regional panel of voluntary and community groups.</p>
<hr class="govuk-section-break govuk-section-break--visible">
<br>
      <h3 class="govuk-heading-m">Related content</h3>
      <ul class="govuk-list">
        <li>
          {% include "nav-links/what-support-it-offers.html" %}
        </li>
        <li>
          {% include "nav-links/how-it-works.html" %}
        </li>
        <li>
          {% include "nav-links/response-times.html" %}
        </li>
        <li>
          {% include "nav-links/vcsep-partners.html" %}
        </li>
      </ul>

    </div>
</div>

{% endblock %}
