{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  About| BRC support line manual
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">About</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Who the service is for</h1>

      <p class="govuk-body">During COVID-19, many grassroots, voluntary and community groups and other local organisations in the UK are providing outstanding support to their communities.
</p>

<p class="govuk-body">During COVID-19, many grassroots, voluntary and community groups and other local organisations in the UK are providing outstanding support to their communities.

At the moment, when local organisations need extra support they can also approach their local CVS, local authorities or resilience forums.

However, we know that there are times when there is no local capacity to provide the support required.

At this point, local organisations can make a request for support from the new ‘Get support as a local organisation’ service. Their request is reviewed by local liaison leads who either try to find local help or escalate the request to a regional panel of voluntary and community groups.</p>


      <ul class="govuk-list">
        <li>
          {% include "nav-links/who-is-service-for.html" %}
        </li>
        <li>
          {% include "nav-links/what-support-it-offers.html" %}
        </li>
        <li>
          {% include "nav-links/how-it-works.html" %}
        </li>
        <li>
          {% include "nav-links/response-times.html" %}
        </li>
      </ul>

    </div>
</div>

{% endblock %}
