
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Advice tips | BRC support line manual
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/training">Training</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Advice tips</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Practical advice you could give callers</h1>

      <p class="govuk-body">This list of advice is not meant to be exhaustive and they may not always be appropriate. They are just examples of advice that may be helpful.</p>

      <p>Practical advice includes:</p>

      <ol class="govuk-list govuk-list--bullet">
        <li>Set up regular calls with family or friends</li>
        <li>Create a written list of your Next of Kin / close family or friends to be contacted in an emergency. Include their names, phone numbers and addresses</li>
        <li>Keep your emergency contact list in your wallet</li>
        <li>Make sure your emergency contacts know your current phone number and home address</li>
        <li>If you or a relative live alone, consider sharing a neighbour’s number with your emergency contacts</li>
        <li>Share these tips with others</li>
      </ol>

    </div>
</div>

{% endblock %}
