{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  CALMER framework | BRC support line manual
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/training">Training</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Supporting distressed callers (CALMER)</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Supporting distressed callers (CALMER)</h1>

      <p class="govuk-body">Call Operators should use the “CALMER” Framework they covered in their training:</p>

      <ul class="govuk-list">
        <li><span class="govuk-!-font-weight-bold">C</span> = Consider</li>
        <li><span class="govuk-!-font-weight-bold">A</span> = Acknowledge</li>
        <li><span class="govuk-!-font-weight-bold">L</span> = Listen</li>
        <li><span class="govuk-!-font-weight-bold">M</span> = Manage</li>
        <li><span class="govuk-!-font-weight-bold">E</span> = Enable</li>
        <li><span class="govuk-!-font-weight-bold">R</span> = Resource</li>
      </ul>

      <p class="govuk-body">Whilst calls vary from person to person it does help to have a structure for the call. CALMER provides a way of following a structure, whilst staying open to what the caller wants. Thus, calls usually begin with a “getting to know you” or scene setting phase, where you are <span class="govuk-!-font-weight-bold">Considering</span> what it is they want to talk about. It is important to continue by <span class="govuk-!-font-weight-bold">Acknowledging</span> what is said as well as the fact that it can be difficult to launch straight into the subject itself, before a level of trust has been established through <span class="govuk-!-font-weight-bold">Listening</span>. The <span class="govuk-!-font-weight-bold">Manage</span> stage is how you show respect and promote dignity through the types of questions you use, the pace of the call (e.g. not interrupting or hurrying a caller) and the tone of your voice. </p>

      <p class="govuk-body"><span class="govuk-!-font-weight-bold">Enable</span> refers to the way you explore options with someone and help move them on to thinking about the <span class="govuk-!-font-weight-bold">Resources</span> they have or need – which you might be able to signpost them to. If you come in with options too early, before the caller has finished telling you about the problem and/or perhaps how they feel, you will get into a game of… “have you considered?”… “Yes, but…” which is frustrating for the caller, and threatens to undo a trusting relationship.</p>

      <p class="govuk-body">You will need to remember that many callers will simply need support and a listening ear, they will not be looking for solutions and trying to provide them will not be helpful.  Indeed, some callers may be calling because problem solving is the only response they have received to date from those around them.

      <p class="govuk-body">It is important to remember that this is not a linear model, you will probably find that you will end up setting the scene a bit, then getting a bit of the story, then setting the scene a bit more, then moving the caller on, then returning to the second stage and so on.</p>

      <p class="govuk-body">But, the better you set the scene, the more successful you will be at getting the story and similarly, the better you listen to the story, the more successful you will be at moving the caller on.</p>

      <p class="govuk-body">Every operator will have their own individual style. It is not about creating clones, but it is important to be aware of best practice and be tuned into your own limitations and shortcomings.</p>


    </div>
</div>

{% endblock %}
