{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Child abuse | BRC support line manual
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/training">Training</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Child abuse</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Child and young person abuse indicators</h1>

    <p class="govuk-body">As discussed in the Code of Practice, it is only appropriate to share confidential caller data when there is a welfare concern or this is requested as part of an investigation. Operators should be aware of indicators of abuse in order to be equipped to act on welfare concerns in line with this principle. Some of the below indicators will feel more relevant to in person service provision, but it’s important to be alert for these indicators in a conversation over the phone. If you have any questions about these indicators, discuss this with your supervisor.</p>

      <h3 class="govuk-heading-m">Physical Abuse</h3>

      <h4 class="govuk-heading-s">Physical Indicators</h4>
      
      <ul class="govuk-list govuk-list--bullet">
        <li>Injuries of varying ages particularly if these are on the part of the body where children are unlikely to get hurt by accident; underarms, back, buttocks, back of legs, ears, eyes, cheeks and mouth</li>
        <li>Injuries that are clearly demarcated and would appear to have different causes at different times</li>
        <li>Patterned injuries; cigarette marks, belt marks, bruises that follow the trace of a hand</li>
        <li>Fractures where there is no plausible explanation or an explanation that is inconsistent with the injury</li>
        <li>Burns and scalds</li>
        <li>Female genital mutilation.</li>
      </ul>

      <h4 class="govuk-heading-s">Behaviour Indicators</h4>

      <ul class="govuk-list govuk-list--bullet">
        <li>Alertness to danger and behaviour that indicates a fear of being hit (this is often called ‘frozen watchfulness’)</li>
        <li>Wariness of physical contact</li>
        <li>Fearful of parent or carer; afraid to go home; aggressive and hostile behaviour</li>
        <li>Withdrawn and depressed</li>
        <li>Uncommunicative, responses in monosyllables.</li>
      </ul>

      <h3 class="govuk-heading-m">Neglect</h3>

      <h4 class="govuk-heading-s">Physical Indicators</h4>
      
      <ul class="govuk-list govuk-list--bullet">
        <li>Poor personal hygiene; dirty and unkempt, head lice
        <li>Inappropriate dress and clothing</li>
        <li>Low weight, an appearance of being malnourished</li>
        <li>Sores, infections etc particularly if they appear untreated</li>
        <li>Fatigue, listlessness, falling asleep or having difficulty in staying awake</li>
        <li>Being left alone for long periods or in dangerous and inappropriate settings</li>
        <li>Lengthy absences from school.</li>
      </ul>

      <h4 class="govuk-heading-s">Behaviour Indicators</h4>

      <ul class="govuk-list govuk-list--bullet">
        <li>Constant hunger and seeking of food
        <li>Lack of care, attention and supervision by parent or carer
        <li>Rocking back and forth, thumb sucking, ‘head banging’
        <li>Poor social skills and peer relationships
        <li>Addiction or use of cigarettes, alcohol and other substances
        <li>Poor academic performance.
      </ul>

      <h3 class="govuk-heading-m">Sexual abuse</h3>

      <h4 class="govuk-heading-s">Physical Indicators</h4>
      
      <ul class="govuk-list govuk-list--bullet">
        <li>Pregnancy</li>
        <li>Presence of sexually transmitted diseases; genital infections</li>
        <li>Genital pain, soreness and itching</li>
        <li>Bruises or marks to breasts, buttocks, thighs and lower abdomen</li>
        <li>Bedwetting</li>
      </ul>

      <h4 class="govuk-heading-s">Behaviour Indicators</h4>

      <ul class="govuk-list govuk-list--bullet">
        <li>Engagement in age inappropriate sexual activities</li>
        <li>Promiscuous sexual behaviour</li>
        <li>Inappropriate touching with adults; over familiarity</li>
        <li>Regressive behaviour, rocking back and forth, thumb sucking</li>
        <li>Eating disorders; anorexia nervosa, bulimia, obesity</li>
        <li>Self harm, suicidal tendencies</li>
        <li>Running away, absconding and poor peer relations</li>
        <li>Sleep disturbance</li>
        <li>Substance and alcohol misuse</li>
      </ul>

      <h3 class="govuk-heading-m">Emotional abuse</h3>

      <h4 class="govuk-heading-s">Physical Indicators</h4>
      
      <ul class="govuk-list govuk-list--bullet">
        <li>Failing to thrive; underweight</li>
        <li>Speech disorders</li>
      </ul>

      <h4 class="govuk-heading-s">Behaviour Indicators</h4>

      <ul class="govuk-list govuk-list--bullet">
        <li>Regressive behaviour, rocking back and forth, thumb sucking</li>
        <li>Eating disorders; anorexia nervosa, bulimia, obesity</li>
        <li>Constantly seeking attention</li>
        <li>Low self esteem and self confidence; eager to please</li>
        <li>Passive, compliant</li>
        <li>Anxious, depressed, withdrawn, anti-social</li>
        <li>Self harm, suicidal tendencies</li>
        <li>Bedwetting</li>
        <li>Lying and stealing</li>
      </ul>

    </div>
  </div>

{% endblock %}

