{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Difficult calls | BRC support line manual
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/training">Training</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Difficult calls</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Types of difficult calls</h1>

      <p class="govuk-body">BRC support line gets calls from people in difficult situations, experiencing strong emotion.</p>

      <p class="govuk-body">Operators regularly answer calls from people who:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>Have no one to talk to</li>
        <li>Can’t leave their home</li>
        <li>Have no food</li>
        <li>Have no money for basics</li>
        <li>Have no nearby family or friends to support them</li>
        <li>Are feeling suicidal</li>
        <li>Have been scammed for money</li>
        <li><a href="/training/silent-callers">Don't talk</a></li>
        <li><a href="/training/anger-and-distress">Are angry and distressed</a></li>
        <li><a href="/training/abusive-callers">Are abusive towards them</a></li>
      </ul>

      </ul>

    </div>
</div>

{% endblock %}
