{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Adult abuse | BRC support line manual
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/being-a-liaison-lead">Being a liaison lead</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">How liaison leads work</a>
      </li>
    </ol>
 </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">How liaison leads work</h1>

      <p class="govuk-body">As discussed in the Code of Practice, it is only appropriate to share confidential caller data when there is a welfare concern or this is requested as part of an investigation. Operators should be aware of indicators of abuse in order to be equipped to act on welfare concerns in line with this principle. Some of the below indicators will feel more relevant to in person service provision, but it’s important to be alert for these indicators in a conversation over the phone. If you have any questions about these indicators, discuss this with your supervisor.</p>

      <h3 class="govuk-heading-m">Physical abuse</h3>

      <p class="govuk-body">Including injuries inconsistent with the account of how they happened or no explanation, cluster(s) of injuries, injuries at different states of healing, subdued behaviour in presence of a carer, malnutrition when the adult at risk is not living alone, seeking medical treatment too late or not at all.</p>

      <h3 class="govuk-heading-m">Physical abuse</h3>

      <p class="govuk-body">Including an air of silence in the home or service when the person alleged to have caused the harm is present, alteration in the psychological state of the adult at risk (e.g. withdrawal or fear), insomnia, low self-esteem, excessive ambivalence, confusion, a change of appetite, weight loss/gain, tearfulness.</p>

      <h3 class="govuk-heading-m">Sexual abuse</h3>

      <p class="govuk-body">Including bruising or bleeding, pain or itching in the genital area, infections or discharges in the above areas, or sexually transmitted infections, pregnancy in a woman who is at risk or is unable to consent to sexual intercourse, the uncharacteristic use of explicit sexual language, wetting or soiling, overt sexual behaviour/attitude.</p>

      <h3 class="govuk-heading-m">Neglect and/or acts of omission</h3>

      <p class="govuk-body">Including inadequate heating, lighting, food or fluids, failure by carer to give prescribed medication or obtain appropriate medical care, refusal to arrange access for visitors, poor physical condition in the adult at risk, unexplained weight loss, unkempt clothing and appearance, inappropriate or inadequate clothing.</p>

      <h3 class="govuk-heading-m">Financial and/or material abuse</h3>

      <p class="govuk-body">Including unexplained lack of money or inability to maintain lifestyle, missing personal possessions, unexplained withdrawal of funds from accounts by any party, unexpected or implausible explanations of changes in will.</p>

      <h3 class="govuk-heading-m">Discriminatory abuse</h3>

      <p class="govuk-body">Including tendency to withdrawal and isolation, fearfulness and anxiety, being refused access to services or being excluded inappropriately, loss of self-esteem, resistance or refusal to access services that are required to meet the person’s needs, expressions of anger or frustration.</p>

      <h3 class="govuk-heading-m">Domestic abuse</h3>

      <p class="govuk-body">Including low self-esteem, feeling the abuse is their fault, physical evidence of violence, verbal abuse and humiliation in front of others, fear of outside intervention, damage to home or property, isolation – not seeing friends or family, limited access to money.</p>

      <h3 class="govuk-heading-m">Modern Slavery, including trafficking and other forms of exploitation</h3>

      <p class="govuk-body">Including unkempt appearance or withdrawn, isolation from the community, seeming under the control or influence of others, living in dirty, cramped or overcrowded accommodation and or living and working at the same address, lack of personal effects or identification documents, always wearing the same clothes, avoidance of eye contact, appearing frightened or hesitant to talk to strangers, fear of law enforcers, no knowledge of own address or of how/where they entered the UK.</p>

    </div>
</div>

{% endblock %}
