{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  How liaison leads work | VCS EP manual
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/being-a-liaison-lead">Being a liaison lead</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">How liaison leads work</a>
      </li>
    </ol>
 </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">How liaison leads work</h1>
          <p>Liaison leads help local communities in 2 ways:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>arranging support locally
        </li>
          <li>requesting regional support
        </li>
      </ul>
      <h2 class="govuk-heading-l">Arranging support locally</h2>
          <p>They can help local organisations to get the support they need locally. When a request for support is made through the ‘Request support as an organisation' service, liaison leads may know of available local support options.</p>
          <h3 class="govuk-heading-m">Example: DBS checked volunteers needed</h3>
      <p>A request for help from a local organisation might require DBS checked volunteers, who they have not been able to find locally, as their volunteers are mostly spontaneous.</p>
        <h3 class="govuk-heading-m">Possible local solution</h3>
      <p>The liaison lead is well connected with a number of voluntary organisations and knows where DBS checked volunteers are likely to be available locally. They connect the requesting organisation with a local organisation able to provide DBS checked volunteers.</p>
      <h2 class="govuk-heading-l">Requesting regional support</h2>
      <p>They can escalate requests for extra support on behalf of local organisations, when they know that they will not be able to find it locally.</p>
      <h3 class="govuk-heading-m">Example: delivery drivers needed</h3>
      <p>A local organisation is struggling to find delivery drivers to distribute food from local food banks to vulnerable people in the area. They have asked their networks but no one is available.</p>
      <h3 class="govuk-heading-m">Regional escalation</h3>
      <p>The liaison lead or the local organisation uses the ‘Request support as a local organisation’ online service and the request is escalated to a regional tactical cell. The cell identifies a number of volunteer drivers, and gets in touch with the requesting organisation to begin the support.</p>

<br>
<br>

      <h1 class="govuk-heading-xl">Working with information managers</h1>
        <p class="govuk-body">As a liaison lead you are supported by an information manager.<p>
        <p>Your main points of communication with the information manager:
        </p>
        <ul class="govuk-list govuk-list--bullet">
          <li>They ask you to help them to get more information on a request from an organisation.</li>
          <li>You ask them to contact brokers with information governance training to support a locally identified broker, by accessing personally identifiable information related to a specific request for help that is being met locally.</li>
        </ul>
              <p><a href="/being-an-information-manager/what-is-an-information-manager">Learn about the information manager role</a></p>
      <p><a href="/usefulcontacts">Find out how to access information managers contact details and areas they cover</a></p>


      <hr class="govuk-section-break govuk-section-break--visible">
      <br>
      <h3 class="govuk-heading-m">Related content</h3>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="/being-a-liaison-lead/step-by-step-liaison-leads">Step-by-step for liaison leads</a>
        </li>
        <li>
          <a href="/being-a-liaison-lead/what-is-a-liaison-lead">What is a liaison lead?</a>
        </li>
        <li>
          <a href="/being-a-liaison-lead/how-liaison-leads-work">How liaison leads work</a>
        </li>
        <li>
          <a href="/being-a-liaison-lead/liaison-leads-covid-19">Liaison leads for COVID-19 response</a>
        </li>
      </ul>

    </div>
</div>

{% endblock %}
