{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Adult abuse | BRC support line manual
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/being-a-liaison-lead">Being a liaison lead</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">How liaison leads work</a>
      </li>
    </ol>
 </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">How liaison leads work</h1>
          <p>Liaison leads help local communities in 2 ways: arranging support locally and requesting regional support.</p>
      <h2 class="govuk-heading-m">Arranging support locally</h2>
          <p>They can help local organisations to get the support they need locally, when a request for support is made through the ‘Get support as an organisation' service.</p>
          <p>Liaison leads may know of available local support options.</p>
          <p><strong>Example: A request for help from a local organisation might require DBS checked volunteers, who they have not been able to find locally, as their volunteers are mostly spontaneous.</strong></p>
      <p>Possible local solution: The liaison lead is well connected with a number of voluntary organisations and knows where DBS checked volunteers are likely to be available locally. They connect the requesting organisation with a local organisation able to provide DBS checked volunteers.</p>
      <h2 class="govuk-heading-m">Requesting regional support</h2>
      <p>They can escalate requests for extra support on behalf of local organisations, when they know that they will not be able to find it locally.</p>
      <p><strong>Example: A local organisation is struggling to find delivery drivers to distribute food from local food banks to vulnerable people in the area. They have asked their networks but no one is available.</strong></p> 
      <p>Possible regional solution: The liaison lead or the local organisation uses the ‘Get support as a local organisation’ online service and the request is escalated to a regional tactical cell. The cell identifies a number of volunteer drivers, and gets in touch with the requesting organisation to begin the support.</p>
      
    </div>
</div>

{% endblock %}
