{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Liaison leads for COVID-19 response | VCS EP service manual
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/being-a-liaison-lead">Being a liaison lead</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Liaison leads for COVID-19 response</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Liaison leads for COVID-19 response</h1>

      <p class="govuk-body">Find liaison leads and areas they cover in England:</p>

      <p><a href="https://docs.google.com/document/d/1tE8v22YpR0OyFtN9k-2H8qpnBuhRZWZNFqdvItgIekw/edit?usp=sharing">Liaison leads for COVID-19 response contact list.</a></p>
      <hr class="govuk-section-break govuk-section-break--visible">
      <br>
      <h3 class="govuk-heading-m">Related content</h3>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="/being-a-liaison-lead/what-is-a-liaison-lead">What is a liaison lead?</a>
        </li>
        <li>
          <a href="/being-a-liaison-lead/how-liaison-leads-work">How liaison leads work</a>
        </li>
        <li>
          <a href="/being-a-liaison-lead/liaison-leads-covid-19">Liaison leads for COVID-19 response</a>
        </li>
        <li>
          <a href="/being-a-liaison-lead/working-with-information-managers">Working with information managers</a>
        </li>
        <li>
          <a href="/being-a-liaison-lead/lines-of-reporting">Lines of reporting</a>
        </li>
      </ul>

    </div>
</div>

{% endblock %}
