{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Liaison leads for COVID-19 response | VCS EP service manual
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/being-a-liaison-lead">Being a liaison lead</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Liaison leads for COVID-19 response</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Liaison leads for COVID-19 response</h1>

      <p class="govuk-body">Find liaison leads and areas they cover in England.</p>

      <p><a href="https://docs.google.com/document/d/1tE8v22YpR0OyFtN9k-2H8qpnBuhRZWZNFqdvItgIekw/edit?usp=sharing">Liaison Leads for COVID-19 response contact list.</a></p>
 
    </div>
</div>

{% endblock %}
