{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Boundaries and limitations | BRC support line manual
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/being-a-liaison-lead">Being a liaison lead</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Lines of reporting</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Lines of reporting</h1>

      <p class="govuk-body">All relationships have boundaries and the relationship between you as a support line operator and the caller is no exception. Like other similar relationships (social worker/client, doctor/patient) you are not entirely free to make that relationship what you want. There needs to be some protection to ensure you and the caller are free from exploitation and abuse.</p>

      <p class="govuk-body">Red Cross people must recognise and understand that they are in a position of power, i.e. it is not an equal relationship and the Red Cross person has more responsibility than the person in crisis for their conduct and behaviour. This power must not be abused at any time.</p>

      <p class="govuk-body">You should always ensure the following:</p>

      <h3 class="govuk-heading-m">Confidentiality</h3>

      <p class="govuk-body">Whilst confidentiality is vital be aware of the following:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>Information provided by the caller is confidential to the organisation or the organisation for which the BRC is providing support, rather than to the operator.</li>
        <li>Information provided to personnel should be treated with sensitivity and situations should not be lightly discussed with others. However, this does not mean that operators should not ask for guidance on situations and individual cases from supervisors. Nor does it mean that they cannot ask for emotional support in the light of being the recipient of difficult information.</li>
        <li>Any information will be kept within the organisation unless the caller has given their express consent for it to be shared with a third party. Callers have the right to withhold their consent. This decision will be respected and the information not passed on unless there are reasonable grounds that the caller is at risk, will put someone else at risk, or the BRC is compelled to do so by law.</li>
        <li>As soon as a caller begins to reveal a confidence they should be immediately reminded of the above limitations on confidentiality.</li>
      </ul>


      <h3 class="govuk-heading-m">Retaining a professional relationship</h3>

      <p class="govuk-body">It is important that operators realise that this is a professional relationship and that whilst they should be open, warm and friendly in their dealings with callers, this does not extend to friendship.</p>

      <p class="govuk-body">Sometimes a caller may be very needy and wish to establish a friendship. On the other hand operators need to be sensitive and aware to the danger themselves of becoming over-friendly or too involved.

      <h3 class="govuk-heading-m">Being clear about what can and cannot be done to help</h3>

      <p class="govuk-body">It can be very easy for operators to make offers or promises that they are subsequently unable to fulfil. This is obviously distressing for the caller and sometimes stems from the wish to encourage dependence and provide all the answers. This may be unhelpful and unrealistic for all concerned. People who have experienced a crisis need to do things for themselves and need to regain control of their lives as quickly as possible.</p>

      <h3 class="govuk-heading-m">Knowing your personal limitations</h3>

      <p class="govuk-body">You are NOT a professional counsellor, psychologist or therapist. Occasionally people may need more specialist help or support. If in doubt, this should be discussed with a supervisor so that the caller can be referred on to the most appropriate professional to provide them with assistance. This is not an admission of weakness, but a professional responsibility.</p>


    </div>
</div>

{% endblock %}
