{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Responses | BRC support line manual
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/training">Training</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Responses</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">How you could repond to callers</h1>

      <p class="govuk-body">This list of questions is not meant to be exhaustive and they may not always be appropriate. They are just examples of responses that may be helpful.</p>

      <p>You could say:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>Hello (insert support line name here and your name), how can I help?</li>
        <li>Would you like to tell me what’s on your mind?</li> 
        <li>We’re here to listen</li>
        <li>How are you feeling?</li>
        <li>What happened then?</li>
        <li>What do you mean by that?</li>
        <li>How did that affect things?</li>
        <li>Would you like to tell me some more?</li>
        <li>Is there anything else that you want to talk about?</li>
        <li>It sounds as if that was: very upsetting/difficult/distressing/frustrating for you</li>
        <li>Have you thought about what you can do about it?</li>
        <li>What do you think your options are?</li>
        <li>How might you go about it?</li>
        <li>Can I make some suggestions?</li>
      </ul>
      
    </div>
</div>

{% endblock %}
