{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Silent callers | BRC support line manual
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/training">Training</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Silent callers</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Silent callers</h1>

      <p class="govuk-body">Callers may not always speak immediately or at all, when on the telephone. Silent calls can be disconcerting to start with, but a caller does not necessarily need to speak to gain some benefit from the call. There may be many reasons for a silent call, it is important that it be considered genuine unless it is proven to be otherwise.</p>

      <p class="govuk-body">You may of course hear crying, breathing or background noise and this can make it harder to take the calls. However, you should give them the space and encouragement to talk if they wish.</p>

      <p class="govuk-body">A silence can often feel very uncomfortable for the operator, and usually feels longer for you than the caller. However, it may be giving them the space to think and decide what they’re going to say.</p>

      <p class="govuk-body">Some of the following phrases might be helpful to use in this context. Remember to leave silences of approximately 30 seconds between phrases:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>“Sometimes it’s hard to know where to start”</li>
        <li>“It sounds as though you’re finding it difficult to speak”</li>
        <li>“It can be a bit frightening calling a helpline”</li>
        <li>“I’m happy to wait for a bit until you’re ready”</li>
        <li>“Since you’ve called…”</li>
        <li>“I assume it’s something about…”</li>
        <li>“All calls are confidential”</li>
        <li>“No one is listening”</li>
        <li>“Are you able to tell me your name?”</li>
        <li>“May be if I ask you a few questions, you need only say ‘yes’ or ‘no’”</li>
        <li>“Take your time”</li>
        <li>“I’m still here”</li>
        <li>“How are you feeling?”</li>
        <li>“Sometimes it can help just to hear someone’s voice”</li>
      </ul>

      <p class="govuk-body">If the caller still makes no contact ask them to tap the receiver to let you know that they are there. If after a couple more minutes there is still no response, tell the caller that you are going to put the phone down, but inform them of the support line operating hours, and invite them to call back. Useful phrases that can be used in this instance are:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>“Could you let me know you are still there by tapping the receiver”</li>
        <li>“I’m aware that other callers are trying to get through”</li>
        <li>“I’m going to put the phone down now – do call back another time”</li>
      </ul>


    </div>
</div>

{% endblock %}
