
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Liaison leads role: step by step | VCS EP service manual
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/being-a-liaison-lead">Being a liaison lead</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Liaison lead role: step by step</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Liaison lead role: step by step</h1>
    <p class="govuk-body">We are launching this service in phases.</p>
    <p class="govuk-body"><strong>Phase 1:</strong> only liaison leads will be able to submit requests, on behalf of a local community or voluntary organisation.</p>
    <p><strong>Phase 2:</strong> local community or voluntary organisations to make requests for support themselves, directly.</p>
<hr>
<br>
<br>
      <h3 class="govuk-heading-m">Step 1. Attend service introduction training</h3>
        <p><a href="https://calendly.com/sarahbargiela-britishredcross/vcs-ep-support-service-induction">Book onto a service induction training session week commencing 22nd June.</a></p>
        <p><a href="https://docs.google.com/presentation/d/1CAKmqVsQ6uY3DYsjCSsEllePQleIdRDUKDfsl_WW1Hw/edit#slide=id.g8899daa8e9_0_519">Slides from the service introduction training.</a></p>
      <br>
      <br>
      <h3 class="govuk-heading-m">Step 2. Log into SharePoint</h3>

      <p class="govuk-body">When you have attended a service induction session, you will be sent log in details for SharePoint by the VCS EP 'Request support as a voluntary or community organisation' service team.</p>
      <p class="govuk-body">You have edit access to SharePoint.</p>

      <p><a href="/using-sharepoint/sharepoint-for-liaison-leads">Access SharePoint step-by-step for liaison leads.</a></p>
      <br>
      <br>
      <h3 class="govuk-heading-m">Step 3. Make a request for support</h3>
      <p><a href="https://www.redcross.org.uk/vcsep-support">Complete the online support requests form</a> to make requests for support for a voluntary or community organisation in your area.</p>
      <p class="govuk-body">You will receive a copy of your submission via email.</p>
      <br>
      <br>
      <h3 class="govuk-heading-m">Step 4. Missing information </h3>
      <p class="govuk-body">Sometimes, information might be missing from the form you have submitted.</p>
      <p class="govuk-body">For example, you might just have put a couple of words in the 'Give more details' question. That might not have been enough to give us a full understanding. Try to put in full sentences to explain what type of support is needed, even if you are in a hurry.</p>
      <p class="govuk-body">If this happens, you will receive an email from the Information Manager, asking you to provide the missing information. This adds a delay to the request processing time.</p>

      <br>
      <br>
      <h3 class="govuk-heading-m">Step 5. Requests assigned to you in SharePoint</h3>

      <p class="govuk-body">You can see the requests you have submitted when you log in to SharePoint.
      <p class="govuk-body">In phase 1, we assume you are only sending in requests that cannot be met locally. These will automatically be escalated for brokering at the Multiagency Cell meeting, requiring no further action from you.</p>
      <br>
      <br>
      <h3 class="govuk-heading-m">Step 5a. Requests assigned to you, marked 'For Review'</h3>
    <p class="govuk-body">In phase 2, when organisations can submit their own requests for support, you will be asked to review the requests assigned to you in SharePoint labelled 'For Review', before they can be escalated for brokering at the Regional Tactical Cell meeting.</p>

    <p><a href="/staying-local-or-escalating/index">When to try and broker locally and when to escalate<a></p>

      <p class="govuk-body">We are aware that some liaison leads cover large areas and so this level of triaging might not be possible for everyone. If this is the case, ask your local infrastructure bodies if they can meet the need. If they cannot, then request an escalation for brokering at the VCSEP Tactical Cell meeting.</p>

      <br>
      <br>
      <h3 class="govuk-heading-m">Step 6. More information required for a broker</h3>
      <p>Information managers will present requests at the Multiagency Cell Meetings.</p>
      <p>During the meeting, brokers will consider whether they can respond to a request, based on whether they:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>already provide this service</li>
        <li>already work in the target areas</li>
        <li>have sufficient capacity in the target areas</li>
        <li>have expertise with this target audience</li>
        <li>can commit to the timescale of the request</li>
       </ul>

      <p class="govuk-body">If a broker needs more information the information manager will email you, asking you to contact the local organisation for more information.</p>

      <p><a href="/following-up-with-orgs/getting-information-for-request">Follow these steps to get more information from a local organisation<a></p>

        <br>
        <br>
        <h3 class="govuk-heading-m">Step 7. A regional broker has been found</h3>
        <p>When a broker has been found, the local organisation, the broker who agreed to take on the request and you (as liaison lead) will be notified via email with the details of:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>how they can help</li>
          <li>when they can help</li>
          <li>who is going to be helping</li>
         </ul>

        <p class="govuk-body">This is so that all involved know that the request for support has been met.</p>
        <p class="govuk-body">You will see in SharePoint that the status has been updated to ‘Broker found’.</p>
        <p class="govuk-body">If you discover that the local organisation has not heard from the broker within 7 days, please let the VCSEP service team know.</p>

        <br>
        <br>
        <h3 class="govuk-heading-m">Step 8. Check request has been fulfilled</h3>
        <p>At the next Multiagency Cell meeting, the Cell lead checks with the broker that the request has been fulfilled.</p>

        <p class="govuk-body">If the broker has been unable to fulfill the request, it is presented at the meeting again to find a new broker.</p>

        <br>
        <br>
        <h3 class="govuk-heading-m">Step 9. Case is closed in SharePoint</h3>
        <p>If it has been confirmed that:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>a broker has been found</li>
          and
          <li>they have been able to fulfill the request</li>
         </ul>

        <p class="govuk-body">The request status is updated to “Closed” in SharePoint.</p>
        <br>
        <br>


      <hr class="govuk-section-break govuk-section-break--visible">
      <br>
      <h3 class="govuk-heading-m">Related content</h3>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="/being-a-liaison-lead/what-is-a-liaison-lead">What is a liaison lead?</a>
        </li>
        <li>
          <a href="/being-a-liaison-lead/how-liaison-leads-work">How liaison leads work</a>
        </li>
        <li>
          <a href="/being-a-liaison-lead/liaison-leads-covid-19">Liaison leads for COVID-19 response</a>
        </li>
      </ul>


    </div>
</div>

{% endblock %}
