
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Working with liaison leads | VCS EP service manual
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/being-an-information-manager">Being an information manager</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Step-by-step for liaison leads</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Step-by-step for liaison leads</h1>
      <p class="govuk-body">This guidance is for when a liaison lead makes a request for support on behalf of a local organisation.</p>
        <h3 class="govuk-heading-m">Step 1. Complete information governance training</h3>
        <p class="govuk-body">To get started on SharePoint, complete the information governance training provided by the British Red Cross on the International Federation of Red Cross and Red Crescent Societies (IFRC) e-learning platform.</p>
      <p><a href="/data-sharing/information-governance-training">Access information governance training instructions</a></p>

      <h3 class="govuk-heading-m">Step 2. Log into SharePoint</h3>
      <p>When you have completed the training, you will be sent log in details for SharePoint by the VCS EP 'Request support as a voluntary or community organisation' service team.</p>

      <h3 class="govuk-heading-m">Step 3. Review new requests from liaison leads</h3>
      <p>Check there is enough information to move the request forward. If there is not enough information, use the email template to request it from the liaison lead.</p>

      <h3 class="govuk-heading-m">Step 4. Escalate the request</h3>
      <p>Escalate new requests from liaison leads to the Regional Tactical Cell, as the liaison leads as will know the needs cannot be met locally.</p>

      <h3 class="govuk-heading-m">Step 5. Produce report of all requests</h3>
      <p>Your report should only include:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>location of request area – the Local Resilience Forum area</li>
        <li>name of organisation</li>
        <li>details of type and frequency of support</li>
      </ul>

      <p>By only including the above, the report will not include any personally identifiable information.</p>
      <p>The day before your Regional Tactical Cell meeting, make sure you get your report in by 3pm, otherwise it will be delayed until the next week’s meeting.</p>

      <h3 class="govuk-heading-m">Step 6. Email report to Regional Tactical Cell</h3>
      <p>Share the report ahead of the meeting via email to the Regional Tactical Cell lead.</p>

      <h3 class="govuk-heading-m">Step 7. Attend Regional Tactical Cell meeting</h3>
      <p>Regional Tactical Cell Lead presents the report as part of the meeting.<p>
      <p>During the meeting, brokers will consider whether they can respond to a request, based on whether they:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>already provide this service</li>
        <li>already work in the target areas</li>
        <li>have sufficient capacity in the target areas</li>
        <li>have expertise with this target audience</li>
        <li>can commit to the timescale of the request</li>
       </ul>

      <p class="govuk-body">If a broker needs more information follow steps 8, 9 and 10.</p>
      <h3 class="govuk-heading-m>Step 8. Broker asks for more information before committing</h3>
      <p>A broker might need more information to be able to decide if they can take forward a request. The information manager notes this on the SharePoint record.</p>
      <h3 class="govuk-heading-m">Step 9. Email liaison lead to get more information</h3>
      <p>After the meeting the information manager emails the liaison lead to ask them to approach the local organisation to get more information on the request (include questions asked by the broker in the email).</p>

      <hr class="govuk-section-break govuk-section-break--visible">
      <br>
      <h3 class="govuk-heading-m">Related content</h3>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="/being-a-liaison-lead/step-by-step-liaison-leads">Step-by-step for liaison leads</a>
        </li>
        <li>
          <a href="/being-a-liaison-lead/what-is-a-liaison-lead">What is a liaison lead?</a>
        </li>
        <li>
          <a href="/being-a-liaison-lead/how-liaison-leads-work">How liaison leads work</a>
        </li>
        <li>
          <a href="/being-a-liaison-lead/liaison-leads-covid-19">Liaison leads for COVID-19 response</a>
        </li>
        <li>
          <a href="/being-a-liaison-lead/lines-of-reporting">Lines of reporting</a>
        </li>
      </ul>


    </div>
</div>

{% endblock %}
