{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Abusive callers | BRC support line manual
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/being-a-liaison-lead">Being a liaison lead</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">What is a liaison lead?</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">What is a liaison lead?</h1>
      <p>Liaison leads are members of the Community and Voluntary Sector and are often leaders in their own local organisations. Most, but not all are also members of the national membership body for local sector support and development organisations, <a href="https://navca.org.uk">NAVCA</a>. They have extensive experience of activities, groups and needs in their local areas.</p> 
      <p>In their role in the ‘Get support as a local organisation service’ they act as the point of contact between local and regional levels. They connect local organisations with the support they require, locally or regionally.</p>
    </div>
</div>

{% endblock %}
