{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Abusive callers | BRC support line manual
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/being-a-liaison-lead">Being a liaison lead</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">What is a liaison lead?</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">What is a liaison lead?</h1>

      <p class="govuk-body">Occasionally someone may call up a helpline and be overtly insulting or abusive. More often, however, you may find the caller is being abusive or exploitative in a more subtle way. This could include calls of a sexual nature.</p>

      <p class="govuk-body">At first, you may not be sure what is happening. All your training and instincts will be telling you to attune to the caller, to be sympathetic and understanding and not to impose your own agenda.</p>

      <p class="govuk-body">However, you are not required to continue if the person is being indirectly or directly abusive.</p>

      <p class="govuk-body">Be ready to challenge perhaps tentatively at first and then if it continues, being a bit more direct. Do not raise your voice, but be prepared to interrupt firmly if necessary.</p>

      <p class="govuk-body">You may wish to say:</p>

      <p class="govuk-body">“We’re not here to take calls of this nature, is there anything else you’d like to talk about?”</p>

      <p class="govuk-body">If it continues, you may then warn the caller that you are about to end the call and be clear about what it is you do not like about their behaviour.</p>

      <p class="govuk-body">A standard hang-up line is…</p>

      <p class="govuk-body">“We’re not here to take calls of this nature. I’m going to put the phone down now.”</p>

      <p class="govuk-body">Then do so, or they may think you’re being ambivalent and giving mixed messages and the calls will continue. </p>


    </div>
</div>

{% endblock %}
