{% block pageTitle %}
  How we are using people's information | VCS EP manual
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/data-sharing">Data sharing</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">How we are using people's information</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">How we are using people's information</h1>

      <p class="govuk-body">We only collect information that answers the questions in the 'Request support as a local organisation' service online form questions. Anyone handling personally identifiable information is required to have first completed our Information Governance training. The information is only used for the purpose of providing the service to users, that is to take forward support requests made through the service by a local organisation or representative in order to meet needs locally, regionally or at national level.</p>
    </div>
</div>

{% endblock %}
