{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Note taking | BRC support line manual
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/data-sharing">Personal information</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Note taking</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Note taking</h1>

      <p>It is ok to make paper notes during a call.</p>

      <ul class="govuk-list govuk-list--number">
        <li>
          <a href="/ending-calls">Check what notes to take</a>
        </li>
        <li>Write notes on paper</li>
        <li>
          <a href="/data-sharing/forms">Record information from the call</a>
        </li>
        <li>
          Destroy your paper notes at the end of your shift</a>
        </li>
      </ul>

      {% include "includes/related-content.html" %}
      <ul id="related-links" class="govuk-list">
        <li>
          {% include "nav-links/data-sharing/what-to-collect.html" %}
        </li>
        <li>
          {% include "nav-links/data-sharing/explaining-use.html" %}
        </li>
        <li>
          {% include "nav-links/data-sharing/consent.html" %}
        </li>
        <li>
          {% include "nav-links/data-sharing/forms.html" %}
        </li>
      </ul>

    </div>
</div>

{% endblock %}
