{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Note taking | BRC support line manual
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/data-sharing">Data sharing</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">What information not to collect</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">What information not to collect</h1>
      <p>Do not collect any personal information about anyone who is not the person making the request, for example do not collect the name or medical requirements of a high-risk person.</p>
      <p>This is a service supporting local organisations. We are not collecting information on, or able to provide help to, individuals through this service. If information about individuals is submitted in the form, follow the steps described in the <a href="/data-sharing/information-governance-training">information governance training</a>.</p>
      <hr class="govuk-section-break govuk-section-break--visible">
      <br>
      <h3 class="govuk-heading-m">Related content</h3>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="/data-sharing/what-to-collect">What information to collect</a>
        </li>
        <li>
          <a href="/data-sharing/information-governance-training">Information Governance Training</a>
        </li>
        <li>
          <a href="/data-sharing/what-share-when">What information can you share when?</a>
        </li>
        <li>
          <a href="/data-sharing/data-sharing/how-using-information">How we are using people's information</a>
        </li>
      </ul>

    </div>
</div>

{% endblock %}
