{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  What data to collect | BRC support line manual
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/data-sharing">Personal information</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">What to collect</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">What personal information to collect</h1>

      <p class="govuk-body">We only collects the minimum information needed to give people support.</p>

      <p>Personal information collected:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>Caller’s name</li>
        <li>Caller's postcode</li>
        <li>Caller's phone number</li>
        <li>Summary notes</li>
        <li>
          Type of service they were signposted to, if any
        </li>
        <li>
          What extra support people immediately need. For example food or medication
        </li>
        <li>
          Consent to call them back
        </li>
        <li>
          Operator name
        </li>
        <li>
          Volunteer ID number
        </li>
      </ul>

      {% include "includes/related-content.html" %}
      <ul id="related-links" class="govuk-list">
        <li>
          <a href="/data-sharing/note-taking">Note taking</a>
        </li>
        <li>
          {% include "nav-links/data-sharing/explaining-use.html" %}
        </li>
        <li>
          {% include "nav-links/data-sharing/consent.html" %}
        </li>
        <li>
          {% include "nav-links/data-sharing/forms.html" %}
        </li>
      </ul>

    </div>
</div>

{% endblock %}
