
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Closing a referral in SharePoint | VCS EP manual
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/following-up-with-orgs">Following up with organisations</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Closing a referral in SharePoint</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Closing a referral in SharePoint</h1>

      <p class="govuk-body">To close a case, the liaison lead first needs to follow up with the local organisation, to check that:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>support the broker agreed was delivered</li>
        <li>the organisation is satisfied with the outcome of their request for support</li>
      </ul>
      <p>The system will prompt the liaison lead to do this once a month until the case is closed. If the organisation is satisfied with the support they received or other outcome of their request, the liaison lead can update the request status to ‘Complete’, which closes the case.</p>
        <hr class="govuk-section-break govuk-section-break--visible">
        <br>
        <h3 class="govuk-heading-m">Related content</h3>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="/following-up-with-orgs/getting-information-for-request">Getting more information on a request</a>
        </li>
        <li>
          <a href="/following-up-with-orgs/update-organisation">Update organisation with next steps</a>
        </li>
        <li>
          <a href="/following-up-with-orgs/close-request-sharepoint">Closing a request in SharePoint</a>
        </li>
      </ul>

    </div>
</div>



{% endblock %}
