
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Following up with organisations | VCS EP service manual
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/following-up-with-orgs">Following up with organisations</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Getting more information on a request</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Getting more information on a request</h1>

        <p class="govuk-body">At times you may need to follow up with an organisation. For example if:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>as a liaison lead you need more information to arrange support locally</li>
          <li>the information manager tells you more information is needed to arrange support at a regional level</li>
          <li>a broker needs more information to decide whether they can help</li>
        </ul>
      <h2 class="govuk-heading-l">Questions to ask</h2>
        <p>3 questions that might be useful:</p> 
        <ol class="govuk-list govuk-list--number">
          <li><strong>What information is being asked for and why?</strong><br>
            Write down any questions or specific details required.</li>
          <li><strong>When do they need the information by?</strong><br>
            Write down the dates.</li>
          <li><strong>How is it helping make a decision?</strong><br>
            Finding out how the information will help information managers and brokers reach decisions will help you understand what they are asking for.</li>
        </ol>
       <h2 class="govuk-heading-l">By email</h2>
        <p>Use our email templates to request further information.</p>
       <h2 class="govuk-heading-l">By phone</h2>
        <p>Use this checklist to get more context and detail on the request.</p>
        <ol class="govuk-list govuk-list--number">
          <li>Introduce yourself, saying you are calling from the Voluntary and Community Sector Emergency Partnership 'Get help as a local organisation service.</li>
          <li>Say is about the request [organisation name] submitted on [date].</li>
          <li>Confirm that the person you are talking to is the contact name on the form.</li>
          <li>Confirm the request for support.</li>
          <li>Explain that to progress the request you need further information on [what you need information on].</li>
          <li>Ask any further questions and take notes.</li>
          <li>Give an indication of the length of time it will take for action to be taken and the support to be provided, if you can.</li>
          <li>Thank the organisation.</li>
          <li>Ask if they would like an email to confirm what you discussed in your conversation with them.</li>
        </ol>
          <hr class="govuk-section-break govuk-section-break--visible">
          <br>
          <h3 class="govuk-heading-m">Related content</h3>
        <ul class="govuk-list govuk-list--bullet">
          <li>
            <a href="/following-up-with-orgs/getting-information-for-request">Getting more information on a request</a>
          </li>
          <li>
            <a href="/following-up-with-orgs/update-organisation">Update organisation with next steps</a>
          </li>
          <li>
            <a href="/following-up-with-orgs/close-request-sharepoint">Closing a request in SharePoint</a>
          </li>
        </ul>

    </div>
</div>

{% endblock %}
