
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Following up with organisations | VCS EP service manual
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/support-for-operators">Following up with organisations</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Getting information for a refferal</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Getting information for a referral</h1>

        <p class="govuk-body">At times you may need to follow up with an organisation. For example if:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>information is missing that you need as a liaison lead to arrange support at a local level</li>
          <li>the information manager tells you more information is needed to arrange support at a regional level</li>
          <li>a broker at regional level has asked for more information, to make a decision about whether they can help</li>
        </ul>
        <p class="govuk-body">3 questions that might be useful:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>What information is being asked for and why?
            Write down any questions or specific details required.</li>
          <li>When do they need the information by?
            Write down the dates.</li>
          <li>How is it helping make a decision?
            Finding out how the information will help information managers and brokers reach decisions will help you understand what they are asking for.</li>
        </ul>
       <h2 class="govuk-heading-m">By email</h2>
        <p>Use our email templates to request further information.</p> 
       <h2 class="govuk-heading-m">By phone</h2>
        <p>Use this checklist to get more context and detail on the request.</p>
        <ol class="govuk-list govuk-list--number">
          <li>Introduce yourself, saying you are calling from the Voluntary and Community Sector Emergency Partnership Get help as a local organisation service.</li>
          <li>Say is about the request [organisation name] submitted on [date].</li>
          <li>Confirm that the person you are talking to is the contact name on the form.</li>
          <li>Confirm the request for support.</li>
          <li>Explain that to progress the request you need further information on X Y Z.</li>
          <li>Ask any further questions and take notes.</li>
          <li>Give an indication of the length of time it will take for action to be taken and to provide the support, if you can.</li>
          <li>Thank the organisation.</li>
          <li>Ask if they would like an email to confirm the conversation outcome.</li>
        </ol>
        
    </div>
</div>

{% endblock %}
