
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Speak to supervisor | BRC support line manual
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/support-for-operators">Support for operators</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Speak to supervisor</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Speak to your supervisor</h1>

      <p class="govuk-body">You can call your supervisor about anything, including if you've had a difficult call.</p>

      <div class="govuk-panel govuk-panel--confirmation" style="background-color: #ffffff; border: 2px solid #0b0c0c">
        <div class="govuk-panel__body" style="color: #0b0c0c">
          Call your supervisor:<br><strong class="CopyThisText">020 3417 0320</strong>
        </div>
        <br>
        <div class="govuk-panel__body" style="color: #0b0c0c">
          Available 10am – 6pm<br>Seven days a week
        </div>
      </div>
      
      <button id="button" class="js-emailcopybtn govuk-button copy-button black-button CopyPhoneNumber">Copy phone number</button>

    </div>
</div>

{% endblock %}
