
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Update organisation with next steps | VCS EP manual
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/following-up-with-orgs">Following up with organisations</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Update organisation with next steps</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Update organisation with next steps</h1>

      <p class="govuk-body">When a broker has agreed to support an organisation, the system generates an email to the local organisation and the broker. This includes:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>broker's contact details</li>
          <li>type and details of support agreed</li>
          <li>when they can expect it</li>
        </ul>


        <ul class="govuk-list govuk-list--bullet">
          <li>
            <a href="/following-up-with-orgs/getting-information-for-request">Getting more information on a request</a>
          </li>
          <li>
            <a href="/following-up-with-orgs/update-organisation">Update organisations with next steps</a>
          </li>
          <li>
            <a href="/following-up-with-orgs/close-request-sharepoint">Closing a request in SharePoint</a>
          </li>
        </ul>
    </div>
</div>

{% endblock %}
